<table style="width: 100%">
    <tr>
        <td colspan="3" style="height: 100px;"></td>
    </tr>
    <tr>
        <td></td>
        <td style="width: 300px; text-align: center">
            <h1><span data-trans-key='کاربر شما منقضی شده است'> </span></h1>
            <h2><span data-trans-key='برای فعال‌سازی مجدد با مدیر سیستم تماس حاصل نمایید'> </span></h2>
        </td>
        <td></td>
    </tr>
</table>
