@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}

<hgroup class="title rtl">
    <p class="error">شما اجازه مشاهده جزییات این خطا را ندارید.</p>
</hgroup>
