@{
    Layout = "~/views/shared/main.cshtml";
    var isRelease = Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings["releaseMode"] ?? "true");
    var v = typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version.ToString();
    var version = typeof(BLL.ApplicationLicense.License).Assembly.GetName().Version;
    if (!isRelease) {
        v = (DateTime.Now - DateTime.MinValue).TotalMilliseconds.ToString();
    }


}
@*@if (isRelease) {
        <script src="~/dist/js/profile.js?v=@v"></script>

    } else {
        <script src="~/src/js/dashboardPage/navbar/navbar.js?v=@v" ></script>
        <script src="~/src/js/dashboardPage/app.js?v=@v" ></script>
        <script src="~/src/js/profile/profile.js?v=@v"></script>
    }*@

<script src="~/react-dist/app-bundle.js?v=@v"></script>


@*<div class="sadaf-root" ng-app="profileCat" ng-cloak>
        <div class="container-fluid" ng-controller="dashboardPageCtrl">
            <ng-include src="'@Href("~")dist/partial/dashboardPage/navbar/navbar.html'"></ng-include>
        </div>
    </div>*@

<div ng-app="profileCat" ng-cloak style="overflow: auto;height: 100%;">
    <input type="hidden" value="@ViewBag.lang" id="lang" />
    @Html.AntiForgeryToken()
    <div ng-controller="cGeneral">
        <div class="ui container" style="margin-top:70px">
            <ng-include src="'@Href("~")react-dist/partial/dashboardPage/navbar/navbar.html'"></ng-include>
            <div class="ui grid stackable">
                <div class="four wide column">
                    <div class="ui header">{{'profile_personal_settings' | translate}}</div>
                    <div class="ui secondary vertical pointing menu">
                        @*<li class="list-group-item" ng-class="{activate : path == '/info'}"><a href="#info">مشخصات</a></li>*@
                        <div class="item" ng-class="{active : path == '/profile'}"><a xhref="#profile" href="profile/#/profile" xonclick="document.location.hash='profile';">{{'profile_change_info' | translate}}</a></div>
                        <div class="item" ng-class="{active : path == '/changepass'}"><a xhref="#changepass" href="profile/#/changepass" xonclick="document.location.hash='changepass';">{{'profile_change_pass' | translate}}</a></div>
                        @if (ViewBag.securityCertPatch) {
                            <div class="item" ng-class="{active : path == '/history'}"><a xhref="#changepass" href="profile/#/history" xonclick="document.location.hash='history';">{{'login history' | translate}}</a></div>
                            <div class="item" ng-class="{active : path == '/active_sessions'}"><a xhref="#changepass" href="profile/#/active_sessions" xonclick="document.location.hash='active_sessions';">{{'active sessions' | translate}}</a></div>
                        }
                        <div class="item" ng-class="{active : path == '/settings'}"><a xhref="#settings" href="profile/#/settings" xonclick="document.location.hash = 'settings';">{{'profile_general_setting' | translate}}</a></div>
                    </div>

                </div>
                <div class="eight wide column">
                    <ng-view>

                    </ng-view>

                </div>
            </div>
        </div>

    </div>
</div>
