<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DashboardAppDataEntities" connectionString="metadata=res://*/DashboardAppData.csdl|res://*/DashboardAppData.ssdl|res://*/DashboardAppData.msl;&#xA;provider=System.Data.SqlClient;provider connection string=&quot;&#xA;                data source=.;&#xA;         initial catalog=sadaf;&#xA;         user id=sadaf;       &#xA;         password=qazwsx@123;&#xA;                persist security info=True;Encrypt=true;TrustServerCertificate=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="title" value="داشبورد مدیریتی صدف" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="CustomerId" value="B299FE40-B2FF-675C-8F19-A19CEDBD9D52" />
    <!--<add key="CustomerId" value="8F37A54F-0030-4F67-A2FA-6D74E386CDDD" />-->
    <add key="customerSupportLink" value="http://localhost:14128/web/home/customer" />
    <add key="debug" value="true" />
    <add key="releaseMode" value="false" />
    <add key="justChrome" value="false" />
    <add key="trustedAllCert" value="true" />
    <add key="useColumnStoreIndex" value="false" />
    <add key="log" value="true" />
    <add key="SmsUrl" value=" http://my.candoosms.com/services/URLService/URN/" />
    <add key="SmsMethod" value="GET" />
    <add key="SmsContactJoinPattern" value="||," />
    <add key="SmsData" value="username=xwater21&amp;password=xPRhome14&amp;command=send&amp;src=20000122&amp;destinations=@(contacts)&amp;body=@(body)&amp;flash=0" />
    <add key="SmsDataType" value="text" />
    <add key="SmsContentType" value="application/x-www-form-urlencoded" />
    <!--<add key="SmsUrl" value="http://37.130.202.188/services.jspd" />
    <add key="SmsMethod" value="POST" />
    <add key="SmsContactJoinPattern" value="&quot;|&quot;|," />
    <add key="SmsData" value="{op:'send',uname:'xxx',pass:xxx,to:[@(contacts)],message:'@(body)',from:100020400}" />
    <add key="SmsDataType" value="json" />
    <add key="SmsContentType" value="json" />
    -->
    <!--<add key="SmsParameters" value="{'username':'a', 'password': 'a', 'number':'22', 'maxContact':'20'}" />-->
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="secureConnectionToDb" value="Encrypt=true;TrustServerCertificate=true;" />
    <add key="password" value="FkdO5AnIKGdJNFwQf82UUIOOuu054aKr" />
    <add key="showCopyRightLogo" value="false" />
    <add key="EnableCorsAttribute" value="false" />
    <add key="AbsoluteUri" value="" />
    <add key="ScheduleType" value="sql" />
    <add key="WebServiceTimeout" value="60" />
    <add key="SecurityCertPatch" value="false" />
    <add key="SmsChartDatePartition" value="true" />
    <add key="cache" value="false" />
    <add key="captcha" value="false" />
    <add key="timeout" value="false" />
    <add key="lockSession" value="false" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-US" fileEncoding="utf-8" uiCulture="en-US" />
    <!--<customErrors mode="On" defaultRedirect="~/error/error">
      <error statusCode="403" redirect="~/error/error"/>
    </customErrors>-->
    <compilation targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <!--بیشترین حجم درخواست مثل ارسال فایل به مقیاس کیلوبایت در این قسمت تنظیم می‌شود-->
    <httpRuntime targetFramework="4.6" maxRequestLength="20454545" enableVersionHeader="false" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" name="sadaf-dashboard" />
    </authentication>
    <sessionState timeout="2880" cookieName="sadaf-session-id" />
    <customErrors mode="On" />
  </system.web>
  <system.webServer>
    <!--<httpErrors errorMode="Detailed" existingResponse="Replace">
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="403" path="/Error/error" responseMode="ExecuteURL" />
      <error statusCode="404" path="/Error/error" responseMode="ExecuteURL" />
      <error statusCode="500" path="/Error/error" responseMode="ExecuteURL" />
    </httpErrors>-->
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/woff" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!--<httpProtocol>
    <customHeaders>
      <add name="X-Frame-Options" value="ALLOW-FROM *" />
    </customHeaders>
  </httpProtocol>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
    <legacyHMACWarning enabled="0" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <defaultProxy enabled="true" />
    <settings />
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <location path="dist">
    <system.webServer>
      <handlers>
        <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="4194304" />
      </handlers>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, HEAD, OPTIONS" />
          <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: FD103CA2-0949-41D1-AA3F-31DBD7B56E97-->