<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DashboardAppDataEntities" connectionString="metadata=res://*/DashboardAppData.csdl|res://*/DashboardAppData.ssdl|res://*/DashboardAppData.msl; provider=System.Data.SqlClient;provider connection string=&quot; data source=.\sqlserver2022; initial catalog=sadaf; user id=sadaf; password=x; persist security info=True; Encrypt=true; TrustServerCertificate=true; MultipleActiveResultSets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="IgnoreFileCheck" value="false" />
    <add key="disableF1" value="false" />
    <add key="ResetPassSessionMinutes" value="30" />
    <add key="oidc:Authority" value="https://sp.pmo.ir" />
    <add key="oidc:ClientId" value="DashboardSadaf" />
    <add key="oidc:ClientSecret" value="ASDikauw84865ajkSDidqpdfhnvWEd" />
    <add key="oidc:RedirectUrl" value="https://bi.pmo.ir/Account/checktoken" />
    <!--<add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />-->
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="title" value="داشبورد مدیریتی صدف" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="CustomerId" value="ccc-x" />
    <add key="customerSupportLink" value="http://localhost:14128/web/home/customer" />
    <add key="debug" value="true" />
    <add key="showIframe" value="false" />
    <add key="localHostNameForSchedules" value="https://localhost" />
    <add key="ScheduleType" value="win" />
    <add key="releaseMode" value="true" />
    <add key="picStrictMode" value="false" />
    <!--<add key="justChrome" value="false" />-->
    <add key="trustedAllCert" value="true" />
    <add key="useColumnStoreIndex" value="false" />
    <add key="log" value="true" />
    <add key="wms-rest-api" value="https://gisfava.isfahan.ir:6443/arcgis/rest/services" />
    <add key="useTokenWebservice" value="false" />
   
    
    <add key="SmsUrl" value="https://panel.hisms.ir/webservice/rest/sendMessageOneToMany" />
    <add key="SmsMethod" value="POST" />
    <add key="SmsContactJoinPattern" value="&quot;|&quot;|," />
    <add key="SmsData" value="{&quot;username&quot;:&quot;cc&quot;,&quot;password&quot;:&quot;cc&quot;,&quot;originator&quot;:&quot;xx&quot;,&quot;content&quot;:&quot;@(body)&quot;,&quot;destinations&quot;:[@(contacts)]}" />
    <add key="SmsDataType" value="json" />
    <add key="SmsDebug" value="false" />
    <add key="SmsContentType" value="application/json" />
    <add key="SmsMaxCharSize" value="300" />
    
    <!--<add key="SmsUrl" value="https://sms.magfa.com/api/http/sms/v2/send" />
    <add key="SmsNewline" value="%5C%5Cn" />
    <add key="SmsData" value="{&quot;senders&quot;:[30006251];,&quot;recipients&quot;:[@(contacts)],&quot;messages&quot;:[&quot;@(body)&quot;]}" />
    <add key="SmsMethod" value="GET" />
    <add key="SmsContactJoinPattern" value="&quot;|&quot;|," />
    <add key="SmsDataType" value="JSON" />
    <add key="SmsDebug" value="true" />
    <add key="SmsContentType" value="application/json" />
    <add key="SmsHeaders" value="{&quot;content-type&quot;:&quot;application/json&quot;,&quot;Authorization&quot;:&quot;Basic emFtaW5vbWFza2FuXzMwMDA2MjUxL25saG86VUpGWkVCU1A4bnpWTkVMZg==&quot;}" />-->

    


    <add key="vs:EnableBrowserLink" value="false" />
    <add key="secureConnectionToDb" value="Encrypt=true;TrustServerCertificate=true;" />
    <add key="password" value="FkdO5AnIKGdJNFwQf82UUIOOuu054aKr" />
    <add key="showCopyRightLogo" value="true" />
    <add key="EnableCorsAttribute" value="true" />
    <add key="CorsOrigin" value="*" />
    <add key="AbsoluteUri" value="" />
    <add key="WebServiceTimeout" value="60" />
    <add key="SecurityCertPatch" value="true" />
    <add key="SmsChartDatePartition" value="true" />
    <add key="cache" value="false" />
    <add key="captcha" value="false" />
    <!--<add key="timeout" value="true" />-->
    <!--<add key="lockSession" value="true" />-->
    <add key="DatasourceMetadata" value="false" />
    <add key="useApp" value="true" />
    <add key="chartExportApi" value="true" />
    <add key="themes" value="true" />
    <add key="eventNotification" value="true" />
    <add key="userVerification" value="false" />
    <add key="avoidUserEnumoration" value="false" />
    <add key="updateEnable" value="false" />
    <add key="compareData" value="true" />
    <add key="loginPreventRules_AdminAllow" value="true" />
    <add key="telegram" value="false" />
    <add key="emailCopyright" value="false" />
    <add key="kpiForms" value="true" />
    <add key="formVersioning" value="true" />
    <add key="chartLevelType" value="true" />
    <add key="realMap" value="true" />
    <add key="formPrint" value="true" />
    <add key="formBatch" value="true" />
    <add key="authenticateToken" value="awpxjqnIozKHueQvXAccjCuvJzjSiqcg" />
    <add key="defaultConnectionString" value="data source=.;initial catalog=exon-api;user id=sadaf;password=xxx" />
    <!--این اکانت برای اتصال به سرویس آنالیز سرویس استفاده می‌شود و باید در قسمت 
    Security
    آنالیز سرویس به این اکانت دسترسی داده شود. لازم به ذکر است که این اکانت به صورت 
    ویندوزی باید تعریف شود-->
    <add key="daxModel" value="true" />
    <add key="daxModelBbName" value="sadafdemo" />
    <add key="olap-connection" value="DataSource=localhost\sqlserver2022" />
    <add key="olap-user" value="a" />
    <add key="olap-pass" value="a" />
    <add key="useSSO" value="true" />
    <add key="sso_loginKeyLable" value="ورود با پارسو" />
    <add key="sso_service" value="http://localhost:8080/login/cas" />
    <add key="sso_casserver" value="https://sso.razi.ac.ir/cas/" />
    <add key="maxIntervalFetchDiff" value="240" />
    <add key="appLocalUrl" value="https://localhost:9833" />
    <add key="authin_server_url" value="https://demo.authin.ir" />
    <add key="authin_client_id" value="e71aff07-a4bf-44ce-a8df-f7486d699cf0" />
    <add key="excelImport" value="false" />
    <add key="fastreport" value="true" />
    <add key="CSPframeAncestors" value="'none'" />
    <add key="CSPframeSrc" value="'none'" />
    <add key="disableAntiClickjack" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--در حالت استفاده از iframe باید این کلید ست شود-->
    <!--<httpCookies sameSite="None" requireSSL="true" />-->
    <globalization culture="en-US" fileEncoding="utf-8" uiCulture="en-US" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <!--بیشترین حجم درخواست مثل ارسال فایل به مقیاس کیلوبایت در این قسمت تنظیم می‌شود-->
    <httpRuntime targetFramework="4.6" maxRequestLength="20454545" enableVersionHeader="false" />
    <authentication mode="Forms">
      <forms cookieless="UseDeviceProfile" loginUrl="~/Account/Login" name="sadaf-dashboard" timeout="2880" />
    </authentication>
    <sessionState timeout="2880" cookieName="sadaf-session-id" />
    <!--<customErrors mode="Off" />-->
    <customErrors defaultRedirect="~/error/GeneralError.aspx" mode="Off">
      <error statusCode="403" redirect="~/error/Forbidden.aspx" />
      <error statusCode="404" redirect="~/error/PageNotFound.aspx" />
      <error statusCode="500" redirect="~/error/InternalError.aspx" />
    </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed">
      <remove statusCode="400" />
      <error path="/Error" statusCode="400" responseMode="Redirect" />
      <remove statusCode="404" />
      <error path="/Error" statusCode="404" responseMode="Redirect" />
      <remove statusCode="403" />
      <error path="/Error" statusCode="403" responseMode="Redirect" />
      <remove statusCode="500" />
      <error path="/Error" statusCode="500" responseMode="Redirect" />
    </httpErrors>
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".apk" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/woff2" />
      <mimeMap fileExtension=".apk" mimeType="apk/application" />
    </staticContent>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="1073741824" />
        <verbs>
          <add verb="OPTIONS" allowed="false" />
          <add verb="HEAD" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="TRACK" allowed="false" />
          <add verb="PUT" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!--<httpProtocol>
    <customHeaders>
      <add name="X-Frame-Options" value="ALLOW-FROM *" />
    </customHeaders>
  </httpProtocol>-->
    <!--<rewrite>
      <rules>
        <rule name="HTTPS force" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <validation validateIntegratedModeConfiguration="false" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="false" />
        <add mimeType="application/json; charset=utf-8" enabled="true" lockItem="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="application/json" enabled="true" />
      </staticTypes>
    </httpCompression>
    <!--<serverRuntime uploadReadAheadSize="2147483647"></serverRuntime>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IdentityModel" publicKeyToken="e7877f4675df049f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.SPClient.Interfaces" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.48.0.0" newVersion="19.48.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.1.0" newVersion="2.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.12.0.0" newVersion="106.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>


      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>


    </assemblyBinding>
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <connectionManagement>
      <clear />
      <add address="*" maxconnection="1000000" />
    </connectionManagement>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <location path="dist">
    <system.webServer>
      <security>
        <requestFiltering removeServerHeader="true" />
      </security>
      <handlers>
        <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="4194304" />
      </handlers>
      <httpProtocol>
        <customHeaders>
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="x-content-type-options" value="nosniff" />
          <add name="Referrer-Policy" value="origin" />
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
          <add name="content-security-policy" value="default-src 'self';script-src * data: blob: 'unsafe-inline' 'unsafe-eval'; img-src data: blob: *;font-src data: *;style-src 'unsafe-inline' 'self';object-src 'self';child-src 'self'; frame-ancestors 'none'; frame-src 'self';" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="images">
    <system.webServer>
      <security>
        <requestFiltering removeServerHeader="true" />
      </security>
      <handlers>
        <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="4194304" />
      </handlers>
      <httpProtocol>
        <customHeaders>
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="x-content-type-options" value="nosniff" />
          <add name="Referrer-Policy" value="origin" />
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
          <add name="content-security-policy" value="default-src 'self';script-src * data: blob: 'unsafe-inline' 'unsafe-eval'; img-src data: blob: *;font-src data: *;style-src 'unsafe-inline' 'self';object-src 'self';child-src 'self'; frame-ancestors 'none'; frame-src 'self';" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="react-dist">
    <system.webServer>
      <security>
        <requestFiltering removeServerHeader="true" />
      </security>
      <handlers>
        <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="4194304" />
      </handlers>
      <httpProtocol>
        <customHeaders>
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="x-content-type-options" value="nosniff" />
          <add name="Referrer-Policy" value="origin" />
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
          <add name="content-security-policy" value="default-src 'self';script-src * data: blob: 'unsafe-inline' 'unsafe-eval'; img-src data: blob: *;font-src data: *;style-src 'unsafe-inline' 'self';object-src 'self';child-src 'self'; frame-ancestors 'none'; frame-src 'self';" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="log">
    <system.webServer>
      <staticContent>
        <remove fileExtension=".txt" />
      </staticContent>
      <security>
        <requestFiltering removeServerHeader="true">
          <requestLimits maxAllowedContentLength="1073741824" />
          <verbs>
            <add verb="OPTIONS" allowed="false" />
            <add verb="HEAD" allowed="false" />
            <add verb="TRACE" allowed="false" />
            <add verb="TRACK" allowed="false" />
            <add verb="PUT" allowed="false" />
            <add verb="POST" allowed="false" />
            <add verb="GET" allowed="false" />
          </verbs>
        </requestFiltering>
      </security>
      <handlers>
        <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="4194304" />
      </handlers>
      <httpProtocol>
        <customHeaders>
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="x-content-type-options" value="nosniff" />
          <add name="Referrer-Policy" value="origin" />
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
          <add name="content-security-policy" value="default-src 'self';script-src * data: blob: 'unsafe-inline' 'unsafe-eval'; img-src data: blob: *;font-src data: *;style-src 'unsafe-inline' 'self';object-src 'self';child-src 'self'; frame-ancestors 'none'; frame-src 'self';" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>