
<menu-item class="panel ">
    <menu-header>{{ 'شاخص‌های محاسباتی' | translate }}</menu-header>
    <menu-body>
        <div>
            <style>
                #filter-info .item:hover {
                    background-color: #f2f2f2;
                }
            </style>
            <div layout="column" style="margin-bottom:60px">
                <div layout="row" layout-align="start center">
                    <b>:: {{'calculate_fields_list' | translate}}  </b>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="add($event)">
                        <span class="material-icons">add</span>
                        <md-tooltip>{{'add' | translate}}</md-tooltip>
                    </md-button>
                </div>
                <div ng-repeat="i in calculatedFields.fields track by $index" class="item" layout="row" layout-align="start center">
                    {{i.name}}
                    <span class="form-divider flex" flex=""></span>
                    <div class="md-icon-button " style="padding:4px;" ng-click="edit($index, $event)" title="{{'edit' | translate}}">
                        <span class="material-icons small small-size pointer">edit</span>
                    </div>

                    <div class="md-icon-button " style="padding:4px;" ng-click="calculatedFields.fields.splice($index, 1);refreshChart()" title="{{'remove' | translate}}">
                        <span class="material-icons small small-size pointer">delete</span>
                    </div>
                </div>

                <p ng-hide="calculatedFields.fields && calculatedFields.fields.length" class="small text-center">{{ 'داده‌ای وجود ندارد' | translate }}</p>


            </div>

            <div class="ui modal calculate-field-modal">
                <div class="header">
                    <h3 xstyle="margin-bottom:40px">{{'شاخص محاسباتی' | translate}}</h3>
                </div>
                <div class="content">

                    <div class="ui form">
                        <div class="ui field">
                            <label>{{ 'نام' | translate }}</label>
                            <input ng-model="currentFormula.name" type="text" />
                        </div>
                    </div>

                    <div class="tw-text-left" ng-if="renderEditor">
                        <feditor nosort flex ng-model="currentFormula.formula" lang="sql" list="map" type="calc"></feditor>
                    </div>


                    <div class="label label-info">پیشنهاد می‌شود به جای استفاده از ایندکس ستون از نام ستون استفاده شود تا در حالت‌ مرتب کردن مشکلی به وجود نیاید </div>


                    <div ng-click="helpC = !helpC" style="font-size:0.8em; color:gray;cursor:pointer;">{{'help' | translate}}</div>
                    <div style="font-size:0.8em; color:gray;" uib-collapse="!helpC">
                        <p class="help-block small desc">
                            از این فرمول برای دسترسی به مقادیر ردیف‌های دیگر اطلاعات استفاده می‌شود.
                            هر سلول از جدول اطلاعات به صورت
                            <span style="display:inline-block; direction:ltr">

                                <code>{R<+ یا ->&lt;number&gt;, C&lt;number&gt;}</code>
                            </span>
                            نمایش داده می‌شود. R نشان دهنده ردیف است و عددی که بعد از آن نمایش داده می‌شود
                            مکان نسبی ردیف مورد نظر به ردیف جاری را نشان می‌دهد. برای مثال ردیف قبلی با
                            <code>R-1</code> و ردیف بعدی با <code>R+1</code>
                            نمایش داده می‌شود.

                            C نشان دهنده ستون است و عددی که بعد از آن آورده می‌شود برای مشخص کردن ستون مورد نظر است.
                            برای نمونه ستون اول با
                            <code>C0</code>و ستون دوم با <code>C1</code>
                            نشان داده می‌شود.

                        </p>
                        <p class="help-block small">
                            {{ 'مثال' | translate }}<br />
                            ستون اول از ردیف قبلی :
                            <code>{R-1, C0}</code>
                            <br />
                            اختلاف ستون اول با ستون اول از ردیف قبلی :
                            <code>{R+0, C0} - {R-1, C0}</code>
                            <br />
                        </p>
                        <p class="help-block small" style="direction:ltr;">
                            توابع قابل استفاده<br />
                            <code>sum([column])</code><br />
                            <code>min([column])</code><br />
                            <code>max([column])</code><br />
                            <code>count([column])</code><br />
                            <code>avg([column])</code><br />
                            <code>sum_row()</code><br />
                            <code>min_row()</code><br />
                            <code>max_row()</code><br />
                            <code>avg_row()</code><br />
                            <code>count_row()</code><br />
                        </p>
                    </div>


                </div>
                <div class="actions">
                    <div class="ui button green" ng-class="{loading: savePerProgress}" ng-click="addFormula()" ng-disabled="savePerProgress">
                        {{ !savePerProgress ? ('ذخیره' | translate) : ('در حال ذخیره‌سازی' | translate)}}
                    </div>
                </div>
            </div>


        </div>
    </menu-body>
</menu-item>


<script type="text/ng-template" id="editor/calc/calc-fields-modal.html">

    <md-dialog aria-label="{{'شاخص محاسباتی' | translate}}" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'شاخص محاسباتی' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="material-icons">close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout-margin class="md-dialog-content">

                <div class="ui form">
                    <div  class="ui field">
                        <label>{{ 'نام' | translate }}</label>
                        <input ng-model="parent.currentFormula.name" type="text" />
                    </div>
                </div>

                <!--<md-input-container class="md-block">
        <label>{{ 'فرمول' | translate }}</label>
        <input class="ltr formula-input" style="font-family:monospace" ng-model="parent.currentFormula.formula" type="text" />
    </md-input-container>-->
                <div>
                    <feditor flex ng-model="parent.currentFormula.formula" lang="sql" list="parent.map"></feditor>
                </div>
                <div>
                {{parent.map | json}}
                </div>
                <div class="label label-info">پیشنهاد می‌شود به جای استفاده از ایندکس ستون از نام ستون استفاده شود تا در حالت‌ مرتب کردن مشکلی به وجود نیاید </div>

                <ul style="font-size:0.8em;">
                    لیست ستون‌ها
                    <li ng-repeat="k in parent.$parent.ngModel.series">
                        <span class="inline pointer" ng-click="addColumn(k, $index)" style="font-size: 0.8em;background-color: #efefef;padding: 4px 8px;border-radius: 4px;margin-top:4px;">c{{$index}} یا [{{k}}]</span> :{{k}}
                    </li>
                </ul>

                <div ng-click="helpC = !helpC" style="font-size:0.8em; color:gray;cursor:pointer;">{{'help' | translate}}</div>
                <div style="font-size:0.8em; color:gray;" uib-collapse="!helpC">
                    <p class="help-block small desc">
                        از این فرمول برای دسترسی به مقادیر ردیف‌های دیگر اطلاعات استفاده می‌شود.
                        هر سلول از جدول اطلاعات به صورت
                        <span style="display:inline-block; direction:ltr">

                            <code>{R<+ یا ->&lt;number&gt;, C&lt;number&gt;}</code>
                        </span>
                        نمایش داده می‌شود. R نشان دهنده ردیف است و عددی که بعد از آن نمایش داده می‌شود
                        مکان نسبی ردیف مورد نظر به ردیف جاری را نشان می‌دهد. برای مثال ردیف قبلی با
                        <code>R-1</code> و ردیف بعدی با <code>R+1</code>
                        نمایش داده می‌شود.

                        C نشان دهنده ستون است و عددی که بعد از آن آورده می‌شود برای مشخص کردن ستون مورد نظر است.
                        برای نمونه ستون اول با
                        <code>C0</code>و ستون دوم با <code>C1</code>
                        نشان داده می‌شود.

                    </p>
                    <p class="help-block small">
                        {{ 'مثال' | translate }}<br />
                        ستون اول از ردیف قبلی :
                        <code>{R-1, C0}</code>
                        <br />
                        اختلاف ستون اول با ستون اول از ردیف قبلی :
                        <code>{R+0, C0} - {R-1, C0}</code>
                        <br />
                    </p>
                    <p class="help-block small">
                        توابع قابل استفاده<br />
                        <code>sum([column])</code><br />
                        <code>min([column])</code><br />
                        <code>max([column])</code><br />
                        <code>count([column])</code><br />
                        <code>avg([column])</code><br />
                        <code>sum_row()</code><br />
                        <code>min_row()</code><br />
                        <code>max_row()</code><br />
                        <code>avg_row()</code><br />
                        <code>count_row()</code><br />
                    </p>
                </div>
            </div>


        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save()">
                {{ 'ذخیره' | translate }}
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</script>



