<div class="form-row" layout="row" layout-align="start center">
    <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
            <label class="">
                <input type="checkbox" ng-change="ngChange()" ng-model="model.enable" />
                استفاده از رنگ‌های مختلف برای داده‌ها
            </label>
        </div>
    </div>
</div>

<div class="ui mini segment" ng-show="model.enable">
    <div class="ui mini compact button" ng-click="clear()">پاک کردن</div>
    <div class="form-row" layout="row" layout-align="start center">
        <label class="col-sm-4">{{ 'الگوی رنگ' | translate }}</label>
        <span class="form-divider" flex></span><div class="col-sm-8">
            <select class="selectpicker-x form-control" ng-model="model.palette" ng-change="colorSet(true);ngChange()"
                    ng-options="i.name as  i.value for i in [
                                    {name:'1', value:'الگوی رنگ 10 ' },
                                    {name:'2', value:'الگوی رنگ 20 تایی یک' },
                                    {name:'3', value:'الگوی رنگ 20 تایی دو'},
                                    {name:'4', value:'الگوی رنگ 20 تایی سه'},
                                    ]">
            </select>
        </div>
    </div>

    <div ng-repeat="(key, value) in model.data" ng-if="$index<100">
        <div class="form-row" layout="row" layout-align="start center">
            <label class="col-sm-4">{{key}}</label>
            <span class="form-divider" flex></span>
            <div class="col-sm-8">
                <!-- <div md-color-picker ng-model="model.data[key].color" md-color-default-tab="'genericPalette'" on-change="ngChange()"></div> -->
                <color-picker-ngx model="model.data[key].color" on-change="ngChange(value)"></color-picker-ngx>

            </div>
        </div>
    </div>
</div>


