
<menu-item class="panel ">
    <menu-header>{{ 'استثنا در فیلتر کلی' | translate }}</menu-header>
    <menu-body>
        <div class="prop-section-contain">

            <div class="form-row" layout="row" layout-align="start center">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="">
                            <input type="checkbox" ng-model="filterException.disableFilter"> {{ 'عدم اعمال فیلتر' | translate }}
                        </label>
                        <p class="help-block small">{{ 'با انتخاب این گزینه، فیلترهای پویای صفحه داشبورد روی این نمودار اعمال نمی‌شوند' | translate }}</p>
                    </div>
                </div>
            </div>
            <style> 
                #filter-info .item:hover {
                    background-color: #f2f2f2;
                }
            </style>
            <div layout="column" ng-hide="filterException.disableFilter">
                <div layout="row" layout-align="start center">
                    <b>:: {{'filter_except_list' | translate }}  </b>
                    <span flex></span>
                    <md-button class="md-icon-button">
                        <span class="material-icons" ng-hide="(filterException.fields && filterException.fields.length) || (filterException.allFields && filterException.allFields.length)" ng-click="showDialog($event)">add</span>
                        <span class="material-icons" ng-show="(filterException.fields && filterException.fields.length) || (filterException.allFields && filterException.allFields.length)" ng-click="showDialog($event)">edit</span>
                    </md-button>
                </div>

                <!--<span class="glyphicon icon-btn pointer" ng-class="(filterException.fields && filterException.fields.length) || (filterException.allFields && filterException.allFields.length) ? 'glyphicon-pencil' : 'glyphicon-plus' " data-toggle="modal" data-target="#select-except-modal"> </span>-->
                <p class="help-block small">{{'filter_except_msg1' | translate}}</p>
                <div>

                    <div ng-repeat="i in filterException.allFields track by $index" class="item">
                        <!--{{ 'همه فیلدهای' | translate }}<b> {{getDatasourceName(i) }}</b>
                        <span class="material-icons small" ng-click="filterException.allFields.splice($index, 1)">close</span>-->

                        <sadaf-removable on-delete="filterException.allFields.splice($index, 1)">
                            {{ 'همه فیلدهای' | translate }}<b> {{getDatasourceName(i) }}</b>
                        </sadaf-removable>

                    </div>
                    <div ng-repeat="i in filterException.fields track by $index" class="item">
                        <sadaf-removable on-delete="filterException.fields.splice($index, 1)">
                        {{i.Name}}
                        </sadaf-removable>
                    </div>
                </div>
            </div>




        </div>
    </menu-body>
</menu-item>


<script type="text/ng-template" id="editor/filter-except/select-except-modal.html">

    <md-dialog aria-label="{{'filter_except_select_fields' | translate}}" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'filter_except_select_fields' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="material-icons">close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <style>
                .datasource-block + .datasource-block {
                    /*margin-top: 20px;*/
                }

                .datasource-blockx {
                    padding: 8px;
                }

                    .datasource-blockx .title {
                        margin-bottom: 8px;
                        padding-bottom: 8px;
                        border-bottom: 1px solid #eee;
                    }
            </style>
            <div style="height:250px; overflow:auto; padding:8px 16px">

                <div ng-show="parent.datasource">
                    <div class="datasource-blockx pull-left" ng-repeat="u in parent.datasource.CubeInfo.Dimensions">
                        <div class="title">
                            {{u.Name}}
                        </div>
                        <div>
                            <label class="">
                                <input type="checkbox" ng-click="parent.toggleAllToList(u)" ng-checked="parent.filterException.allFields && parent.filterException.allFields.indexOf(u.UniqueName)!=-1">
                                All
                            </label>
                        </div>

                        <div ng-hide="parent.filterException.allFields && parent.filterException.allFields.indexOf(u.UniqueName)!=-1">
                            <div ng-repeat="i in u.Hierarchies">
                                <label class="">
                                    <input type="checkbox" ng-click="parent.toggleToList(i)" ng-checked="parent.isInList(i)">
                                    {{i.Name}}
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="parent.getEditor( parent.measures[parent.selectedMeasure]); parent.changeFormula(parent.measures[parent.selectedMeasure]);parent.refreshChart(); cancel()">
                {{ 'ذخیره' | translate }}
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</script>
