<div class="form-row" layout="row" layout-align="start center" ng-show="!query.length || ('تازه شدن داده‌ها').indexOf(query)!=-1">
    <label class="col-sm-4">{{ 'تازه شدن داده‌ها' | translate }}</label>
    <span class="form-divider" flex></span>
    <div class="col-sm-8">
        <select
            class="selectpicker-x form-control"
            ng-model="model.refreshPeriod"
            ng-change="change()"
            ng-options="color.name as  color.value for color in [
                                    {name:'0', value: 'غیر فعال'  },
                                    {name:'30', value: 'سی ثانیه'  },
                                    {name:'60', value:'یک دقیقه' },
                                    {name:'120', value:'دو دقیقه' },
                                    {name:'300', value:'پنج دقیقه' },
                                    {name:'600', value:'ده دقیقه' },
                                    {name:'1800', value:'سی دقیقه' },
                                    {name:'3600', value:'یک ساعت' },
                                    {name:'7200', value:'دو ساعت' },
                                    {name:'86400', value:'یک روز' },
                                    ]"
        ></select>
    </div>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-show="!query.length || ('باز کردن صفحه با کلیک روی نمودار').indexOf(query)!=-1">
    <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
            <label class=""> <input type="checkbox" ng-model="model.openDashboard.checked" /> {{ 'باز کردن صفحه با کلیک روی نمودار' | translate }} </label>
        </div>
    </div>
</div>

<div ng-show="model.openDashboard.checked " class="ui secondary segment">
    <div
        class="form-row"
        layout="row"
        layout-align="start center"
        ng-show="model.openDashboard && model.openDashboard.checked &&((!query.length || ('operation type'|translate).indexOf(query)!=-1)) "
    >
        <label class="col-sm-4">{{ 'operation type' | translate }}</label>
        <span class="form-divider" flex></span>
        <div class="col-sm-8">
            <select
                class="form-control"
                ng-model="model.openDashboard.type"
                ng-options="i.id as i.name for i in [ {id:'dashboard', name:'صفحه داشبورد'}, {id:'link', name:'لینک '},{id:'back', name:'بازگشت'}]"
            ></select>
        </div>
    </div>

    <div
        class="form-row"
        layout="row"
        layout-align="start center"
        ng-show="model.openDashboard.type == 'dashboard' && (!query.length || ('انتخاب صفحه' | translate).indexOf(query)!=-1)"
    >
        <label class="col-sm-4">{{ 'انتخاب صفحه' | translate }}</label>
        <span class="form-divider" flex></span>
        <div class="col-sm-8">
            <sm-dropdown class="selection search mini" model="model.openDashboard.dashboardId" items="menus" label="item.name" value="item.id"></sm-dropdown>
        </div>
    </div>

    <div class="form-row" layout="row" layout-align="start center" ng-show="model.openDashboard.type == 'link' && (!query.length || ('لینک' | translate).indexOf(query)!=-1)">
        <label class="col-sm-4">{{ 'لینک' | translate }}</label>
        <span class="form-divider" flex></span>
        <div class="col-sm-8">
            <input
                type="text"
                class="form-control ltr"
                placeholder="{{ 'لینک' | translate }}"
                ng-model="model.openDashboard.link"
                ng-change="$parent.change()"
                ng-model-options="{ updateOn: 'blur' }"
            />
        </div>
    </div>

    <div
        class="form-row"
        layout="row"
        layout-align="start center"
        ng-show="model.openDashboard.type == 'dashboard' && (!query.length || ('operation type' | translate).indexOf(query)!=-1)"
    >
        <label class="col-sm-4">{{ 'operation type' | translate }}</label>
        <span class="form-divider" flex></span>
        <div class="col-sm-8">
            <select
                class="form-control"
                ng-model="model.openDashboard.passFilterType"
                ng-options="i.id as i.name for i in [ {id:'no-param', name:'بدون ارسال پارامتر'}, {id:'value', name:'مقدار لایه نهایی'},{id:'value-with-other', name:'تمامی فیلترهای صفحه'}]"
            ></select>
        </div>
    </div>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-show="!query.length || ('غیرفعال کردن نمودار').indexOf(query)!=-1">
    <div class="checkbox">
        <label> <input type="checkbox" ng-model="model.disable" ng-change="change()" /> غیرفعال کردن نمودار </label>
    </div>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-show="!query.length || ('Dont show title' | translate).indexOf(query)!=-1">
    <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
            <label class=""> <input type="checkbox" ng-model="model.dontShowTitle" ng-change="change()" /> {{ 'Dont show title' | translate }} </label>
        </div>
    </div>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-if="!model.dontShowTitle && (!query.length || ('title font' | translate).indexOf(query)!=-1)">
    <label class="col-sm-4">{{'title font' | translate}}</label>
    <span class="form-divider" flex></span>
    <text-editor prop="model.titleFont" on-change="change()" default="{color:'rgba(0,0,0,.54)', fontSize:'14px'}"></text-editor>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-show="!query.length || ('background color' | translate).indexOf(query)!=-1">
    <label class="col-sm-4">{{'background color'| translate}}</label>
    <span class="form-divider" flex></span>
    <div class="col-sm-8">
        <div md-color-picker ng-model="model.backgroundColor" md-color-default-tab="'genericPalette'" on-change="change()"></div>
    </div>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-show="!query.length || ('رنگ پشت زمینه به صورت طیفی' | translate).indexOf(query)!=-1">
    <label><input type="checkbox" ng-model="model.backgroundColorIsGradient" ng-change="change()" /> رنگ پشت زمینه به صورت طیفی </label>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-show="model.backgroundColorIsGradient &&(!query.length || ('انتخاب طیف رنگ' | translate).indexOf(query)!=-1)">
    <label class="col-sm-4">انتخاب طیف رنگ</label>
    <span class="form-divider" flex></span>
    <div class="col-sm-8">
        <div md-color-picker class="inline" ng-model="model.backgroundColor1" md-color-default-tab="'genericPalette'" on-change="change()"></div>
        <div md-color-picker class="inline" ng-model="model.backgroundColor2" md-color-default-tab="'genericPalette'" on-change="change()"></div>
    </div>
</div>

<div
    class="form-row"
    layout="row"
    layout-align="start center"
    title="نمودارهایی که گروه یکسانی داشته باشند در صفحه داشبورد یکدیگر را فیلتر می‌کنند"
    ng-show="!query.length || ('گروه نمودار' | translate).indexOf(query)!=-1"
>
    <label>گروه نمودار</label>
    <span class="form-divider" flex></span>
    <input type="text" class="form-control" placeholder="گروه نمودار" ng-change="change()" ng-model-options="{ updateOn: 'blur' }" ng-model="model.groups" />
</div>
<small class="grey" ng-show="!query.length || ('گروه نمودار' | translate).indexOf(query)!=-1">در صورت نیاز به چند گروه اسم گروه‌ها را با , از هم جدا کنید</small>

<div class="form-row" layout="row" layout-align="start center" ng-show="!query.length || ('transpose' | translate).indexOf(query)!=-1">
    <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
            <label class="">
                <input type="checkbox" ng-model="model.transpose" ng-change="change()" /> {{ 'transpose' | translate }}
            </label>
        </div>
    </div>
    <small class="grey" >
        در صورت فعال کردن این گزینه امکان رفتن به عمق غیر فعال می‌شود
    </small>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-show="!query.length || ('مرتب کردن داده‌ها' | translate).indexOf(query)!=-1">
    <div class="checkbox">
        <label class=""> <input type="checkbox" ng-model="model.sort.enable" ng-change="change()" /> مرتب کردن داده‌ها </label>
    </div>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-show="model.aggregation!=-1">
    <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
            <label class=""> <input type="checkbox" ng-model="model.sortMeasures" ng-change="change()" /> {{ 'مرتب کردن شاخص‌ها در حالت تجمیع' | translate }} </label>
        </div>
    </div>
</div>

<div class="prop-segment" ng-if="model.sort.enable" ng-show="!query.length || ('مرتب‌سازی براساس' | translate).indexOf(query)!=-1">
    <div class="form-row" layout="row" layout-align="start center">
        <label class="col-sm-4">مرتب‌سازی براساس</label>
        <span class="form-divider" flex></span>
        <div class="col-sm-8">
            <select class="form-control" ng-model="model.sort.serie" ng-options="i as i for i in props.series" ng-change="change()"></select>
        </div>
    </div>

    <div class="form-row" layout="row" layout-align="start center" ng-show="!query.length || ('نوع مرتب کردن' | translate).indexOf(query)!=-1">
        <label class="col-sm-4">نوع مرتب کردن</label>
        <span class="form-divider" flex></span>
        <div class="col-sm-8">
            <select
                class="form-control"
                ng-model="model.sort.type"
                ng-options="i.id as i.name for i in [ {id:'asc', name:'صعودی'}, {id:'desc', name:'نزولی'}]"
                ng-change="change()"
            ></select>
        </div>
    </div>
</div>

<div ng-show="license.chartExportApi">
    <div class="form-row" layout="row" layout-align="start center" ng-show="!query.length || ('خروجی داده‌های نمودار به صورت API' | translate).indexOf(query)!=-1">
        <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
                <label class=""> <input type="checkbox" ng-model="model.exportApi" /> خروجی داده‌های نمودار به صورت API </label>
            </div>
        </div>
    </div>
    <div
        class="ui small segment"
        ng-show="model.exportApi"
        ng-if="!query.length || ('خروجی داده‌های نمودار به صورت API' | translate).indexOf(query)!=-1"
        title="لینک API"
        style="word-break: break-all"
    >
        <div class="ltr" style="margin-bottom: 5px" ng-if="!model.useParams" ng-show="!query.length || ('' | translate).indexOf(query)!=-1">
            <ul style="padding-left: 20px">
                <li><b>Link: </b> {{prefix}}api/chartdata/export/{{apiKey.id}}?key={{apiKey.key}}&type=csv</li>
                <li><b>Method: </b> GET</li>
            </ul>
        </div>
        <div class="ltr" style="margin-bottom: 5px" ng-if="model.useParams" ng-show="!query.length || ('' | translate).indexOf(query)!=-1">
            <ul style="padding-left: 20px">
                <li><b>Link: </b> {{prefix}}api/chartdata/export</li>
                <li><b>Method: </b> POST</li>
                <li><b>type: </b> نوع خروجی که باید یکی از دو مقدار json یا csv را داشته باشد</li>
                <li><b>id: </b> {{apiKey.id}}</li>
                <li><b>key: </b> {{apiKey.key}}</li>
            </ul>
        </div>

        <div class="form-row" layout="row" layout-align="start center" ng-show="!query.length || ('ارسال پارامتر به وب سرویس' | translate).indexOf(query)!=-1">
            <div class="col-sm-offset-4 col-sm-8">
                <div class="checkbox">
                    <label class=""> <input type="checkbox" ng-model="model.useParams" /> ارسال پارامتر به وب سرویس </label>
                </div>
            </div>
        </div>
        <br />
        <div ng-if="model.useParams" ng-show="!query.length || ('ارسال پارامتر به وب سرویس' | translate).indexOf(query)!=-1">
            <div class="ui mini button" ng-click="model.exportApiParams.push({columns:[{}]})">اضافه کردن پارامتر</div>
            <div ng-repeat="i in model.exportApiParams" class="ui mini secondary segment">
                <div class="two column fields fluid">
                    <div class="ui fluid action input">
                        <input flex type="text" class="form-control" placeholder="نام پارامتر" ng-model="i.name" />
                        <div class="ui mini icon button" ng-click="model.exportApiParams.splice($index, 1)">
                            <i class="ui icon trash alternate outline"></i>
                        </div>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">نوع پارامترهای ارسالی</label>
                        <span class="form-divider" flex></span>
                        <div class="col-sm-8">
                            <select
                                class="form-control"
                                ng-model="i.type"
                                ng-options="i.id as i.name for i in [ {id:0, name:'لیست'}, {id:2, name:'محدودیت رنج'}, {id:4, name:'مقدار با عملوند'}]"
                            ></select>
                        </div>
                    </div>
                    <small>برای نوع عملوند باید در پارامتر دوم نوع عملوند ارسال شود.</small>
                </div>

                <br />
                <div class="ui fluid action input" style="margin-bottom: 4px" flex ng-repeat="c in i.columns">
                    <input flex type="text" style="display: inline-block; direction: ltr; text-align: left" placeholder="فرمول ستون" ng-model="c.formula" />
                    <div class="ui mini icon button" ng-click="i.columns.splice($index+1, 0,{})">
                        <i class="ui icon add"></i>
                    </div>
                    <div class="ui mini icon button" ng-if="i.columns.length > 1" ng-click="i.columns.splice($index, 1)">
                        <i class="ui icon close"></i>
                    </div>
                </div>
            </div>

            <span class="ui mini button icon" ng-click="copyValue(model)">
                <i class="ui icon link copy outline" title="کپی مقدار"></i>
            </span>
            <br />
            هدر Content-Type درخواست باید application/json تنظیم شود. type میتواند یکی از دو مقدار json یا csv را داشته باشد
            <br />
            نمونه پارامترهای ارسالی
            <pre class="ltr"> 
{
    "key": "{{apiKey.key}}",
    "id": {{apiKey.id}},
    "type": "csv",
    "filters": [
<span ng-repeat="p in model.exportApiParams">           {
            "name": "{{p.name}}",
<span ng-if="p.type == 0">          "values": []</span>
            },</span>
        ]
}
</pre>
        </div>
    </div>
</div>

<div class="form-row" layout="row" layout-align="start center">
    <label class="col-sm-4">کاراکتر یا متن برای مقادیر بدون داده</label>
    <span class="form-divider" flex></span>
    <div class="col-sm-8">
        <input
            type="text"
            class="form-control"
            ng-change="change()"
            ng-model-options="{ updateOn: 'blur' }"
            ng-model="model.nullValue"
            ng-init="model.nullValue=model.nullValue||'-'"
        />
    </div>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-if="!datasource.isOlap && datasource.CubeInfo.Dimensions[0].ModelType!=1">
    <label>روش محاسبه شرط در پرس‌وجو</label>
    <span class="form-divider" flex></span>
    <sm-dropdown
        class=""
        items="[
        {label:'where-exist', value:0},
        {label:'where-join', value:1},
        ]"
        label="item.label"
        value="item.value"
        model="model.whereMethod"
    ></sm-dropdown>
</div>
<!-- <div ng-if="!datasource.isOlap && datasource.CubeInfo.Dimensions[0].ModelType!=1">
    <sadaf-checkbox ng-model="model.preventSplitQuery"> جلوگیری از اجرای چند پرس‌وجو</sadaf-checkbox>
</div> -->

<div class="form-row" layout="row" layout-align="start center" ng-if="!datasource.isOlap && datasource.CubeInfo.Dimensions[0].ModelType!=1">
    <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
            <label class=""> <input type="checkbox" ng-model="model.preventSplitQuery" ng-change="change()" />جلوگیری از اجرای چند پرس‌وجو </label>
        </div>
    </div>
</div>


<div ng-if="!datasource.isOlap && datasource.CubeInfo.Dimensions[0].ModelType!=1">
    <except-relation datasource="datasource" model="model.exceptRelation"></except-relation>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-if="datasource.isOlap || datasource.CubeInfo.Dimensions[0].ModelType==1">
    <label>حداکثر تعداد رکورد در خروجی</label>
    <span class="form-divider" flex></span>
    <input type="text" class="form-control" ng-change="change()" ng-model-options="{ updateOn: 'blur' }" ng-model="model.topn" ng-init="model.topn=model.topn||100001" />
</div>


<!--<div class="form-row" layout="row" layout-align="start center">
    <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
            <label class="">
                <input type="checkbox" ng-model="props.levelTypes.enable" ng-change="change()" /> تغییر نمودار در لایه‌های بعدی
            </label>
        </div>
    </div>
</div>
<div ng-show="props.levelTypes.enable" class="ui secondary segment">
    <div class="ui icon compact mini button" ng-click="addChartType()"> <i class="icon add"></i> اضافه کردن سطح</div>
    {{props.levelTypes.types}}
    <div class="form-row" layout="row" layout-align="start center" ng-repeat="i in props.levelTypes.types">
        <label class="col-sm-4">سطح {{$index+2}}</label>
        <span class="form-divider" flex></span>
        <div class="col-sm-8">
            <select class="form-control" ng-model="i.type"
                    ng-options="i.id as i.name for i in [ {id:1, name:'میله‌ای'}, {id:2, name:'pie'},{id:3, name:'table'}]"></select>
        </div>
    </div>
</div>-->
