<div class="ui small segment" ng-if="info">
    <div class="ui mini xform" ng-if="ngModel.length">
        <div ng-repeat="s in ngModel" class="tw-flex tw-items-center">
            <i class="ui icon link close" ng-click="ngModel.splice($index, 1);change();"></i>
            <div class="tw-flex-1">
                <input
                    ng-model="s.caption"
                    ng-init="s.caption = s.caption || s.name"
                    placeholder="نام"
                    ng-change="change()"
                    ng-model-options="{updateOn: 'blur'}"
                />
            </div>
            <div class="tw-mx-2">
                <label>
                    نمایش راهنما
                    <input type="checkbox" ng-model="s.legend" ng-change="change()" />
                </label>
            </div>
        </div>
        <br />
        <br />
    </div>

<label>اضافه کردن لایه به نقشه</label> 
    <div ng-repeat="server in servers">
        <map-wms-selector-item info="info" add="added(item)" model="server" folder=""></map-wms-selector-item>
    </div>
</div>
