
<div class="form-row" layout="row" layout-align="start center">
    <label class="col-sm-4">{{ 'قالب نمایش' | translate }}</label>
    <span class="form-divider" flex></span><div class="col-sm-8">
        <select class="selectpicker-x form-control" ng-change="refreshChart('refresh'); $parent.changeAllSeries('formatString', model.formatString)" 
                ng-model="model.formatString"
                ng-options="color.name as  color.value for color in [
                                    {name:'A', value: 'عادی'  }, 
                                    {name:'%', value:'درصد' }, 
                                    {name:',.1%', value:'#,#.0%'}, 
                                    {name:',.2%', value:'#,#.00%'}, 
                                    {name:',.0f', value:'#,#'}, 
                                    {name:',.1f', value:'#,#.0'}, 
                                    {name:',.2f', value:'#,#.00'}, 
                                    {name:',.3s', value:'#,#K'}, 
                                    {name:'custom', value:'سفارشی' }, 
                                    ]">
            <!--<option value="A" >{{ 'عادی' | translate }}</option>
            <option value="%" >{{ 'درصد' | translate }}</option>
            <option value=",.1%">#,#.0%</option>
            <option value=",.2%">#,#.00%</option>
            <option value=",.0f">#,#</option>
            <option value=",.1f">#,#.0</option>
            <option value=",.2f">#,#.00</option>
            <option value="custom" >{{ 'سفارشی' | translate }}</option>-->
        </select>
    </div>
</div>

<div class="form-row" layout="row" layout-align="start center" ng-show="model.formatString == 'custom'">
    <label class="col-sm-4">{{ 'قالب نمایش سفارشی' | translate }}</label>
    <span class="form-divider" flex></span><div class="col-sm-8">
        <input type="text" class="form-control ltr" placeholder="{{ 'قالب نمایش سفارشی' | translate }}" 
               ng-change="refreshChart('refresh'); $parent.changeAllSeries('formatStringCustom', model.formatStringCustom)"
               ng-model-options="{ updateOn: 'blur' }"
               ng-model="model.formatStringCustom" />
    </div>
</div>




