
<div class="well" layout="row" layout-align="start center" layout-wrap>


    <div class="ui mini icon compact button font-popup">
        <i class="icon font"></i>
    </div>
    <div class="ui custom popup top right transition hidden" style="position: fixed;">
        <div class="form-row" layout="row" layout-align="start center" ng-show="config.bold">
            <label>{{ 'حالت نوشته' | translate }}</label>
            <span class="form-divider" flex></span>
            <div class="ui mini icon buttons">
                <button ng-class="{active: model.bold}" ng-click="model.bold = !model.bold; onChange();" class="ui button"><i class="bold icon"></i></button>
                <button ng-class="{active: model.italic}" ng-click="model.italic = !model.italic; onChange();" class="ui button"><i class="italic icon"></i></button>
            </div>
        </div>

        <div class="form-row" layout="row" layout-align="start center" ng-show="config.align">
            <label>{{ 'align' | translate }}</label>
            <span class="form-divider" flex></span>
            <div class="ui mini icon buttons">
                <button ng-class="{active: model.align==='right'}" ng-click="model.align = 'right'; onChange();" class="ui button"><i class="align right icon"></i></button>
                <button ng-class="{active: model.align==='center'}" ng-click="model.align = 'center'; onChange();" class="ui button"><i class="align center icon"></i></button>
                <button ng-class="{active: model.align==='left'}" ng-click="model.align = 'left'; onChange();" class="ui button"><i class="align left icon"></i></button>
            </div>
        </div>

        <div class="form-row" layout="row" layout-align="start center" ng-show="config.anchor">
            <label>{{ 'مکان در طول' | translate }}</label>
            <span class="form-divider" flex></span>
            <div class="ui mini icon buttons">
                <button ng-class="{active: model.anchor==='start'}" ng-click="model.anchor = 'start'; onChange();" class="ui button"><i class="align right icon"></i></button>
                <button ng-class="{active: model.anchor==='center'}" ng-click="model.anchor = 'center'; onChange();" class="ui button"><i class="align center icon"></i></button>
                <button ng-class="{active: model.anchor==='end'}" ng-click="model.anchor = 'end'; onChange();" class="ui button"><i class="align left icon"></i></button>
            </div>
        </div>

        <div class="form-row" layout="row" layout-align="start center" ng-show="config.position">
            <label>{{ 'مکان نسبت به خط زمینه' | translate }}</label>
            <span class="form-divider" flex></span>
            <div class="ui mini icon buttons">
                <button ng-class="{active: model.position==='start'}" ng-click="model.position = 'start'; onChange();" class="ui button"><i class="align right icon"></i></button>
                <button ng-class="{active: model.position==='center'}" ng-click="model.position = 'center'; onChange();" class="ui button"><i class="align center icon"></i></button>
                <button ng-class="{active: model.position==='end'}" ng-click="model.position = 'end'; onChange();" class="ui button"><i class="align left icon"></i></button>
            </div>
        </div>


        <div class="form-row" layout="row" layout-align="start center" ng-show="config.size">
            <label>{{ 'اندازه نوشته' | translate }}</label>
            <span class="form-divider" flex></span>
            <select class="btn btn-xs" ng-model="model.fontSize" ng-change="onChange()" ng-options="color.value as  color.name for color in [
                                    {value:'8px',  name: '8'  },
                                    {value:'9px',  name: '9'  },
                                    {value:'10px', name: '10'  },
                                    {value:'11px', name: '11'  },
                                    {value:'12px', name: '12'  },
                                    {value:'13px', name: '13'  },
                                    {value:'14px', name: '14'  },
                                    {value:'15px', name: '15'  },
                                    {value:'16px', name: '16'  },
                                    {value:'18px', name: '18'  },
                                    {value:'20px', name: '20'   },
                                    {value:'22px', name: '22'  },
                                    {value:'24px', name: '24'  },
                                    {value:'28px', name: '28'  },
                                    {value:'30px', name: '30'  },
                                    {value:'32px', name: '32'  },
                                    {value:'34px', name: '34'  },
                                    {value:'36px', name: '36'  },
                                    {value:'40px', name: '40'  },
                                    {value:'46px', name: '46'  },
                                    {value:'52px', name: '52'  },
                                    {value:'72px', name: '72'  },
                                    {value:'95px', name: '95'  },
                                    ]">
            </select>

        </div>

        <div class="form-row" layout="row" layout-align="start center" ng-show="config.font">
            <label>{{ 'فونت' | translate }}</label>
            <span class="form-divider" flex></span>
            <select class="btn btn-xs" ng-model="model.fontName" ng-change="onChange()" style="direction:ltr" ng-options="color.name as  color.value for color in [
                                    {name:'IRANSans', value: 'ایران سنس'  },
                                    {name:'IRANSans_mono', value: 'ایران سنس  اعداد'  },
                                    {name:'Droid', value:'دروید' },
                                    {name:'Tahoma', value:'تاهما'},
                                    {name:'Arial', value:'عربی'},
                                    {name:'adobe', value:'ادوبی'},
                                    {name:'sadaf_yekan', value:'یکان'},
                                    {name:'Sahel', value:'ساحل'},
                                    ]">
            </select>
        </div>

        <div class="form-row" layout="row" layout-align="start center" ng-show="config.rotate">
            <label>{{ 'چرخش' | translate }}</label>
            <span class="form-divider" flex></span>
            <input ng-model="model.rotate" ng-change="onChange()" type="number" />
        </div>

        <div class="form-row" layout="row" layout-align="start center" ng-show="config.color">
            <label>{{ 'رنگ نوشته' | translate }}</label>
            <span class="form-divider" flex></span>
            <!-- <div md-color-picker ng-model="model.color" md-color-default-tab="'genericPalette'" ng-change="onChange()"></div> -->
            <color-picker model="model.color" on-change="onChange()"></color-picker>

        </div>

        <div class="form-row" layout="row" layout-align="start center" ng-show="config.format">
            <label>{{ 'فرمت نمایش' | translate }}</label>
            <span class="form-divider" flex></span>
            <sd-format ng-change="onChange()" ng-model="model.formatString"></sd-format>
            <div>

                <input type="text" class="ltr"
                       placeholder="{{ 'قالب' | translate }}"
                       ng-disabled="model.formatString!='custom'"
                       ng-hide="model.formatString!='custom'"
                       ng-change="onChange()"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-model="model.formatStringCustom" />
            </div>
        </div>





    </div>


</div>


