@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sadaf</title>
</head>



<body>
    <script>
        var app = app || {};
                app.urlPrefix = "@Url.Action("management", "sadaf")".replace(/sadaf\/management.*/g, "");
        app.aboluteUrl = "@Request.Url.AbsoluteUri";
        app.setUrlPrefix("@Url.Action("management", "sadaf")".replace(/sadaf\/management.*/g, ""));



    </script>
    <div>
        React Test
    </div>
    <div id="root"></div>

    @*<script src="~/node_modules/react/umd/react.development.js"></script>
        <script src="~/node_modules/react-dom/umd/react-dom.development.js"></script>
        <script src="~/node_modules/babel-standalone/babel.js"></script>*@
    <script src="~/react-dist/bundle.js?v=@((DateTime.Now-DateTime.MinValue).TotalMilliseconds)"></script>
</body>
</html>
