

<div class="container-fluid foldered-grid">
    <div class="page-header clear-after affix-top">
        <h1 class="pull-left" style="margin:0;"><span data-trans-key='تنظیمات کلی برنامه'> </span></h1>
    </div>
    <div class="grid-container">

        <div class="form-horizontal col-md-7">

            <div class="form-group">
                <label class="col-md-4 control-label" for="Brand"><span data-trans-key='نام سازمان'> </span></label>
                <div class="col-md-8 ">
                    <input ng-model="brand" class="form-control" data-trans-key='نام سازمان' data-trans-attr='placeholder' type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="host"><span data-trans-key='زبان'> </span></label>
                <div class="col-md-8 ">
                    <select class="form-control" ng-model="language" ng-options="i.key as i.value for i in langs "></select>
                </div>
            </div>

            <div class="alert alert-warning" role="alert" ng-show="error">
                <button type="button" class="close" ng-click="error=null" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>خطا!</strong> <span ng-bind-html="error"></span>
            </div>


            <div style="direction: ltr">
                <button class="btn btn-primary" ng-click="save($event)" data-loading-text="در حال ذخیره‌..."><span data-trans-key='ذخیره'> </span></button>
                <button class="btn btn-default" onclick="window.history.back()"><span data-trans-key='انصراف'> </span></button>
            </div>
        </div>


    </div>
</div>
