

<div layout="row" flex>
    <md-content flex no-background>
        <div layout="column" flex>

            <md-card style="margin:40px; padding:16px" flex>
                <div class="">
                    <h3>{{'اضافه کردن گروهی کاربرها' | translate}}</h3>
                </div>

                <!--<div layout-gt-sm="row" layout-wrap>

                    <md-input-container class="md-block" flex-gt-sm="33">
                        <label>{{'سرور' | translate}}</label>
                        <input required name="name" ng-model="ad.server">
                        <div class="hint">نام سرور یا شماره آی پی سرور اکتیو دایرکتوری</div>

                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="33">
                        <label>{{'container' | translate}}</label>
                        <input name="name" ng-model="ad.container">
                        <div class="hint"> ریشه جستجو مثل DC=csroll,DC=local</div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="33">
                        <label>{{'bind_option' | translate}}</label>
                        <md-select name="name" ng-model="ad.bindOption">
                            <md-option value="1">Negotiate</md-option>
                            <md-option value="2">Simple Bind</md-option>
                            <md-option value="4">Secure Socket Layer</md-option>
                            <md-option value="8">Signing</md-option>
                            <md-option value="16">Sealing</md-option>
                            <md-option value="32">Server Bind</md-option>
                        </md-select>
                        <div class="hint">نوع ارتباط با سرور</div>
                    </md-input-container>


                    <md-input-container class="md-block" flex-gt-sm="33">
                        <label>{{'نام کاربری' | translate}}</label>
                        <input required name="name" ng-model="ad.user">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="33">
                        <label>{{'کلمه عبور' | translate}}</label>
                        <input required name="name" ng-model="ad.pass" type="password">
                    </md-input-container>

                    <div layout="row" layout-align="center center" style="min-width:200px">
                        <md-button class="md-primary" ng-click="ad.getList()" ng-hide="ad.progress" ng-disabled=" !ad.server || !ad.user || !ad.pass" flex-gt-sm>
                            {{'دریافت لیست' | translate}}
                        </md-button>

                        <md-button ng-show="ad.progress" disabled="true" layout="row" layout-align="center center">
                            {{'در حال دریافت ...' | translate}}
                            <md-progress-circular md-mode='indeterminate' md-diameter="15" style="margin:0 10px">
                            </md-progress-circular>
                        </md-button>

                    </div>

                </div>-->

                <div class="ui form">
                    <ul>
                        لیست کاربران را در کادر زیر کپی کنید
                        <li> هر خط فقط یک کاربر باشد</li>
                        <li>
                            اطلاعات وارد شده به ترتیب باید
                            <b>نام </b> -
                            <b> نام خانوادگی</b> -
                            <b>نام کاربری</b> -
                            <b>کلمه عبور</b> -
                            <b>دارای کلمه عبور پیچیده</b> -
                            <b>تغییر کلمه عبور در اولین ورود</b> - 
                            <b>دسترسی فقط خواندنی - </b>
                            <b>موبایل - </b>
                            <b>ایمیل-</b>
                            <b>متغیرهای کاربری</b>
                            باشند.
                        </li>
                        <li>
                            مثال:<br/>
                            ali;babaee;Ali;123456;1;1;1;09120001212;example@mail.com;{variable-name:[1,2,3], variable-name2:[1,2,3]}
                        </li>
                        <li>
                            اطلاعات وارد شده در هر خط باید با یکی از روش‌های زیر از هم جدا شوند از هم جدا شوند
                            <ul>
                                <li>TAB</li>
                                <li>;</li>
                            </ul>
                        </li>
                    </ul>
                     
                    <textarea class="field" ng-model="ubi.rawData" rows="6"></textarea>

                    <div class="ui button field" ng-click="ubi.process()">پردازش</div>
                </div>

                <div>

                    <table class="sadaf-table" ng-show="ubi.data">
                        <tr>
                            <th>
                                <md-checkbox ng-model="selectAllCheckbox" ng-change="ubi.selectAll(selectAllCheckbox)" aria-label="{{'select_all' | translate}}"></md-checkbox>
                            </th>
                            <th>#</th>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>نام کاربری</th>
                            <th>کلمه عبور</th>
                            <th>کلمه عبور پیچیده</th>
                            <th>تغییر کلمه عبور بعد از اولین ورود</th>
                            <th>دسترسی (فقط خواندنی)</th>
                            <th>موبایل</th>
                            <th>ایمیل</th>
                        </tr>

                        <tr ng-repeat="row in ubi.data" ng-class="{active : row.select}" ng-click="row.select = !row.select; " ng-dblclick="goto(row, $event)">
                            <td width="20">
                                <md-checkbox ng-model="row.select" ng-click="$event.stopPropagation()" ng-change="" aria-label="{{'select' | translate}}"></md-checkbox>
                            </td>
                            <td width="20">{{utils.persian($index+1)}}</td>
                            <td><span>{{row.name}}</span></td>
                            <td><span>{{row.family}}</span></td>
                            <td><span>{{row.username}}</span></td>
                            <td><span>{{row.password}}</span></td>
                            <td><i class="icon green " ng-class="{check :row.complex }"></i></td>
                            <td><i class="icon green " ng-class="{check :row.needChange}"></i></td>
                            <td><i class="icon green " ng-class="{check :row.readonly}"></i></td>
                            <td><span>{{row.mobile}}</span></td>
                            <td><span>{{row.email}}</span></td>
                            <td>
                                <span ng-show="row.status==1" class="ui label red">قبلا اضافه شده است</span>
                                <span ng-show="row.status==2" class="ui label green">با موفقیت اضافه شد</span>
                            </td>

                        </tr>

                    </table>


                    <div layout-padding style="background-color:#fafafa" ng-show="ubi.data">
                        <collapse>
                            <collapse-header>{{'roles' | translate}}</collapse-header>
                            <collapse-body>
                                <div style="margin:0 20px">
                                    <div ng-repeat="r in ubi.roles">
                                        <md-checkbox ng-model="r.check">{{r.name}}</md-checkbox>
                                    </div>
                                </div>
                            </collapse-body>
                        </collapse>
                    </div>

                    <div style="margin:20px" ng-show="(ubi.roles|filter:{check:true}).length && ubi.data">
                        نقش‌های انتخاب شده

                        <div class="inline" ng-repeat="s in ubi.roles|filter:{check:true}">
                            <div class="chip">
                                {{s.name}}
                                <span class="closebtn" ng-click="s.check = false">&times;</span>
                            </div>
                        </div>
                    </div>


                    <md-card ng-show="ubi.error" layout="row" flex>
                        <md-content style="background-color:#f2dede" flex layout-padding>
                            <div class="" style="float:left; cursor:pointer" ng-click="ubi.error=null"><span aria-hidden="true">&times;</span></div>
                            <strong>خطا!</strong>کاربرهای زیر قبلا در سیستم ثبت شده‌اند و امکان ثبت دوباره آن‌ها وجود ندارد. مابقی کاربران با موفقیت به سیستم اضافه شدند. <span ng-bind-html="ad.error"></span>
                        </md-content>
                    </md-card>


                    <div style="text-align: left;margin: 30px 0;" ng-show="ubi.data">
                        <!-- <md-button ng-click="ubi.saveSelectedUsers()" ng-hide="ubi.saveProgress" ng-disabled="!(ubi.data|filter:{select:true}).length" class="md-raised md-primary">
                            {{'اضافه کردن به لیست کاربران'|translate}}
                        </md-button>

                        <md-button ng-show="ubi.saveProgress" disabled="true">
                            {{'در حال ارسال ...' | translate}}
                            <md-progress-circular md-mode='indeterminate' md-diameter="15" style="margin:0 10px; display:inline-block"></md-progress-circular>
                        </md-button> -->

                        <div class="ui button black" ng-click="ubi.saveSelectedUsers()" ng-class="{loading: ubi.saveProgress, disabled: ubi.saveProgress}" >
                            {{'اضافه کردن به لیست کاربران'|translate}}
                        </div>

                    </div>
                </div>




            </md-card>
        </div>
    </md-content>
</div>