<div class="chart-editor" layout="row" flex style="background-color:#fff">
    <form autocomplete="off" flex="40" layout="row">

        <!--Properties Container-->
        <div flex="60" layout="column" layout-fill>


            <div layout="row" layout-align="start center" class="datasource-item-header">
                <span>{{ 'تنظیمات' | translate }}</span>
                <div class="ui mini form" flex style="margin:7px;" ng-show="chartType.id>10 && !chartType.isCustom">
                    <div class="field icon ui input fluid">
                        <input type="text" name="settings2-query" autocomplete="one-time-code" ng-model="chartProp.settingQuery" placeholder="{{'search' | translate}}" />
                        <i class="icon" ng-class="{remove: chartProp.settingQuery.length, search: !chartProp.settingQuery}" ng-click="chartProp.settingQuery = ''" style="cursor:pointer !important; pointer-events:all !important"></i>
                    </div>
                </div>
                <span flex ng-hide="chartType.id>10 && !chartType.isCustom"></span>

                <div ng-show="app.license.securityCertPatch && id > 0" class="ui mini label">
                    {{'integrity check' | translate}} &nbsp;
                    <i ng-class="sign" class="ui icon  {{sign ? 'green check' : 'red times'}}"></i>
                </div>
            </div>

            <div flex class="div-prop-container" style="overflow:auto">
                <div id="divProp" class="rtl prop-section">
                </div>
            </div>

        </div>

        <md-divider></md-divider>

        <div flex="40">
            <div layout="row" flex layout-fill id="chartEditor">

                <div flex layout="column">

                    <div style="min-height:300px" flex>
                        <!--SQL SERVER-->
                        <div ng-show="type != 'combo-kpi' && !isOlap" layout="column" style="min-height:200px" layout-fill>
                            <div layout="row" layout-align="start center" class="datasource-item-header">
                                <span>{{ 'data' | translate }}</span>


                                <span flex></span>
                                <span ng-hide="!chartType.isCustom && chartType.id==7" class="material-icons small small-size pointer" ng-click="showRelatedDatasource($event)" title="{{'add' | translate}}">
                                    add
                                </span>
                                <span ng-show="!chartType.isCustom && chartType.id==7" class="material-icons small small-size pointer" ng-click="showAddDatasource()" title="{{'add' | translate}}">
                                    add
                                </span>

                            </div>

                            <div class="ui mini form" style="margin:7px;">
                                <div class="field icon ui input fluid"> 
                                    <input type="text" name="datasources-query" autocomplete="one-time-code" ng-model="query" ng-model-options='{ debounce: 400 }' ng-change='invalidateDims()'
                                           placeholder="{{'search' | translate}}" />
                                    <i class="icon" ng-class="{remove: query.length, search: !query}" ng-click="query = ''; invalidateDims()"
                                       style="cursor:pointer !important; pointer-events:all !important"></i>
                                </div>
                            </div>

                            <md-content flex>
                                <script type="text/ng-template" id="chart-editor/related-datasource.html">
                                    <md-dialog aria-label="{{ 'انتخاب منابع داده' | translate }}" ng-cloak>
                                        <form>
                                            <md-toolbar>
                                                <div class="md-toolbar-tools">
                                                    <h2>{{ 'انتخاب منابع داده' | translate }}</h2>
                                                    <span flex></span>
                                                    <md-button class="md-icon-button" ng-click="cancel()">
                                                        <span class="material-icons">close</span>
                                                    </md-button>
                                                </div>
                                            </md-toolbar>
                                            <div class="ui mini form" style="margin:7px;">
                                                <div class="field icon ui input fluid">
                                                    <input type="text" ng-model="$scope.rdsQuery" placeholder="جستجو" class="ng-pristine ng-valid ng-empty ng-touched" aria-invalid="false" style="">
                                                    <i class="icon search" ng-class="{remove: $scope.rdsQuery.length, search: !$scope.rdsQuery}" ng-click="$scope.rdsQuery = ''" style="cursor:pointer !important; pointer-events:all !important" role="button" tabindex="0"></i>
                                                </div>
                                            </div>
                                            <md-dialog-content>
                                                <div class="ui inline centered tiny loader" ng-hide="$scope.relatedDatasourceList" ng-class="{active: !relatedDatasourceList}"></div>
                                                <table class="table">
                                                    <tr ng-repeat="i in $scope.relatedDatasourceList | filter:$scope.filterRelatedDatasource">
                                                        <td class="pointer" ng-click="$scope.addRelatedDatasource(i.Id); $mdDialog.hide()">{{i.Name}}</td>
                                                    </tr>
                                                </table>
                                            </md-dialog-content>
                                        </form>
                                    </md-dialog>
                                </script>

                                <div class="ui inline centered tiny loader" ng-class="{active: gettingData}"></div>


                                <div id="columnList" ng-show="datasource">


                                    <div ng-repeat="u in datasource.CubeInfo.Dimensions">

                                        <div layout="row" layout-align="start center" class="datasource-item">
                                            <i class="ui icon angle left material-icons icon-animate pointer right-arrow" ng-click="u.expand = !u.expand" ng-class="{'rotate-90' : !u.expand}"></i>
                                            <div ng-click="u.expand = !u.expand" layout="row" class="pointer">
                                                <span>{{u.Name}} <small class="gray"><small> {{u.xUniqueName}}</small></small></span>
                                            </div>
                                            <span flex></span>

                                            <span class="material-icons small small-size pointer" ng-click="removeRelatedDatasource($index, u)" ng-hide="$index==0" title="{{'remove' | translate}}">
                                                remove
                                            </span>
                                            <span class="material-icons small small-size pointer" title="باز کردن" ng-click="gotoDatasource(u)">open_in_new</span>
                                            <span class="material-icons small small-size pointer" title="تغییر منبع داده" ng-click="changeDatasource(u, $index)">swap_horiz</span>
                                            <olap-add-column data="u" onchange="updateDatasources" xng-if="app.license.olap && u.ModelType == 1"></olap-add-column>

                                        </div>

                                        <div uib-collapse="u.expand">

                                            <div class="pointer datasource-field" ng-hide="hide(i, 'check-name')" ng-repeat="i in u.Hierarchies"
                                                 index="{{$index}}" dimindex="{{$parent.$index}}" draggable-items>
                                                <span ng-click="addToChart(i)">
                                                    <img ng-src="{{app.urlPrefix}}Images/hierarchy1.png" class="chart-editor-data-hicon tw-inline-block" />
                                                    {{i.Name}}
                                                </span>
                                                <olap-add-column ng-if="i.Type==1" data="u" model="i" onchange="updateDatasources" style="display:inline-block; position:absolute; left:8px;"></olap-add-column>
                                            </div>

                                        </div>
                                    </div>




                                </div>
                            </md-content>

                        </div>

                        <!--Combine-KPI-->
                        <div layout="column" ng-show="type=='combo-kpi'" layout-fill>

                            <div layout="row" layout-align="start center" class="datasource-item-header">
                                <span>{{ 'charts' | translate }}</span>
                                <span flex></span>
                                <span class="material-icons small small-size pointer" ng-click="selectChart($event)">add</span>
                            </div>

                            <md-content flex>
                                <div layout-margin>
                                    <div ng-repeat="u in combo.selectedChart">
                                        <sadaf-removable on-delete="combo.selectedChart.splice($index, 1); refreshChart()">
                                            <a class="pointer" href="{{app.hashUrlPrefix}}#/charts/edit/0/{{u.Id}}" xng-click="gotoChart(u)">{{u.Name}}</a>
                                        </sadaf-removable>
                                    </div>

                                </div>
                                <md-divider></md-divider>
                                <div layout-margin>

                                    <div style="margin-top:20px">
                                        {{ 'comboKpi_config' | translate }}
                                    </div>

                                    <form>
                                        <div layout="column">
                                            <md-input-container flex>
                                                <label> {{ 'comboKpi_CombineDimension' | translate }}</label>
                                                <md-select ng-model="combo.combineType" ng-change="refreshChart('refreshWithData')">
                                                    <md-option value="0" selected="selected">{{ 'comboKpi_value' | translate }}</md-option>
                                                    <md-option value="1">{{ 'comboKpi_index' | translate }}</md-option>
                                                </md-select>
                                            </md-input-container>

                                            <md-input-container flex>
                                                <label> {{ 'comboKpi_aggregation' | translate }}</label>
                                                <md-select ng-model="combo.aggregation" ng-change="refreshChart('refreshWithData')">
                                                    <md-option value="0">Avg</md-option>
                                                    <md-option value="1">Sum</md-option>
                                                </md-select>
                                            </md-input-container>

                                            <md-input-container flex>
                                                <label> تعداد داده‌های نهایی</label>
                                                <md-select ng-model="combo.unionType" ng-change="refreshChart('refreshWithData')">
                                                    <md-option value="0">اجتماع</md-option>
                                                    <md-option value="1">اشتراک</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">


                                                <div layout="row" layout-align="start center">
                                                    <b>{{ 'comboKpi_synonym' | translate }}</b>
                                                    <span flex></span>
                                                    <md-button class="md-icon-button" ng-click="combo.synonyms.push([{}]); refreshChart('refreshWithData')" title="{{'add' | translate}}">
                                                        <span class="material-icons">add</span>
                                                        <!--<md-tooltip>{{ 'add' | translate }}</md-tooltip>-->

                                                    </md-button>
                                                </div>

                                                <fieldset ng-repeat="i in combo.synonyms track by $index" ng-show="i.length">
                                                    <legend>
                                                        <span class="material-icons pointer" title="Remove" ng-click="combo.synonyms.splice($index,1);refreshChart('refreshWithData')">close</span>
                                                    </legend>
                                                    <div class="form-row" layout="row" layout-align="start center" ng-repeat="s in i track by $index">
                                                        <span class="material-icons pointer" title="Add" ng-click="i.splice($index+1,0,{});refreshChart('refreshWithData')">add</span>
                                                        <span class="material-icons pointer" title="Remove" ng-click="i.splice($index,1);refreshChart('refreshWithData')">delete</span>
                                                        <input type="text" ng-model="s.name" ng-change="refreshChart('refreshWithData')" ng-model-options="{ updateOn: 'blur' }" />
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <br />
                                        <md-checkbox ng-model="combo.removeZeroValues" ng-change="refreshChart('refreshWithData')">پاک کردن ردیف‌های شامل داده‌ی صفر</md-checkbox>
                                        <md-checkbox ng-model="combo.combineSameKpiName" ng-change="refreshChart('refreshWithData')">ترکیب شاخص‌های همنام</md-checkbox>
 

                                    </form>
                                </div>
                            </md-content>


                        </div>

                        <!--Olap-->
                        <div ng-show="type != 'combo-kpi' && isOlap" layout="column" layout-fill>
                            <div layout="row" layout-align="start center" class="datasource-item-header">
                                <span>{{ 'data' | translate }}</span>
                                <span flex></span>

                                <span style="font-size: 0.8em; margin:4px" ng-init="toggle = false" ng-click="toggle = !toggle; collapseAll(toggle)" layout="row" layout-align="start center">
                                    <span class="material-icons icon-animate pointer">{{ toggle ? 'add' : 'remove' }}</span>
                                    <span class="pointer small">{{ toggle ? 'باز کردن همه' : 'بستن همه' }}</span>
                                </span>
                                <select ng-model="selectedOlapCube" ng-change="changeCube(selectedOlapCube)" ng-options="id as color.Caption  for (id, color) in olapCubes">
                                    <!--<option ng-repeat="i in olapCubes" value="{{$index}}">{{i.Caption}}</option>-->
                                </select>


                                <div style="padding:0 5px;width:30px;">
                                    <span class="pointer gray" title="پاک کردن حافظه پنهان - تنها برای کیوب انتخاب شده" ng-hide="refreshCube" ng-click="refreshingCube()"><i class="icon refresh"></i></span>
                                    <span class="ui inline loader mini" ng-class="{active : refreshCube}"></span>
                                </div>
                            </div>

                            <div class="ui mini form" style="margin:7px;">
                                <div class="fields">

                                    <sm-dropdown class="selection search mini"
                                                 model="selectedMeasureGroup"
                                                 settings="{fullTextSearch:true}"
                                                 items="olapCubes[+selectedOlapCube].MeasureGroups"
                                                 label="item.caption"
                                                 value="item.name"></sm-dropdown>
                                    <div class="field icon ui input">
                                        <input autocomplete="one-time-code" name="settings-query" type="text" ng-model="query" ng-model-options='{ debounce: 400 }' ng-change='invalidateDims()'
                                               xng-change="resetShow()" placeholder="{{'search' | translate}}" />
                                        <i class="icon" ng-class="{remove: query.length, search: !query}" ng-click="query = '';invalidateDims();xresetShow()" style="cursor:pointer !important; pointer-events:all !important"></i>
                                    </div>
                                </div>
                            </div>


                            <!--<div class="md-padding" ng-show="gettingData" layout-align="center center" layout="column">
                                <md-progress-circular md-mode='indeterminate' md-diameter="20"></md-progress-circular>
                            </div>-->


                            <md-content flex id="columnList" ng-hide="gettingData">
                                <style>
                                    #columnList collapse .title {
                                        padding: 0;
                                    }
                                </style>

                                <!--Measures-->
                                <div>
                                    <div layout="row" layout-align="start center" class="datasource-item" xng-hide="hideMeasureName.flag" ng-init="measureExp = true; resetShow();">
                                        <i class="ui icon angle left material-icons icon-animate pointer xright-arrow" ng-click="measureExp = !measureExp; measureRender = true;" ng-class="{'rotate-90' : !measureExp}"></i>
                                        <div ng-click="measureExp = !measureExp; measureRender = true;" layout="row" class="pointer">
                                            <span>سنجه‌ها</span>
                                        </div>
                                    </div>

                                    <div uib-collapse="measureExp" in-if="measureRender">
                                        <div class="pointer datasource-field" ng-repeat="i in olapCubes[+selectedOlapCube].Measures"
                                             ng-hide="existIn(i, measures) || hide(i, 'measure', showMeasureName)"
                                             index="{{$index}}"
                                             data-name="{{i.UniqueName}}" type="measure" draggable-items>
                                            <img ng-src="{{app.urlPrefix}}Images/measure.png" class="chart-editor-data-hicon tw-inline-block" />
                                            {{i.Name}}
                                        </div>
                                    </div>
                                </div>

                                <!--KPIs-->
                                <div>
                                    <div layout="row" layout-align="start center" class="datasource-item" ng-init="kpiExp=true">
                                        <i class="ui icon angle left material-icons icon-animate pointer xright-arrow" ng-click="kpiExp = !kpiExp; kpiRender = true;" ng-class="{'rotate-90' : !kpiExp}"></i>
                                        <div ng-click="kpiExp = !kpiExp; kpiRender = true;" layout="row" class="pointer">
                                            <span>شاخص‌های کلیدی عملکرد</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div uib-collapse="kpiExp" ng-if="kpiRender">
                                            <collapse ng-repeat="(k,v) in olapCubes[+selectedOlapCube].pkiGroup"
                                                      ng-hide="hide({name: k}, 'check-name')"
                                                      style="margin-right:25px">
                                                <collapse-header>
                                                    {{v[0].ParentName}}
                                                </collapse-header>
                                                <collapse-body>
                                                    <div class="pointer datasource-field"
                                                         ng-repeat="i in v"
                                                         ng-hide="existIn(i, measures) || hide(i, 'measure')"
                                                         index="{{$index}}"
                                                         data-name="{{i.UniqueName}}" type="kpi" draggable-items>
                                                        <img ng-src="{{app.urlPrefix}}Images/kpi.png" class="chart-editor-data-hicon tw-inline-block" />
                                                        {{i.Name}}
                                                    </div>
                                                </collapse-body>
                                            </collapse>

                                        </div>
                                    </div>
                                </div>

                                <!--Named Sets-->
                                <collapse>
                                    <collapse-header>
                                        مجموعه‌ها
                                    </collapse-header>

                                    <collapse-body>
                                        <div class="pointer datasource-field"
                                             ng-repeat="i in olapCubes[+selectedOlapCube].NamedSets" type="namedset"
                                             ng-hide="existIn(i, measures.concat(dimensions).concat(where)) || hide(i, 'check-name', i)"
                                             index="{{$index}}" dimindex="{{$index}}" hi="i" draggable-items>
                                            <img ng-src="{{app.urlPrefix}}Images/hierarchy1.png" class="chart-editor-data-hicon  tw-inline-block" />
                                            {{i.Name}}
                                        </div>
                                    </collapse-body>
                                </collapse>


                                <!--<div class="md-padding" ng-hide="olapCubes[+selectedOlapCube].Dimensions" layout-align="center center" layout="column">
                                    <md-progress-circular md-mode='indeterminate' md-diameter="20"></md-progress-circular>
                                </div>-->



                                <div ng-repeat="u in olapCubes[+selectedOlapCube].Dimensions" ng-init="u.index = $index" ng-hide="hide(u, 'dimension')">

                                    <div layout="row" layout-align="start center" class="datasource-item" ng-init="u.expand = true;">
                                        <i class="ui icon angle left material-icons icon-animate pointer xright-arrow" ng-click="u.expand = !u.expand;u.render = true;" ng-class="{'rotate-90' : !u.expand}"></i>
                                        <div ng-click="u.expand = !u.expand; u.render = true;" layout="row" class="pointer">
                                            <span>{{u.Name}} <i class="ui icon check circle outline yellow" ng-if="u.isUsed"></i> </span>
                                        </div>
                                    </div>

                                    <div ng-if="!u.expand" xng-if="u.render">

                                        <div ng-repeat="(k,v) in u.group" ng-hide="k=='' || u.allHide[k]" style="padding-right:12px">

                                            <div layout="row" layout-align="start center" class="datasource-item" ng-init="u.gExpand= u.gExpand ||{}">
                                                <i class="ui icon angle left material-icons icon-animate pointer xright-arrow" ng-click="u.gExpand[k] = u.gExpand[k];" ng-class="{'rotate-90' : u.gExpand[k]}"></i>
                                                <div ng-click="u.gExpand[k] = !u.gExpand[k];" layout="row" class="pointer">
                                                    <span>{{k}} <i class="ui icon check circle outline yellow" ng-if="u.inUse[k]"></i> </span>
                                                </div>
                                            </div>
                                            <div ng-if="!!u.gExpand[k]">

                                                <div class="pointer datasource-field"
                                                     ng-repeat="i in v" type="dimension"
                                                     ng-hide="i.hide"
                                                     xng-hide="existIn(i, measures.concat(dimensions).concat(where), u.groupUse[k]) || hide(i, 'check-name', v)"
                                                     group-name="{{k}}"
                                                     index="{{$index}}" dimindex="{{u.index}}" hi="i" draggable-items>
                                                    <img ng-src="{{app.urlPrefix}}Images/hierarchy1.png" class="chart-editor-data-hicon  tw-inline-block" />
                                                    <!--<span ng-if="!query">{{i.Name}}</span>
                                                    <span ng-if="query" ng-bind-html="i.highlight"></span>-->
                                                    {{i.Name}}
                                                </div> 

                                            </div>
                                        </div>


                                        <!--<collapse ng-repeat="(k,v) in u.group" ng-hide="k==''" style="margin-right:25px">
                                            <collapse-header>
                                                {{k}} <i class="ui icon check circle outline yellow" ng-if="u.inUse[k]"></i>
                                            </collapse-header>

                                            <collapse-body>
                                                <div class="pointer datasource-field"
                                                     ng-repeat="i in v" type="dimension"
                                                     ng-hide="i.hide"
                                                     xng-hide="existIn(i, measures.concat(dimensions).concat(where), u.groupUse[k]) || hide(i, 'check-name', v)"
                                                     group-name="{{k}}"
                                                     index="{{$index}}" dimindex="{{u.index}}" hi="i" draggable-items>
                                                    <img ng-src="{{app.urlPrefix}}Images/hierarchy1.png" class="chart-editor-data-hicon  tw-inline-block" />
                                                    {{i.Name}}
                                                </div>
                                            </collapse-body>
                                        </collapse>-->


                                    <div class="pointer datasource-field"
                                         ng-repeat="i in u.group['']" type="dimension"
                                         group-name=""
                                         ng-hide="i.hide"
                                         xng-hide="existIn(i, measures.concat(dimensions).concat(where), u)|| hide(i, 'check-name')"
                                         index="{{$index}}" dimindex="{{$parent.$index}}" draggable-items>
                                        <img ng-src="{{app.urlPrefix}}Images/hierarchy1.png" class="chart-editor-data-hicon  tw-inline-block" />
                                        <!--<span ng-if="!query">{{i.Name}}</span>
                                        <span ng-if="query" ng-bind-html="i.highlight"></span>-->
                                        {{i.Name}}
                                    </div>


                                    </div>
                                </div>

                                <div class="ui inline centered tiny loader" ng-class="{active: !olapCubes[+selectedOlapCube].Dimensions}"></div>

                            </md-content>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <md-divider></md-divider>
    </form>

    <!--left panel for chart and selected dims-->
    <div flex="60" layout="column">

        <!--Chart Container-->
        <md-content flex="65" layout="column" style="padding:7px;">
            <div layout="row" layout-align="start center">
                <md-input-container class="md-block no-errors-spacer" md-no-float style="margin:0 10px">
                    <input autocomplete="one-time-code" ng-model="chartName" ng-change="refreshChart()" type="text" placeholder="{{ 'نام' | translate }}" />
                </md-input-container>

                <md-button class="md-icon-button" ng-click="showDialog($event)" title="{{'dashboard' | translate}}">
                    <span class="material-icons md-accent gray">view_module</span>
                    <!--<md-tooltip>{{'dashboads' | translate}}</md-tooltip>-->
                </md-button>

                <div>

                    <div class="ui basic mini compact icon button" ng-show="!chartProp.levelTypes.enable && app.license.chartLevelType" ng-click="addLevelType()">
                        تغییر نوع نمودار در سطح بعدی
                    </div>

                    <div class="ui mini basic buttons" ng-show="chartProp.levelTypes.enable">

                        <div class="ui icon button" ng-click="addLevelType()">
                            <i class="icon add gray"></i>
                        </div>
                        <div class="ui icon button" ng-click="removeLevelType()">
                            <i class="icon minus gray"></i>
                        </div>
                    </div>
                    <select ng-show="chartProp.levelTypes.enable" ng-model="chartProp.levelTypes.current" ng-change="changeLevelType(chartProp.levelTypes.current, '{{chartProp.levelTypes.current}}')"
                            xng-options="$index as $index for i in chartProp.levelTypes.types">
                        <option ng-repeat="i in chartProp.levelTypes.props" value="{{$index}}">سطح {{$index+1}}</option>
                    </select>
                </div>


                <span flex></span>

                <style>
                    .old-item-pad {
                        padding: 10px 14px !important;
                    }

                    .active .chart-type-item {
                        background-color: #2196f3;
                    }

                    .chart-type-item {
                        padding: 4px 4px;
                        cursor: pointer;
                        font-size: 13px;
                        position: relative;
                        /*border-radius: 4px;*/
                    }

                        .chart-type-item .icon {
                            width: 70px;
                        }

                        .chart-type-item .title {
                            position: absolute;
                            left: 50%;
                            font-size: 11px;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            /*font-weight: 800;*/
                        }

                        .chart-type-item:hover {
                            background-color: #2196f3;
                        }

                    #chart-content .chart-widget {
                        flex: 1;
                        padding: 0;
                        margin: 0;
                    }
                </style>




                <div class="chart-selector ui small button" ng-if="newChartEnable"> {{getChartName(expandedChartType) }}</div>
                <div class="ui flowing basic admission popup" ng-if="newChartEnable" style="padding:0;">
                    <div style="max-height:250px;overflow-y:auto">

                        <div layout="row" layout-wrap>
                            <div ng-repeat="x in newChartList">
                                <div ccc ng-class="{'active': expandedChartType == x.type }" ng-click="hidemenu(x.type);">
                                    <div class="chart-type-item" layout="row">
                                        <img class="icon" ng-src="{{x.iconLink || defaultIcon}}" title=" {{ x.name | translate}}" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <md-divider></md-divider>

                        <div ng-repeat="i in oldcharts">
                            <div layout="row" layout-wrap>
                                <div ng-repeat="c in i.items" ng-class="{'active': expandedChartType == c.type  }" ng-click="hidemenu(c.type)">
                                    <div class="chart-type-item">
                                        <img class="icon" ng-src="{{c.iconLink || defaultIcon}}" title=" {{ c.title | translate}}" />
                                        <span class="title" ng-if="!c.iconLink"> {{c.title | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </div>

                        <div ng-repeat="(k, v) in customCharts2">
                            <div style="padding:4px 8px; color: #9e9e9e;font-size: 0.8em;"> {{k == 'null'? 'بدون دسته‌بندی' : k}}</div>
                            <div layout="row" layout-wrap>
                                <div ng-repeat="c in v" flex="25" ng-class="{'active': expandedChartType == c.id+1000 }" ng-click="changeChartType(c.id+1000, true);hideMegaMenu();"><div class="chart-type-item">{{c.name}}</div></div>
                            </div>
                            <md-divider></md-divider>
                        </div>

                    </div>
                </div>

                <div class="ui basic buttons">

                    <div class="ui icon button" ng-class="{loading: saveProgress}" ng-click="save($event)" title="{{'save' | translate}}" ng-disabled="(isEdit && (!menus || !menusSelected || !rolePermissionLoaded) ) || (!isEdit && !menus)">
                        <i class="icon check "></i>
                    </div>

                    <div class="ui icon button" ng-click="cancel()" title="{{'cancel' | translate}}">
                        <i class="icon close "></i>
                    </div>

                    <div class="ui icon button" ng-click="delete($event)" ng-show="isEdit" title="{{'delete' | translate}}">
                        <i class="icon trash alternate outline "></i>
                    </div>
                    <div class="ui basic button" ng-class="{loading: saveProgress}" ng-click="save($event , true)" title="" ng-disabled="(isEdit && (!menus || !menusSelected || !rolePermissionLoaded) ) || (!isEdit && !menus)">
                        {{'ذخیره و خروج' | translate}}
                    </div>
                </div>




            </div>

            <md-card-content id="chart-content" flex style="overflow:auto" layout="column">

                <div ng-if="chartType==10" text-angular="text-angular" ng-model="chartProp.text.info.html"></div>

                <!-- درصورتی که از
                    ng-if
                    استفاده شود تریگرها درست کار نمیکنند.
                     -->
                <div ng-show="chartRenderError && (chartType!=10 || (chartProp.text.info.romoteDate && chartType==10))">{{chartRenderError}}</div>
                <div ng-show="chartType!=10 || (chartProp.text.info.romoteDate && chartType==10)" id="divChart" style="flex:1;display:flex;overflow:hidden;"></div>
            </md-card-content>


        </md-content>

        <!--Drop Dimentions Area-->
        <md-divider></md-divider>
        <div class="data-tab" flex="35" ng-show="type!='combo-kpi'" layout="row">
            <div flex="33" layout="column" layout-fill>
                <!--<div class="datasource-item-header">{{ 'ابعاد (ستون‌های رشته‌ای)' | translate }}</div>-->

                <div class="datasource-item-header">{{ 'dimestions' | translate }} <span style="font-size:0.7em; color:gray">{{ 'categorical_fields' | translate }}</span></div>
                <md-content flex id="divX" class="item-container" ui-sortable="sortableOptions" ng-model="dimensions">
                    <div flex layout="row" layout-align="start center" ng-click="gotoDimentionSettings(i, $index)" ng-repeat="i in dimensions track by $index" class="pointer datasource-item">
                        <span class="material-icons small small-size" ng-click="dimensions.splice($index,1);refreshChart();invalidateDims();">close</span>
                        <img ng-src="{{app.urlPrefix}}Images/hierarchy1.png">
                        {{i.Name}}
                        <span flex></span>
                        <span class="material-icons small small-size " ng-click="filterMember(i)">filter_list</span>
                        <i ng-if="i.isFilter" title="پاک کردن فیلتر" class="ui link icon eraser" ng-click="clearFilter(i)"></i>
                          
                    </div>
                </md-content>
            </div>

            <md-divider></md-divider>

            <div flex="33" layout="column" layout-fill>
                <!--<div class="datasource-item-header">{{ 'شاخص‌ها (ستون‌های عددی)' | translate }}</div>-->

                <div class="datasource-item-header">{{ 'measures' | translate }} <span style="font-size:0.7em; color:gray">{{ 'numerical_fields' | translate }}</span></div>
                <md-content flex id="divY" class="item-container" ui-sortable="sortableOptions" ng-model="measures" layout-fill>
                    <div flex layout="row" layout-align="start center" ng-click="gotoMeasureSettings(i, $index)" ng-repeat="i in measures track by $index" class="pointer datasource-item">
                        <span class="material-icons small small-size" ng-click="measures.splice($index,1);refreshChart();invalidateDims();">close</span>
                        <img ng-src="{{app.urlPrefix}}Images/{{i.type && i.type=='measure' ? 'measure' :i.type && i.type=='kpi' ? 'kpi' :'hierarchy1'}}.png">
                        {{i.Name}} 
                        <span flex></span>
                        <span class="material-icons small small-size" ng-click="filterMember(i)" ng-show="((!i.aggregation || i.aggregation=='NONE') && !i.type) || (i.type!='measure' && i.type!='kpi')">filter_list</span>
                        <i ng-if="i.isFilter" title="پاک کردن فیلتر" class="ui link icon eraser" ng-click="clearFilter(i)"></i>
                    </div>
                </md-content>

                <div flex layout="row" layout-align="start center" ng-repeat="i in olapData.measures track by $index" class="pointer datasource-item">
                    <span class="material-icons small small-size" ng-click="olapData.measures.splice($index,1);invalidateDims();">close</span>
                    <img ng-src="{{app.urlPrefix}}Images/measure.png">
                    {{i.Name}}
                </div>
                <div flex layout="row" layout-align="start center" ng-repeat="i in olapData.kpis track by $index" class="pointer datasource-item">
                    <span class="material-icons small small-size" ng-click="olapData.kpis.splice($index,1);invalidateDims();">close</span>
                    <img ng-src="{{app.urlPrefix}}Images/kpi.png">
                    {{i.Name}}
                </div>
            </div>

            <md-divider></md-divider>

            <div flex="33" layout="column" layout-fill>
                <div class="datasource-item-header">{{ 'شرط' | translate }}</div>
                <md-content flex id="divProv" class="item-container" ui-sortable="sortableOptions" ng-model="where">
                    <div flex layout="row" layout-align="start center" ng-click="gotoWhereSettings(i, $index)" ng-repeat="i in where track by $index" class="pointer datasource-item">
                        <span class="material-icons small small-size" ng-click="where.splice($index,1);refreshChart();invalidateDims();">close</span>
                        <img ng-src="{{app.urlPrefix}}Images/hierarchy1.png">
                        {{i.Name}}
                        <span flex></span>
                        <span class="material-icons small small-size" ng-click="filterMember(i)">filter_list</span>
                        <i ng-if="i.isFilter" title="پاک کردن فیلتر" class="ui link icon eraser" ng-click="clearFilter(i)"></i>
                    </div>
                </md-content>

            </div>

        </div>



    </div>

</div>

<script type="text/ng-template" id="editor/save-chart.html">

    <md-dialog aria-label="{{'pages and permissions settings' | translate}}" ng-cloak style="width:80%">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'pages and permissions settings' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="material-icons">close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container class="md-block">
                    <label>{{ 'نام' | translate }}</label>
                    <input ng-model="parent.chartName" type="text" />
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{ 'desc' | translate }}</label>
                    <textarea ng-model="parent.chartDesc" type="text"></textarea>
                </md-input-container>

                <div>
                    <div class="inline" ng-repeat="(k,v) in parent.menus">
                        <div class="chip" ng-repeat="s in v | filter:{check:true}">
                            {{s.name}}
                            <span class="closebtn" ng-click="s.check = false">&times;</span>
                        </div>
                    </div>

                </div>

                <collapse>
                    <collapse-header>
                        {{'menus' | translate}}
                    </collapse-header>

                    <collapse-body>
                        <div style="margin:0 20px">
                            <collapse ng-repeat="(k,v) in parent.menus">
                                <div layout="row">
                                    <collapse-header>
                                        {{k}}
                                    </collapse-header>
                                    <span flex></span>
                                </div>
                                <collapse-body>
                                    <div style="margin:0 20px">
                                        <div ng-repeat="r in v" layout="row" layout-align="start center">
                                            <md-checkbox ng-model="r.check">{{r.name}}</md-checkbox>
                                            <span flex></span>

                                        </div>
                                    </div>
                                </collapse-body>
                            </collapse>
                        </div>

                    </collapse-body>

                </collapse>

                <datasource-permission ng-model="parent.roles" class="block" type="chart" id="{{parent.id}}"></datasource-permission>

            </div>


        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save()">
                {{ 'ذخیره' | translate }}
            </md-button>
            <md-button ng-click="cancel()">
                {{ 'انصراف' | translate }}
            </md-button>
        </md-dialog-actions>
    </md-dialog>

</script>

<script type="text/ng-template" id="editor/filterMember.html">

    <md-dialog aria-label="{{'filter' | translate}}" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'filter' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="material-icons">close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div xlayout-margin class="xmd-dialog-content prop-section chart-editor">

                <md-tabs xmd-dynamic-height md-border-bottom flex md-selected="2">
                    <md-tab label="{{ 'متغیرهای کاربری' | translate }}">
                        <md-content class="md-padding">
                            <div ng-hide="parent.userProperty&&parent.userProperty.length>0">   هنوز متغیری برای کاربران خود نساخته‌اید. برای ساخت متغیر کاربری، به قسمت ویرایش کاربر بروید.</div>
                            <div ng-show="parent.userProperty&&parent.userProperty.length>0">
                                <div><label><input type="checkbox" ng-model="allUserProp" ng-change="parent.checkAll(parent.userProperty, allUserProp)"> {{ 'انتخاب همه' | translate }}</label></div>
                                <div ng-repeat="i in parent.userProperty"><label><input type="checkbox" ng-model="i.Checked"> {{i.Name}}</label></div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'متغیرهای سراسری' | translate }}">
                        <md-content class="md-padding">
                            <div><label><input type="checkbox" ng-change="parent.checkAll(parent.globalVariable, allGlobVar)" ng-model="allGlobVar"> {{ 'انتخاب همه' | translate }}</label></div>
                            <div ng-repeat="i in parent.globalVariable"><label><input type="checkbox" ng-model="i.Checked"> {{i.Name}}</label></div>

                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'مقادیر' | translate }}">
                        <md-content class="md-padding" flex>
                            <div class="ui form">
                                <div class="inline fields">
                                    <label>نوع شرط</label>
                                    <div class="field">
                                        <div class="ui radio">
                                            <label><input type="radio" ng-model="parent.members.filter.type" value="number"> عددی</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio">

                                            <label><input type="radio" ng-model="parent.members.filter.type" value="value"> انتخاب مقدار</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio">
                                            <label><input type="radio" ng-model="parent.members.filter.type" value="function"> تابع</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--شرط عددی-->
                            <div xng-show="parent.members.isNumeric" ng-show="parent.members.filter.type == 'number'" class="form-horizontal">

                                <div class="form-row" layout="row" layout-align="start center">
                                    <label class="col-sm-4">{{ 'نوع فیلتر' | translate }}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control"
                                                ng-model="parent.members.numericFilter.type"
                                                ng-init="parent.members.numericFilter.type='condition'"
                                                ng-options="color.name as  color.value for color in [
                                                                {name:'condition', value: 'شرط'  },
                                                            ]">
                                            <!--<option value="condition">{{ 'شرط' | translate}}</option>-->

                                        </select>
                                    </div>
                                </div>

                                <div ng-show="parent.members.numericFilter.type=='condition'" class="form-row" style="font-size:12px">

                                    <span>{{parent.members.name}}</span>
                                    <select class="condition-style" ng-model="parent.members.numericFilter.conditions[0].condition"
                                            ng-options="color.name as  color.value for color in [
                                                                {name:'none', value: ''  },
                                                                {name:'eq', value: 'برابر'  },
                                                                {name:'neq', value: 'نابرابر'  },
                                                                {name:'gre', value: 'بزرگتر'  },
                                                                {name:'greeq', value: 'بزرگتر مساوی'  },
                                                                {name:'les', value: 'کوچکتر'  },
                                                                {name:'leseq', value: 'کوچکتر مساوی'  },
                                                            ]"></select>

                                    <input class="condition-style" style="width:50px;" type="text" ng-model="parent.members.numericFilter.conditions[0].parameter" />

                                    <select class="condition-style" ng-model="parent.members.numericFilter.conditionType"
                                            ng-options="color.name as  color.value for color in [
                                                                {name:'and', value: 'و'  },
                                                                {name:'or', value: 'یا'  },
                                                            ]"></select>

                                    <select class="condition-style" ng-model="parent.members.numericFilter.conditions[1].condition"
                                            ng-options="color.name as  color.value for color in [
                                                                {name:'none', value: ''  },
                                                                {name:'eq', value: 'برابر'  },
                                                                {name:'neq', value: 'نابرابر'  },
                                                                {name:'gre', value: 'بزرگتر'  },
                                                                {name:'greeq', value: 'بزرگتر مساوی'  },
                                                                {name:'les', value: 'کوچکتر'  },
                                                                {name:'leseq', value: 'کوچکتر مساوی'  },
                                                            ]"></select>
                                    <input class="condition-style" style="width:50px;" type="text" ng-model="parent.members.numericFilter.conditions[1].parameter" />

                                </div>

                                <div class="form-row" ng-show="parent.members.numericFilter.type=='func'">
                                    <div class="form-row" layout="row" layout-align="start center">
                                        <label class="col-sm-4">{{ 'انتخاب تابع' | translate }}</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" ng-model="parent.members.numericFilter.func"
                                                    ng-options="color.name as  color.value for color in [
                                                                {name:'aboveAvg', value: 'بالای میانگین'  },
                                                                {name:'belowAvg', value: 'زیر میانگین'  },
                                                            ]"></select>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <!--شرط غیر عددی-->
                            <div xng-show="!parent.members.isNumeric" ng-show="parent.members.filter.type == 'value'">

                                <!--<div class="md-padding" layout="column" layout-align="center center" ng-hide="parent.members">
                                    <md-progress-circular md-mode='indeterminate'></md-progress-circular>
                                </div>-->
                                <div class="ui inline centered tiny loader" ng-class="{active: !parent.members}"></div>

                                <div class="field fluid input mini ui" style="margin-bottom:10px">
                                    <input type="text" placeholder="جستجو" ng-model="parent.memberQuery" ng-change="parent.memberQueryChange()" />
                                </div>

                                <div>
                                    <label><input type="checkbox" ng-model="allmember" ng-change="parent.checkAll(parent.members.list, allmember)"> {{ 'انتخاب همه' | translate }}</label>
                                </div>
                                <div ng-show="parent.memberProgress">
                                    <div class="ui inline centered tiny loader" ng-class="{active: parent.memberProgress}"></div>
                                </div>
                                <div ng-hide="parent.memberProgress">
                                    <div ng-repeat="i in parent.members.list"><label><input type="checkbox" ng-model="i.Checked"> {{i.Name}}</label></div>
                                </div>

                            </div>

                            <div ng-show="parent.members.filter.type == 'function'">
                                <div class="form-row" layout="row" layout-align="start center">
                                    <label class="col-sm-4">{{ 'نوع تابع' | translate }}</label>
                                    <span class="form-divider" flex></span>
                                    <div class="col-sm-8">
                                        <select class="form-control"
                                                ng-model="parent.members.filter.funcType"
                                                ng-options="i.name as i.value for i in [{name:'time', value: 'تاریخ'  }]"></select>
                                    </div>
                                </div>
                                <sd-time-function ng-model="parent.members.filter.funcTime"></sd-time-function>
                            </div>


                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>


        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel(); parent.refreshChart();">
                {{ 'بستن' | translate }}
            </md-button>
        </md-dialog-actions>
    </md-dialog>





</script>