<style>
    .icon-down:after {
        content: 'keyboard_arrow_up';
        font-family: 'Material Icons';
        line-height: 0;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }

    .icon-up:after {
        content: 'keyboard_arrow_down';
        line-height: 0;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }

    input, select, textarea {
        font-family: is;
        font-size: 12px;
    }


    .cssFade.ng-hide-add, .cssFade.ng-hide-remove {
        transition: 0s ease-in-out all;
    }

    .cssFade.ng-hide-add-active,
    .cssFade.ng-hide-remove-active {
        transition: 0.6s ease-in-out all;
    }

    .cssFade {
        transition: 0.6s ease-in-out all;
        opacity: 1;
    }

        .cssFade.ng-hide {
            opacity: 0;
        }

    .sadaf-table button {
        text-transform: initial;
    }
</style>

<div flex layout="column">
    <md-toolbar xstyle="background-color:white; color:#666" class="md-primary md-hue-3" md-theme="t1">
        <div class="md-toolbar-tools ">
            <!--<div layout="row">
                <span ng-repeat="i in path" layout="row" layout-align="center center">
                    <span class="material-icons" ng-hide="$index == 0">keyboard_arrow_left</span>
                    <md-button style="min-width:0" ng-click="goto({type:1, id: i.id})">{{i.name}}</md-button>
                </span>
            </div>-->

            <span flex></span>

            <md-input-container md-no-float class="md-block" style="margin-top:30px">
                <input ng-model="search" placeholder="{{'جستجو' | translate}}">
            </md-input-container>

            <md-button class="md-icon-button cssFade"  href="{{app.hashUrlPrefix}}#/chart-import" title="{{'وارد کردن دسته‌ای نمودارها' | translate}}">
                <i class="ui large icon arrow alternate circle down outline"></i>
            </md-button>

            <md-button class="md-icon-button cssFade" ng-show="canDirEdit" ng-click="dirEdit($event)" title="{{'rename_folder' | translate}}">
                <span class="material-icons">edit</span>
            </md-button>

            <md-button class="md-icon-button cssFade" ng-show="canForward" ng-click="forward($event)" title="{{'move_to_folder' | translate}}">
                <span class="material-icons">forward</span>
            </md-button>

            <md-button class="md-icon-button cssFade" ng-show="canDelete" ng-click="delete($event)" title="{{'remove' | translate}}">
                <span class="material-icons">delete</span>
            </md-button>
            <md-button class="md-icon-button cssFade" ng-show="canCopy" ng-click="copy($event)" title="{{'copy' | translate}}">
                <span class="material-icons">content_copy</span>
            </md-button>

            <md-button class="md-icon-button" ng-click="newPackage($event)" title="{{'new_folder' | translate}}">
                <span class="material-icons">create_new_folder</span>
            </md-button>
            <md-button class="md-icon-button" ng-click="newChart($event)" title="{{'new_chart' | translate}}">
                <span class="material-icons">add_circle</span>
            </md-button>
        </div>
    </md-toolbar>

    <div flex layout="column">
        <md-content flex class="scroll-container">

            <table class="sadaf-table">
                <tr>
                    <th>
                        <md-checkbox ng-model="selectAllCheckbox" ng-change="selectAll()" aria-label="{{'select_all' | translate}}"></md-checkbox>
                    </th>
                    <th>#</th>
                    <th></th>
                    <th class="pointer" ng-click="sort('name')">
                        <div layout="row" layout-align="start center">
                            {{'name' | translate}}
                            <span ng-show="sortDetail['name']" ng-class="{'rotate': sortDetail['name'].isDesc}" class="material-icons icon-animate  rotate">keyboard_arrow_up</span>
                        </div>
                    </th>
                    <th class="pointer" ng-click="sort('timestamp')">
                        <div layout="row" layout-align="start center">
                            {{'last update' | translate}}
                            <span ng-show="sortDetail['timestamp']" ng-class="{'rotate': sortDetail['timestamp'].isDesc}" class="material-icons icon-animate  rotate">keyboard_arrow_up</span>
                        </div>

                    </th>
                    <th></th>
                    <th>کاربر</th>
                    <!--<th>{{'integrity check' | translate}}</th>-->
                </tr>

                <tr ng-repeat="row in data" ng-class="{active : row.select}" ng-click="row.select = !row.select; menuInvalidate()" ng-dblclick="goto(row, $event)">
                    <td width="20">
                        <md-checkbox ng-model="row.select" ng-change="menuInvalidate()" ng-click=" $event.stopPropagation()" aria-label="{{'select' | translate}}"></md-checkbox>
                    </td>
                    <td width="20">{{utils.persian( (page - 1) * pageCount  + $index+1)}}</td>

                    <td width="20">
                        <i ng-if="row.type==1" class="ui icon folder outline large gray"></i>
                        <img ng-show="row.type==2" ng-src="{{getChartTypeImage(row.chartType)}}" title="{{getTypeName(row.chartType)}}" />
                    </td>
                    <td>
                        <span class="pointer" ng-click="goto(row, $event); $event.stopPropagation();">
                            {{row.name}}
                        </span>
                        <div ng-if="search">
                            <small ng-repeat="p in row.path" class="grey"><a href="{{app.hashUrlPrefix}}#/charts/{{p.key}}">{{p.value}}</a> <span ng-hide="$index==row.path.length-1">/</span> </small>
                        </div>
                    </td>
                    <td class="md-caption">{{utils.persian(row.time)}}</td>
                    <td>
                        <div ng-show="row.type == 2 && row.pages.length">

                            <md-menu md-offset="0 -7">
                                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event); $event.stopPropagation(); row.render = true;" title="{{'chart_pages' | translate}}">
                                    <span class="material-icons" style="color:#757575" title="{{'chart_pages' | translate}}">toc</span>

                                    <!--<md-tooltip>{{'chart_pages' | translate}}</md-tooltip>-->
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="c in row.pages" ng-if="row.render">
                                        <md-button href="{{app.urlPrefix}}#/app/1/dashboard/{{c.id}}">
                                            <span>{{c.name}}</span>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>

                        </div>
                    </td>
                    <td>{{row.user}}</td>

                    <!--<td ng-show="securityCertPatch && row.type == 2"><i ng-show="row.sign" class="ui icon green check"></i><i ng-hide="row.sign" class="ui icon red times"></i></td>
                    <td ng-hide="securityCertPatch && row.type == 2"></td>-->
                </tr>
            </table>
            <div layout="row" layout-sm="column" layout-align="space-around" ng-show="progress" layout-margin>
                <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
            </div>
            <p ng-bind-html="error" ng-show="error" class="danger " layout-padding></p>
            <div ng-hide="(data && data.length) || progress || error" class="md-caption" style="padding:16px; text-align:center">داده‌ای برای نمایش وجود ندارد</div>

        </md-content>

        <div class="ui pagination menu bottom attached" ng-show="data && data.length && maxPage>1">
            <a class="item" ng-class="{active: n==page}" ng-repeat="n in _.range(1, maxPage+1)" ng-click="setPage(n)">{{n}}</a>
        </div>

    </div>
</div>
