
@media (min-width : 768px) and (max-width : 2000px) {
    .side-menu {
        padding-right: 0;
    }
}


@media (min-width : 320px) and (max-width : 768px) {
    .side-menu {
        padding-right: 15px;
    }
}


/*fix ie scroll over content*/
html {
    -ms-overflow-style: scrollbar;
}

.body {
    min-height: 700px;
}

.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 10px;
    padding: 5px;
    text-align: right;
    font-family: Tahoma;
    font-size: 0.8em;
}


/*@font-face {
    font-family: "Droid";
    src: url("../fonts/DroidNaskh-Regular.ttf");
}

@font-face {
    font-family: "Droid";
    font-weight: bold;
    src: url("../fonts/DroidNaskh-Bold.ttf");
}*/
@font-face {
    font-family: "Droid";
    font-style: normal;
    font-weight: 400;
    src: local("Droid Arabic Naskh"), local("DroidArabicNaskh"), url("../fonts/DroidNaskhRegular.6e0427fa2c31.eot") format("embedded-opentype"), url("../fonts/DroidNaskhRegular.1d980d42c3d2.woff") format("woff"), url("../fonts/DroidNaskhRegular.7dd126665934.ttf") format("truetype");
}

@font-face {
    font-family: "Droid";
    font-style: normal;
    font-weight: 700;
    src: local("Droid Arabic Naskh Bold"), local("DroidArabicNaskh-Bold"), url("../fonts/DroidNaskhBold.933b376475c4.eot") format("embedded-opentype"), url("../fonts/DroidNaskhBold.5d55f4fc3386.woff") format("woff"), url("../fonts/DroidNaskhBold.635b94457be6.ttf") format("truetype");
}

@font-face {
    font-family: "adobe";
    font-style: normal;
    font-weight: normal;
    src: local("☺"), url("../fonts/adobe-regular.woff") format("woff"), url("../fonts/adobe-regular.ttf") format("truetype");
}

@font-face {
    font-family: "adobe";
    font-style: normal;
    font-weight: bold;
    src: local("☺"), url("../fonts/adobe-bold.woff") format("woff"), url("../fonts/adobe-bold.ttf") format("truetype");
}

/*droid font clipped in normal select*/
select.form-control {
    padding-bottom: 3px;
    padding-top: 3px;
}

.code {
    font-family: "Courier New",monospace;
    direction: rtl;
    word-break: break-all;
}

.adobe {
    font-family: adobe, Droid, Arial;
}

/*Set bootstrap btn font*/
.btn {
    font-family: Droid, tahoma, Arial;
}

fieldset legend {
    font-family: Droid, Tahoma;
}

.big-font {
    font-size: 1.7em;
}

.mid-font {
    /*font-size: 14px;*/
    font-size: 18px;
    /*font-weight: bold;*/
}

.full-width {
    width: 100%;
}

.inline {
    display: inline-block !important;
}

.clear {
    clear: both;
}

.accordion-inner a {
    color: #222;
    font-size: 0.9em;
    font-weight: normal;
}

.panel-group .panel {
    overflow: visible !important; /* برای اینکه دراپ دان منو کامل نشان داده شود */
}

#accordion2 .panel-body {
    padding: 5px 0 !important;
}

    #accordion2 .panel-body .icon-menu-toolbar-container:hover {
        background-color: #fcfcfc;
    }

    #accordion2 .panel-body .active {
        /*margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;*/
        background-color: #f9f9f9 !important;
        border-left: 5px solid #666;
    }

        #accordion2 .panel-body .active .simple-link {
            /*color: #fff;*/
        }

.panel-title {
    font-weight: bold;
}

.dropdown-menu {
    font-family: Droid, Tahoma,Arial;
}

#side-navigation2 .panel-heading {
    /*padding: 5px 15px !important;*/
    /*background-image: -moz-linear-gradient(center top, #F9F9F9, #F2F2F2);
   background: rgb(242,242,242);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(249,249,249,1))); 
   background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(249,249,249,1) 100%);
   background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(249,249,249,1) 100%); 
   background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(249,249,249,1) 100%);
   background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(249,249,249,1) 100%); 
   border-bottom: 1px solid #CCCCCC;
   cursor: pointer;*/
}

    #side-navigation2 .panel-heading a {
        color: #444;
    }

        #side-navigation2 .panel-heading a:hover {
            color: #444;
            text-decoration: none;
        }

.simple-link:hover {
    text-decoration: none;
}

button::-moz-focus-inner {
    border: 0;
}

a::-moz-focus-inner {
    border: 0;
}

body {
    margin-top: 50px; /*bootstrap banner need it*/
    /*padding-top:5px;*/
    direction: ltr;
    font-family: Droid, Tahoma, Arial !important;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*html {
    overflow-y: scroll;
}*/

body {
    overflow-y: scroll;
}

    body.modal-open .navbar.navbar-inverse {
        padding-left: 17px;
    }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Droid, Tahoma,Arial !important;
}


.small-icon {
    font-size: 14px !important;
    font-weight: normal !important;
    /*top: 0.25em !important;*/
}


.bold {
    opacity: 0.2;
    font-weight: bold !important;
}

    .bold:hover {
        opacity: 0.5;
    }

.over-show .show-node {
    /*display: none;*/
    visibility: hidden;
}

.bar-chart .over-show .show-node {
    display: inherit;
    visibility: visible;
}

.over-show:hover .show-node {
    display: inherit;
    visibility: visible;
}

.small-modal .modal-dialog {
    width: 300px !important;
}

.large-modal .modal-dialog {
    width: 900px !important;
}

.modal-dialog .modal-content .modal-header span {
    /*font-size: 12px;*/
}



/*
     استایل ورود - مثال بوت استرپ
     */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }


/*
 * در صورتی که مودال باز شود اسکرول سمت راست می‌افتد بناربراین باید اولین المنت چپ به راست باشد. 
 * مارجین اصلی هم سمت چپ می‌افتد (به دلیل راستچین کردن کتابخانه) که باید راست باشد 
 */
/*body.modal-open,*/ .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    /*margin-left: 0 !important;
    margin-right: 17px;*/
}

.modal {
    /*overflow-y: auto !important;*/
    direction: rtl;
}

.modal-dialog {
    direction: ltr;
}

.largbtn {
    cursor: pointer;
}

    .largbtn:hover {
        background: rgba(237, 232, 250, 0.59);
    }

.pointer {
    cursor: pointer;
}

.unstyled-lable {
    margin-left: 5px;
    font-weight: normal;
    display: inline;
}

h4, .h4 {
    font-size: 26px;
}

.rtl {
    direction: ltr;
}

.ltr {
    direction: rtl;
}

/*custom theme for ChodanSazan*/
/*.navbar-inverse {
    background-color: #c1dcff;
    border-color: #00156e;
}

    .navbar-inverse .navbar-brand {
        color: #00156e;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #00156e;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        background-color: #00156e;
        color: #ffffff;
    }

    .navbar-inverse .navbar-link {
        color: #00156e;
    }*/

.none-decoration {
    text-decoration: none !important;
}


.dashboard-navbar-item .active {
    opacity: 0.5;
}

.dashboard-navbar-item {
    padding: 6px 12px;
    -moz-user-select: none;
    background-image: none;
    display: table-cell;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.dashboard-navbar-item-devider:after {
    border-right: 1px solid #eee;
    content: ' ';
}

.dashboard-navbar-item-devider {
    padding-right: 0;
    padding-left: 0;
}

.select-package {
    margin: -6px 0 0;
    padding: 4px 7px;
}

    .select-package:hover, .select-package.ui-selecting {
        background-color: #f9f9f9;
    }

    .select-package.active, .select-package.ui-selected {
        background-color: #5bc0de;
    }

.clear-after:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.foldered-grid .ui-selected, .foldered-grid .ui-selecting {
    background-color: #eee;
}

.bootstrap-select.btn-group .btn .filter-option {
    text-align: left;
}

.icon-menu-toolbar {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 5px;
    line-height: 0;
}

.icon-menu-toolbar-container {
    padding-left: 15px;
    padding-right: 30px;
    position: relative;
}

.navbar-inverse .navbar-brand {
    font-size: 20px;
}

    .navbar-inverse .navbar-brand:hover {
        color: #9d9d9d;
    }


.foldered-grid .page-header {
    margin-top: 0;
    padding-top: 40px;
    position: absolute;
    background: none repeat scroll 0 0 #fff;
    width: calc(100% - 60px);
    margin-bottom: 10px;
}

.foldered-grid .grid-container {
    margin-top: 106px;
}

@media (min-width: 768px) {
    .foldered-grid .page-header.affix {
        right: 30px;
        width: calc(81.1% - 30px);
    }

        .foldered-grid .page-header.affix.with-help-box {
            right: 30px;
            width: calc(81.1% - 21% - 30px);
        }
}

.foldered-grid .page-header.affix {
    position: fixed;
    z-index: 2;
}


.filter-box-item {
    display: inline-block;
    padding: 0 5px;
    margin-right: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    min-width: 120px;
    max-width: 240px;
    position: relative;
    padding-right: 20px;
    font-size: 12px;
}

.filter-box-item-content {
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    overflow: hidden;
    font-size: 10px;
}

.filter-box-item + .filter-box-item {
    border-left: 1px solid silver;
}

.filter-box-item-close {
    position: absolute;
    top: -2px;
    right: 4px;
}

.help-box {
    font-size: 11px;
    background-color: #eee;
    padding: 1px 4px;
    font-family: tahoma;
    float: right;
    margin-left: 5px;
    cursor: pointer;
    opacity: 0.4;
}

    .help-box:hover {
        opacity: 1;
    }

.help-window {
    padding: 15px 15px;
    background-color: #FAFAFA;
    overflow: auto;
    position: fixed;
    left: 0;
    width: 340px;
    font-size: 12px;
}

    .help-window p {
        text-align: justify;
    }


    .help-window + div {
        margin-left: 340px;
    }

@media (min-width: 768px) {
    .help-window {
        border-right: 1px solid silver;
    }
}

.gray {
    color: #666;
}

.desc {
    font-size: 12px !important;
    color: #222222;
    margin-top: 4px;
    background-color: #F9F9F9;}


/*[contenteditable].in-place-edit {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;


    -webkit-user-modify: read-only;
-webkit-user-select: none;
border-collapse: separate;
color: rgb(34, 34, 34);
cursor: default;
direction: rtl;
display: inline;
font-family: arial, sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: auto;
line-height: normal;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-bottom: 3px;
padding-left: 1px;
padding-right: 1px;
padding-top: 3px;
unicode-bidi: embed;
white-space: pre;
width: auto;
zoom: 1;
}

    [contenteditable].in-place-edit br {
        display: none;
    }

    [contenteditable].in-place-edit * {
        display: inline;
        white-space: nowrap;
    }*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/*
    Indicatior: sadaf menu
*/
.cr-target-toggle {
    background-image: url('../Images/condition-toggle.png');
    background-repeat: no-repeat;
    cursor: pointer;
    height: 23px;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 6px;
    width: 49px;
}

.cr-target-toggle-text {
    background-position: 0 -25px;
}

.color-palet {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.col-sm-2 .color-palet {
    margin: 1px -14px;
}

.sadaf-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: default;
    font-size: 13px;
    margin: 0;
    outline: medium none;
    padding: 15px;
    position: absolute;
    transition: opacity 0.218s ease 0s;
}

.color-red {
    color: #d62728;
}

.color-gray {
    color: #7f7f7f;
}

.color-green {
    color: #2ca02c;
}

.icon-menu .glyphicon {
    font-size: 18px;
}

.icon-menu .col-sm-4:hover {
    background-color: #d9d3ff;
}


#side-navigation2 .panel-body a {
    /*font-size: 11px;
    font-family: droid;*/
}

#side-navigation2 .panel-body > div {
    border-left: 5px solid transparent;
    padding-left: 5px;
        padding-top: 3px;
    padding-bottom: 3px;
    /*line-height: 19px;
    font-weight: bold;*/
}

.licence-message {
    line-height: 20px;
    margin-right: 15px;
    font-family: tahoma;
    font-size: 12px;
    color: rgb(253, 255, 201) !important;
}


@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-header {
        width: 100%;
    }

    .navbar-collapse.collapse {
        display: none !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        visibility: visible !important;
    }
}

@media (min-width: 992px) {
    .navbar-toggle {
        display: none;
    }

    .navbar-header {
        width: auto;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
    }
}

.actionbar {
    margin: 15px;
}

.icon-barv {
    background-color: #fff;
    float: right;
    height: 14px;
    margin-right: 4px;
    padding: 0;
    width: 2px;
}

/*.side-menu {
    position: absolute;
    background: none repeat scroll 0 0 white;
    border-right: 1px solid #eee;
    padding-top: 10px;
    z-index: 1001;
    left: -300px;
    width: 300px;
}

@media (min-width: 992px) {*/
    .side-menu {
        /*width: 16.66%;*/
        position: inherit;
        background: none;
        border-right: none;
        padding-top: 10px;
        z-index: 1;
        margin-top: inherit;
    }
/*}*/

.settings-section-btn {
    position: absolute;
    right: 5px;
    top: 10px;
}
/*Alert - chart settings*/
.alert-group {
    min-height: 20px;
    padding: 7px;
    margin: 7px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    position: relative;
}

.alert-conditions-row .icon-btn {
    margin-left: 7px;
}

.alert-conditions-row .caption {
    margin-right: 40px;
}

.alert-conditions-row .btn-holder {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
}

.alert-conditions-row {
    padding: 3px 5px;
    margin: 0 -5px;
    position: relative;
}

    .alert-conditions-row:hover {
        background-color: #f1f1f1;
    }

.alert-section {
    padding: 5px 5px;
    margin: 0px -5px;
    position: relative;
    font-weight: bold;
}

    .alert-section::before {
        content: '::';
    }

.alert-form-group {
    margin: 5px 0;
}

.user-add {
    width: 20px;
    height: 20px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABHklEQVQ4T83UPyhFcRjG8c+1UMrKQBlE/iwWMiuDlMVuMigLs4VZyiCLwYyV2IwWRUTJYNAd7AYLeuvcuvfXORy3W7x1hvd0zvf3PO/7nFPR4qq0mOdPgT1YwSAesIvX1GFZhf24RHcdoIpJvNRDU2AvunCfnHyAxZx572PpO+AhFtCWvHyH0RzgNcabAZ5jJgd4grkUGDa3s5tTiP4o60PxcQY7oyEVH5jGRQocQViKqs30M+s3EFfUPDYxlG15HaGwodKlFM2wdP5/A4z8DaATb3jE008KY8OxzZrNDqxiGX05Mp+xhx28188sz1IATjFWwu8NZlEt+lLacVWQvSJ+QCeKgKHqtoSy9JHhImBkcasJ4FrZn0Np9v8HfgEKjixd/DeVwwAAAABJRU5ErkJggg==");
}

.user-group-add {
    width: 24px;
    height: 20px;
    /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABOklEQVQ4T93UvStHYRQH8A8ZKBkMJpS3zDKQQcpgRSSsbErylsFkMchgIIXFIuTlH7BiZ1IkO5vkvaeeW7efl98dTE49wz3P93zP/X7PubfAH0fBH/P5X4SF+IgncSooDOc9nchnYzHWMYgHTGEbTdhDNVYwHZrletiKqghMGs1iMdX1DQ3YQkcq34bTXMJd9CHIS2IHAzkyujGHllS+EydZCCexlCp8RR0acYBSHKIfb4EwXB7HgiC3DJfxeRUb0aMh3GMGQUmIQFaOu2RYWQgD6U8RBlKCWzwFUBbJRWiOw3rGBW7ipIdjp0esBV/zEY5hHhU5r3iGcYxiJHW3+d3aVGIfy5j4RW6Q2IUFtEfcy0/fcg2u8208ztGL2oj9stgJRz2OMhBeoSeN+19/mwwOfN3DTEW/gT4BLdY665RBf9IAAAAASUVORK5CYII=");*/
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABO0lEQVRIS+3TQSsFYRTG8d9NSogksrDkExBJStn4CizYSGIlZUls7JQiSSmJfANbCyHf4JakrOyEKBS9dW9N486dmcUtC7Obzun9n/M8zymo8Veo8fv+AakK/ymJGrGFCXzjBIt4Qy+O0I8bTOE2rJdng33MxDTZwxyuMRipXWI4CRCmq1R7RVMM8IIWfKEuUgv/9XkB4bHmGOAZrQgTD0VqFxjJCwhyzMYAu5hHDw4xUJJrGndRQFmWpNgFr4LJm5gsmXyMJbxXy2rZ5CyA1MxXaqiUoiSTkwDB5B2Mox2POMM67rMC+rCAUXSXSA84xzbaECTrikzxhLE0QKhvYLnKzYSNQ88BrtARgRTTDm0NKxnFX0URp9H+NMBH+WAyQD7RgM48gLR0xbm/Bk7bIMPg1Vv+AakS1lyiH5KrODpNX0nCAAAAAElFTkSuQmCC");
}

.alert-section-modal {
    font-size: 14px;
}

    .alert-section-modal h4 {
        font-size: 24px;
    }

.caption {
    font-size: 10px;
}

.alert-close {
    position: absolute;
    right: -5px;
    top: -5px;
}

.alert-conditions-add {
    position: absolute;
    right: 5px;
    top: 7px;
}


.alert-info-add {
    position: absolute;
    right: 5px;
    top: 7px;
}

.alert-user-add {
    position: absolute;
    right: 22px;
    top: 4px;
}

.alert-group-add {
    position: absolute;
    right: 45px;
    top: 1px;
}

.login-label {
    margin-left: 20px;
}

*[data-trans-key]:not([data-trans-attr]):before {
    content: ' ';
}

.list-group-item.activate {
    border-left: 3px solid #d26911 !important;
    font-weight: bold;
}

.list-group-item a {
    text-decoration: none !important;
}

.list-group-item.activate a {
    color: #222;
}

.combo-kpi-chart-item {
    padding: 10px 15px;
}

    .combo-kpi-chart-item + .combo-kpi-chart-item {
        border-top: 1px solid #e0e0e0;
    }


.dept-alert {
    position: fixed;
    bottom: 20px;
    left: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    background-color: red;
    color: white;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.dropdown-menu li .glyphicon {
    margin: 0px 10px 0px 0px;
    color:#616161;
}

/*fix search input over datepicker*/
.input-group .form-control {
  z-index: 1;
}
