body {
}

.chart {
    background-image: url("../Images/property-icon-sprite.png");
    width: 25px;
    height: 25px;
    margin-top: -5px;
    margin-bottom: -4px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: -8px;
}

.line {
    background-position: 0px -150px;
}

.area {
    background-position: -30px -150px;
}

.line-dot {
    background-position: -60px -150px;
}

.line-dot-area {
    background-position: -90px -150px;
}

.dot {
    background-position: -120px -150px;
}

.lineStyle-angle {
    background-position: 0px -90px;
}

.lineStyle-curve {
    background-position: -30px -90px;
}

.lineStyle-square {
    background-position: -60px -90px;
}

.lineWeight-1 {
    background-position: 0px -120px;
}

.lineWeight-2 {
    background-position: -30px -120px;
}

.lineWeight-3 {
    background-position: -60px -120px;
}

.lineWeight-4 {
    background-position: -90px -120px;
}

.lineWeight-5 {
    background-position: -120px -120px;
}

.lineWeight-6 {
    background-position: -150px -120px;
}

.lineWeight-7 {
    background-position: -180px -120px;
}

.lineWeight-8 {
    background-position: -210px -120px;
}


.lineDashes-solid {
    background-position: 0px -60px;
}

.lineDashes-Dash {
    background-position: -30px -60px;
}

.lineDashes-dot {
    background-position: -90px -60px;
}

.pie-full {
    background-position: 0px 0px;
}

.pie-circle {
    background-position: -30px 0px;
}

.prop-section-header {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    padding: 7px 20px;
    margin: 0 -5px;
}

.prop-section-contain {
    padding: 10px 0;
}

.prop-section-panel {
    margin: 0;
    border: none;
    padding: 0 5px;
    box-shadow: none;
}

    .prop-section-panel .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

.prop-section {
    /*margin: 10px 0px;*/
}

.prop-section-container {
    margin-top: 10px;
}

.chart-design .row {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

.chart-design .ui-state-hover {
    background-color: #fff;
}

.chart-design .col-xs-1, .chart-design .col-xs-2, .chart-design .col-xs-3, .chart-design .col-xs-4, .chart-design .col-xs-5, .chart-design .col-xs-6, .chart-design .col-xs-7, .chart-design .col-xs-8, .chart-design .col-xs-9, .chart-design .col-xs-10, .chart-design .col-xs-11, .chart-design .col-xs-12, .chart-design .col-sm-1, .chart-design .col-sm-2, .chart-design .col-sm-3, .chart-design .col-sm-4, .chart-design .col-sm-5, .chart-design .col-sm-6, .chart-design .col-sm-7, .chart-design .col-sm-8, .chart-design .col-sm-9, .chart-design .col-sm-10, .chart-design .col-sm-11, .chart-design .col-sm-12, .chart-design .col-md-1, .chart-design .col-md-2, .chart-design .col-md-3, .chart-design .col-md-4, .chart-design .col-md-5, .chart-design .col-md-6, .chart-design .col-md-7, .chart-design .col-md-8, .chart-design .col-md-9, .chart-design .col-md-10, .chart-design .col-md-11, .chart-design .col-md-12, .chart-design .col-md-1, .chart-design .col-md-2, .chart-design .col-md-3, .chart-design .col-md-4, .chart-design .col-md-5, .chart-design .col-md-6, .chart-design .col-md-7, .chart-design .col-md-8, .chart-design .col-md-9, .chart-design .col-md-10, .chart-design .col-md-11, .chart-design .col-md-12 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.chart-design ul {
    padding: 0;
}

.myc {
    direction: ltr;
}

.icon-chart {
    background-repeat: no-repeat;
    display: inline-block;
    height: 19px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 23px;
}

.barchart {
    background-image: url('../../../Images/bar.png');
}

.piechart {
    background-image: url('../../../Images/pie.png');
}

.linechart {
    background-image: url('../../../Images/line.png');
}

.tablechart {
    background-image: url('../../../Images/table.png');
}

.gaugechart {
    background-image: url('../../../Images/guage.png');
}

.mapchart {
    background-image: url('../../../Images/map.png');
}
.treechart {
    background-image: url('../../../Images/tree.png');
}

.usercontrolchart {
    background-image: url('../../../Images/combo_box.png');
}

.radarchart {
    background-image: url('../../../Images/radar_plot.png');
}

#divProp {
    margin-top: -1px;
}

    #divProp, #divProp select {
        font-size: 12px;
    }

        #divProp .form-group {
            margin-bottom: 5px;
        }

        #divProp .dropdown-menu {
            margin: -3px 0 0;
        }

        #divProp label {
            font-weight: normal;
        }

#chartEditor li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.myc {
    height: 100px;
    overflow: auto;
}

.chart-design {
    margin-bottom: 0 !important;
}

.column-icon:before {
    content: url('../../../Images/hierarchy1.png');
}
