<div>

    <div class="ui small form" ng-show="id > 0"> <b>نام جدول: </b> {{tableName}} 
        <i class="ui icon edit pointer link" ng-click="open()"></i>
    </div>

    
    
    <div class="ui modal rename-table-name">
        <div class="header">نام جدید جدول</div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>نام</label>
                    <div class="ui fields ltr">
                        dsc_
                        <input type="text" ng-model="name"  />
                    </div>
                </div>
            </div>

            <div class="ui red message" ng-show="error">
                {{error}}
            </div>

        </div>
        <div class="ui actions">
            <div class="ui button green" ng-class="{loading : saveProgress, disabled: saveProgress}" ng-click="change()">{{'ok' | translate}}</div>
            <div class="ui button deny" ng-click="">{{'cancel' | translate}}</div>
        </div>
    </div>


</div>
