<div flex layout="column">
    <md-toolbar class="md-primary md-hue-3" md-theme="t1">
        <div class="md-toolbar-tools">
            <!--{{'interRelation' | translate}}-->
            <span flex></span>

            <small><small> فیلتر منبع داده </small> &nbsp;</small>
            <i ng-if="filterDatasource" ng-click="clearFilter()" title="حذف فیلتر" class="ui icon close small link"></i>
            <div class="ui form mini">
                <div class="field">
                    <sm-dropdown
                        class="selection search"
                        settings="{fullTextSearch: true}"
                        items="datasourceList"
                        label="item.Name"
                        value="item.Id"
                        model="filterDatasource"
                    ></sm-dropdown>
                </div>
            </div>

            <md-button class="md-icon-button cssFade" ng-show="showMenu" ng-click="delete($event)">
                <span class="material-icons">delete</span>
                <md-tooltip>{{'remove' | translate}}</md-tooltip>
            </md-button>

            <md-button
                class="md-icon-button cssFade"
                ng-show="canDirEdit"
                ng-click="dirEdit($event)"
                title="{{'rename_folder' | translate}}"
            >
                <span class="material-icons">edit</span>
            </md-button>
            <md-button
                class="md-icon-button cssFade"
                ng-show="canForward"
                ng-click="forward($event)"
                title="{{'move_to_folder' | translate}}"
            >
                <span class="material-icons">forward</span>
            </md-button>

            <md-button class="md-icon-button" ng-click="newPackage($event)" title="{{'new_folder' | translate}}">
                <span class="material-icons">create_new_folder</span>
            </md-button>

            <md-button class="md-icon-button" ng-click="new($event)">
                <span class="material-icons">add_circle_outline</span>
                <md-tooltip>{{'add' | translate}}</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <div flex layout="column">
        <md-content flex>
            <table class="sadaf-table">
                <tr>
                    <th>
                        <md-checkbox
                            ng-model="selectAllCheckbox"
                            ng-change="selectAll()"
                            aria-label="{{'select_all' | translate}}"
                        ></md-checkbox>
                    </th>
                    <th>#</th>
                    <th></th>
                    <th>{{'name' | translate}}</th>
                </tr>

                <tr
                    ng-repeat="row in data"
                    ng-class="{active : row.select}"
                    ng-click="row.select = !row.select; menuInvalidate()"
                >
                    <td width="20" class="in-table-checkbox">
                        <md-checkbox
                            ng-model="row.select"
                            ng-click="$event.stopPropagation();"
                            ng-change="menuInvalidate()"
                            aria-label="{{'select' | translate}}"
                        ></md-checkbox>
                    </td>
                    <td width="20">{{utils.persian($index+1)}}</td>
                    <td width="20">
                        <span class="" style="color: #757575">
                            <i ng-if="row.type==1" class="ui icon folder outline large gray"></i>
                            <i ng-if="row.type==2" class="ui icon arrows alternate horizontal large gray"></i>
                        </span>
                    </td>

                    <td>
                        <span class="pointer" ng-click="goto($event, row); $event.stopPropagation();">
                            {{row.name}}
                        </span>
                    </td>
                </tr>
            </table>
            <div layout="row" layout-sm="column" layout-align="space-around" ng-show="progress" layout-margin>
                <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
            </div>
            <div
                ng-hide="(data && data.length) || progress"
                class="md-caption"
                style="padding: 16px; text-align: center"
            >
                داده‌ای برای نمایش وجود ندارد
            </div>
        </md-content>
    </div>
</div>

<script type="text/ng-template" id="datasourceRelation/add-relation.html">
    <md-dialog aria-label="{{'interRelation' | translate}}" ng-cloak id="inter-relation-dialog" flex="80">

        <md-toolbar md-theme="default">
            <div class="md-toolbar-tools">
                <h2>{{'interRelation' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="material-icons">close</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="padding:30px;">

            <div layout="row" layout-align="start center" ng-hide="parent.datasourceList" style="padding:0 18px; font-size:0.8em">
                <md-progress-circular md-mode='indeterminate' md-diameter="20"></md-progress-circular>
                {{'form_loading' | translate}}
            </div>

            <div ng-show="parent.datasourceList" class="ui form" layout="column">
                <div class="fields">
                    <div class="five wide column field">
                        <sm-dropdown class="selection search"
                                     settings="{fullTextSearch: true}" items="parent.datasourceList" label="item.Name" value="item.Id"
                                     model="parent.modalRelationObject.left"></sm-dropdown>
                    </div>

                    <div class="two wide column field" style="text-align:center; white-space:nowrap">{{ 'مرتبط شود با' | translate }}</div>

                    <div class="five wide column field">
                        <sm-dropdown class="selection search"
                                     settings="{fullTextSearch: true}" items="parent.datasourceList" label="item.Name" value="item.Id"
                                     model="parent.modalRelationObject.right"></sm-dropdown>
                    </div>

                </div>

                <div class="fields" ng-repeat="item in parent.modalRelationObject.conditions">
                    <div class="one wide column field">
                        <div class="sadaf-group icon " style="margin-bottom:0" layout="row">
                            <span class="sadaf-group-item icon" ng-click="item.left.isText=false" ng-class="{active : !item.left.isText}"><span class="material-icons">view_headline</span></span>
                            <span class="sadaf-group-item icon" ng-click="item.left.isText=true" ng-class="{active : item.left.isText}"><span class="material-icons">title</span></span>
                        </div>
                    </div>

                    <!--items="(parent.datasourceList | filter:{ Id: parent.modalRelationObject.left } )[0].Fields| filterColumns:parent.modalRelationObject.conditions:true:$index" label="item" value="item"-->
                    <div class="four wide column field" ng-hide="item.left.isText">
                        <sm-dropdown class="selection search"
                                     items="parent.modalRelationObject.leftFields" label="item" value="item"
                                     model="item.left.column"></sm-dropdown>
                    </div>
                    <div class="four wide column field" ng-show="item.left.isText">
                        <input type="text" ng-click="parent.getLastFocus($event)"
                               style="direction: ltr;" ng-model="item.left.formula">
                    </div>

                    <div class="two wide column field" style="text-align:center">=</div>

                    <div class="one wide column field">
                        <div class="sadaf-group icon" style="margin-bottom:0" layout="row">
                            <span class="sadaf-group-item icon" ng-click="item.right.isText=false" ng-class="{active : !item.right.isText}"><span class="material-icons">view_headline</span></span>
                            <span class="sadaf-group-item icon" ng-click="item.right.isText=true" ng-class="{active : item.right.isText}"><span class="material-icons">title</span></span>
                        </div>
                    </div>

                    <!--items="(parent.datasourceList | filter:{ Id: parent.modalRelationObject.right } )[0].Fields | filterColumns:parent.modalRelationObject.conditions:false:$index" label="item" value="item"-->
                    <div class="four wide column field" ng-hide="item.right.isText">
                        <sm-dropdown class="selection search scrolling" settings="{fullTextSearch: true}"
                                     items="parent.modalRelationObject.rightFields " label="item" value="item"
                                     model="item.right.column"></sm-dropdown>
                    </div>
                    <div class="four wide column field" ng-show="item.right.isText">
                        <input type="text" ng-click="parent.getLastFocus($event)" style="direction: ltr;"
                               ng-model="item.right.formula">
                    </div>



                    <md-button class="md-icon-button" ng-click="parent.modalRelationObject.conditions.push({op:'='})">
                        <span class="material-icons">add</span>
                    </md-button>

                    <md-button class="md-icon-button" ng-hide="parent.modalRelationObject.conditions.length==1" ng-click="parent.modalRelationObject.conditions.splice($index,1)">
                        <span class="material-icons">remove</span>
                    </md-button>

                </div>

                <div ng-if="parent.modalRelationObject.leftModelType == 1 || parent.modalRelationObject.rightModelType == 1">

                    <div class="inline two column fields">
                        <label>نوع ارتباط</label>
                        <sm-dropdown class="selection"
                                     items="[
                                         {label:'یک به چند 1-*', value:0},
                                         {label:'چند به یک *-1', value:1},
                                         {label:'یک به یک 1-1', value:2},
                                         ]" label="item.label" value="item.value"
                                     model="parent.modalRelationObject.cardinality"></sm-dropdown>
                        <!--{label:'*-* چند به چند', value:3},-->

                    </div>
                    <div>
                        <div class="inline field">
                            <label>جهت ارتباط</label>
                            <sm-dropdown class="selection"
                                         items="[
                                               {label:'دو طرفه', value:0},
                                               {label:'یک طرفه', value:1},
                                            ]" label="item.label" value="item.value"
                                         model="parent.modalRelationObject.direction"></sm-dropdown>
                            <!--{label:'*-* چند به چند', value:3},-->

                        </div>
                    </div>

                    <div class="field">
                        <md-checkbox ng-model="parent.modalRelationObject.isActive">
                            ارتباط فعال
                        </md-checkbox>
                    </div>

                </div>

                <div ng-if="parent.modalRelationObject.leftModelType == 0 || parent.modalRelationObject.rightModelType == 0">
                    <div class="field">
                        <sadaf-checkbox ng-model="parent.modalRelationObject.includeLeft">
                            نمایش تمام ردیف‌های <b>{{(parent.datasourceList | filterid:parent.modalRelationObject.left ).Name}}</b>
                        </sadaf-checkbox>
                    </div>
    
                    <div class="field">
                        <sadaf-checkbox ng-model="parent.modalRelationObject.includeRight">
                            نمایش تمام ردیف‌های <b>{{(parent.datasourceList | filterid:parent.modalRelationObject.right  ).Name}}</b>
                        </sadaf-checkbox>
                        <!-- <md-checkbox ng-model="parent.modalRelationObject.includeRight">
                            نمایش تمام ردیف‌های <b>{{(parent.datasourceList | filterid:parent.modalRelationObject.right  ).Name}}</b>
                        </md-checkbox> -->
    
                    </div>
                    <!-- <div class="inline field">
                        <label>روش محاسبه شرط در پرس‌وجو</label>
                        <sm-dropdown class=""
                                     items="[
                                           {label:'where-exist', value:0},
                                           {label:'where-join', value:1},
                                        ]" label="item.label" value="item.value"
                                     model="parent.modalRelationObject.whereMethod"></sm-dropdown>
                    </div> -->

                    <div>
                        <div ng-show="(parent.modalRelationObject.conditions|filter:{left:{isText:true} }).length>0" style="margin-top:20px" layout-margin>
                            <p>
                                {{ 'لیست ستون‌های' | translate }}
                                <b>{{(parent.datasourceList | filterid:parent.modalRelationObject.left ).Name}}  </b>
                            </p>
                            <div class="ltr">
                                <span ng-repeat="i in parent.modalRelationObject.leftFields track by $index"
                                      ng-click="parent.addFormula(i,parent.modalRelationObject.left)"
                                      class="btn btn-sm btn-default pointer sadaf-label">[id{{parent.modalRelationObject.left}}].[{{i}}]</span>
                            </div>
                        </div>
                        <div ng-show="(parent.modalRelationObject.conditions|filter:{right:{isText:true} }).length>0" style="margin-top:20px" layout-margin>
                            <p>
                                {{ 'لیست ستون‌های' | translate }}
                                <b>{{(parent.datasourceList | filterid:parent.modalRelationObject.right ).Name}}</b>
                            </p>
                            <div class="ltr">
                                <span ng-repeat="i in parent.modalRelationObject.rightFields track by $index"
                                      ng-click="parent.addFormula(i, parent.modalRelationObject.right)"
                                      class="btn btn-sm btn-default pointer sadaf-label">[id{{parent.modalRelationObject.right}}].[{{i}}]</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="ui segment red" ng-show="parent.error" style="margin-top:20px">
                    <p ng-bind-html="parent.error"></p>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <div class="ui blue button" ng-class="{'loading disabled' : parent.addProgress}" ng-click="parent.add($event);">
                {{'choose' | translate}}
            </div>
            <div class="ui basic button" ng-click="cancel()">
                {{'cancel' | translate}}
            </div>
        </md-dialog-actions>
    </md-dialog>
</script>
