
<div layout="column" flex>
    <md-content flex class="content" layout="row"  no-background>

        <div flex="20" hide-sm hide-xs></div>
        <div flex="60" flex-xs="100" flex-sm="100">

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <!--{{'ترکیب منابع داده‌ای' | translate}}-->
                        <span class="md-headline" ng-hide="isEdit">منبع داده جدید</span>
                        <span class="md-headline" ng-show="isEdit">ویرایش منبع داده</span>
                    </md-card-title-text>
                    <div ng-show="app.license.securityCertPatch && id > 0" class="ui label">
                        {{'integrity check' | translate}} &nbsp;
                        <i ng-class="sign" class="ui icon  {{sign ? 'green check' : 'red times'}}"></i>
                    </div>

                </md-card-title>

                <md-card-content id="main-form">
                    <div>

                        <form name="joinForm" layout="column">

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>{{'نام منبع داده' | translate}}</label>
                                    <input required type="text" name="name" ng-model="name" />
                                    <div ng-messages="joinForm.name.$error">
                                        <div ng-message="required">نام را وارد نمایید</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <change-table-name id="id" table-name="tableName"></change-table-name>


                            <md-switch ng-model="disable" aria-label="Disable">
                                غیر فعال کردن موقت منبع داده
                            </md-switch>
                            <p class="md-caption">
                                با انتخاب این گزینه تمام نمودارها و گزارشاتی که از این منبع داده ساخته‌اید پیغام
                                <b> «در حال تغییر منبع داده» </b>
                                نمایش داده می‌شود
                            </p>

                            <md-input-container class="md-block" ng-show="disable">
                                <label>متن پیام نمایشی در گزارشات</label>
                                <textarea ng-model="disableMessage" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                            </md-input-container>



                            <table class="table table-hover form-margin">
                                <thead>
                                    <tr>
                                        <th colspan="2">{{ 'منابع داده' | translate }}</th>
                                        <th>
                                            <div layout="row" layout-align="end center">

                                                <md-button class="md-icon-button" ng-click="select($event)">
                                                    <span class="material-icons">add</span>
                                                </md-button>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tr ng-show="!selectedDatasource.length"><td colspan="3" style="text-align:center; font-size:12px; padding:18px">{{'منبع داده‌ای انتخاب نشده است' | translate}}</td></tr>
                                <tr class="" ng-repeat="i in selectedDatasource">
                                    <td style="width:40px">{{utils.persian($index+1)}}</td>
                                    <td>{{i.Name}}</td>
                                    <td>
                                        <div layout="row" layout-align="end center">
                                            <md-button class="md-icon-button" ng-click="exploreDatasource($index, $event)">
                                                <span class="material-icons">remove_red_eye</span>
                                            </md-button>

                                            <md-button class="md-icon-button" ng-click="removeSelectedDatasource($index)">
                                                <span class="material-icons">delete</span>
                                            </md-button>
                                        </div>

                                    </td>
                                </tr>
                            </table>

                            <md-input-container ng-show="selectedDatasource.length>1" class="md-block">
                                <label>{{'انتخاب نوع ارتباط' | translate}}</label>
                                <md-select ng-model="relationType" aria-label="{{'انتخاب نوع ارتباط' | translate}}">
                                    <md-option value="JOIN">JOIN</md-option>
                                    <md-option value="UNION">UNION</md-option>
                                    <md-option value="UNION ALL">UNION ALL</md-option>
                                    <md-option value="INTERSECT">INTERSECT</md-option>
                                    <md-option value="EXCEPT">EXCEPT</md-option>
                                    <md-option value="QUERY">QUERY</md-option>

                                </md-select>
                            </md-input-container>


                            <div class="category " ng-show="selectedDatasource.length > 1 && relationType=='JOIN'">

                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2">{{'تعریف ارتباط بین منابع داده' | translate}}</th>
                                            <th>
                                                <div layout="row" layout-align="end center">

                                                    <md-button class="md-icon-button" ng-click="showRelationDialog($event)">
                                                        <span class="material-icons">add</span>
                                                    </md-button>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr ng-show="!relationsList.length"><td colspan="3" style="text-align:center; font-size:12px; padding:18px">{{'ارتباطی تعریف نشده است' | translate}}</td></tr>
                                    <tr ng-repeat="i in relationsList">
                                        <td style="width:40px">{{utils.persian($index+1)}}</td>
                                        <td>{{(selectedDatasource | filter:{ Id: i.left } )[0].Name}} <==> {{(selectedDatasource | filter:{ Id: i.right } )[0].Name}}</td>
                                        <td>
                                            <div layout="row" layout-align="end center">
                                                <md-button class="md-icon-button" ng-click="editRelation($index)">
                                                    <span class="material-icons">edit</span>
                                                </md-button>

                                                <md-button class="md-icon-button" ng-click="relationsList.splice($index,1)">
                                                    <span class="material-icons">delete</span>
                                                </md-button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>





                            </div>
                            <div class="category " ng-show="relationType!='QUERY' &&(selectedDatasource.length>1 && (relationsList.length||relationType!='JOIN'))">

                                <div>
                                    <div class="modal-dialog ">
                                        <div class="modal-content">
                                            <div class="modal-header" style="border-bottom: medium none;">
                                                <h4 class="modal-title">{{'انتخاب' | translate}}</h4>
                                                <p>
                                                    ستون‌هایی که در جدول نهایی باید نمایش داده شوند را انتخاب کنید.
                                                    در صورتی که نوع ارتباط از نوع UNION، INTERSECT یا EXCEPT باشد، ترتیب انتخاب ستون‌ها مهم است.
                                                </p>
                                            </div>
                                            <table class="table table-condensed" ng-repeat="i in selectedDatasource">
                                                <thead>
                                                    <tr style="border-bottom:1px solid #dddddd">

                                                        <th style="padding-right:15px;">
                                                            <input type="checkbox" ng-click="toggleSelectedFieldsCheckAll(i,$event)">
                                                            {{i.Name}}
                                                        </th>
                                                        <th style="width:50%">{{ 'نام جایگزین' | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="j in i.Fields track by $index">
                                                    <td style="border-top:none">
                                                        <div class="checkbox" style="padding: 0px 30px;">
                                                            <label>
                                                                <input type="checkbox"
                                                                       name="selectedFieldsName[]"
                                                                       value="{{i.Id +','+ $index}}"
                                                                       ng-checked="selectedFields.indexOf(i.Id +','+ $index)>-1"
                                                                       ng-click="toggleSelectedFields(i.Id +','+ $index)"> {{j}}
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td style="border-top:none; padding-left:20px">
                                                        <input class="form-control"
                                                               type="text"
                                                               ng-model="aliasArray[i.Id +','+ $index]"
                                                               ng-show="selectedFields.indexOf(i.Id +','+ $index)>-1"
                                                               placeholder="{{j}}" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div layout="row" ng-show="script" flex>
                                <div flex>
                                    <!--<textarea rows="15" class="form-control" ng-model="script" style="resize:vertical; font-family: Courier, arial; direction: ltr; font-size: 12px;" aria-label="query"></textarea>-->
                                    <feditor flex type="dim" ng-model="script"></feditor>
                                    <!--<div ng-click="format()" class="ui tiny button">مرتب کردن کد</div>-->
                                    <!--<div ng-click="showDialog($event)" title="تمام صفحه" class="ui tiny icon button "><i class="ui icon expand"></i></div>-->

                                    <!--<span class="material-icons small" ng-click="showDialog($event)" title="{{'edit_query' | translate}}">fullscreen</span>-->
                                    <p style="margin-top:10px; font-size:12px;">
                                        {{ 'برای به روز شدن اسکریپت از کلید' | translate}}<b>{{ 'دریافت اسکریپت' | translate}}</b> استفاده کنید.
                                        در حالتی که اسکریپت نمایش داده می‌شود برای اعمال شدن تغییرات باید از کلید
                                        <b>{{ 'دریافت اسکریپت' | translate}}</b>
                                        استفاده کنید یا اسکریپت را پاک کنید.
                                        <md-button ng-click="script=null">{{ 'پاک کردن اسکریپت' | translate}}</md-button>
                                    </p>
                                </div>
                            </div>


                            <div ng-show="selectedDatasource.length>0">
                                <div class="form-group ">
                                    <div class="col-md-12">
                                        <!--<partition-expression type="2" datasources="selectedDatasource" partition="partitions"></partition-expression>-->
                                    </div>
                                </div>

                                <div class="form-group" ng-show="isSchedule">
                                    <div class="col-sm-12">
                                        <!--<datasource-schedule id="datasurce-schedule-scope" model="schedule">   </datasource-schedule>-->
                                    </div>
                                </div>
                            </div>


                            <!--<div ng-show="error" style="text-align: right;" class="alert alert-danger ">
        <button type="button" class="close" aria-label="Close" ng-click="error=null">  <span aria-hidden="true">&times;</span></button>
        <p ng-bind-html="error"></p>
    </div>-->



                            <div ng-show="testResult" style="overflow-y: scroll; max-height: 200px; border: 1px solid silver; margin-top:20px;">
                                <table class="table table-bordered">
                                    <tr ng-repeat="i in testResult track by $index">
                                        <td ng-repeat="j in i track by $index">{{j}}</td>
                                    </tr>
                                </table>
                            </div>


                            <!------------------->
                        </form>




                    </div>

                        
                    <div layout_margin layout="column">
                        <md-checkbox ng-model="isSchedule">{{ 'به‌روز رسانی راس ساعت' | translate}}</md-checkbox>

                        <datasource-schedule ng-show="isSchedule" ng-model="schedule" style="margin-top:-18px"> </datasource-schedule>

                        <md-checkbox ng-show="selectedDatasource.length>0 " ng-model="needPartition" style="margin-top:28px">{{ 'form_need_partition' | translate}}</md-checkbox>

                        <partition-expression ng-show="selectedDatasource.length>0 && needPartition" type="2" ng-model="partitions" datasources="selectedDatasource" style="margin-top:-18px"> </partition-expression>

                        <div class="field" flex-gt-sm ng-show="license.olap">
                            <label>مدل ذخیره داده</label>
                            <select ng-model="modelType" ng-options="a.val as a.label for a in [{val:0, label:'SQL'},{val:1, label:'DAX'}]">
                            </select>
                        </div>

                        <!--<md-switch ng-model="model.ColumnStoreIndex" ng-show="type == 2" aria-label="ColumnStoreIndex">
                                ایندکس ستونی
                            </md-switch>-->

                        <div class="field">
                            <div class="ui button" ng-class="{loading: clearCacheProgress, disabled: clearCacheProgress}" ng-click="clearCache()">پاک کردن کش (Cache) منبع داده</div>
                            <small class="gray">
                                با پاک کردن کش منبع داده، نتیجه‌ی تمامی گزارش‌های مرتبط با این منبع داده پاک خواهند شد
                                و ممکن است برای اولین بار اجرای گزارش سرعت کمتری داشته باشد.
                            </small>
                        </div>



                        <datasource-permission ng-model="roles" id="{{id}}"></datasource-permission>
                    </div>


                </md-card-content>




                <md-card-actions layout="row">
                    <span flex></span>

                    <md-button ng-click="saveJoin($event)" ng-disabled="saveProgress">
                        {{ !saveProgress ? ('ذخیره' | translate) : ('form_saving' | translate)}}
                    </md-button>
                    <md-button ng-click="getScript($event)" ng-disabled="scriptProgress">
                        {{ !scriptProgress ? ('دریافت اسکریپت' | translate) : ('form_loading' | translate)}}
                    </md-button>
                    <md-button ng-click="test($event)" ng-disabled="testProgress">
                        {{ !testProgress ? ('تست' | translate) : ('form_testing' | translate)}}
                    </md-button>

                    <md-button ng-click="cancel($event)">
                        {{ 'لغو' | translate}}
                    </md-button>



                </md-card-actions>


            </md-card>

            <!--<md-card ng-show="testResult" flex>
                <md-content style="max-height:200px;" id="testResult" layout="column" flex>
                    <div ng-bind-html="testResult" flex></div>
                </md-content>
            </md-card>-->

            <md-card ng-show="error" layout="row" flex>
                <md-content style="background-color:#f2dede" layout="column" flex layout-padding>
                    <div ng-bind-html="error" flex></div>
                </md-content>
            </md-card>

        </div>
        <div flex="20" hide-sm hide-xs></div>

    </md-content>
</div>

<script type="text/ng-template" id="join/datasource_select.html">
    <md-dialog aria-label="انتخاب منبع داده" ng-cloak>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>انتخاب منبع داده</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <span class="material-icons">close</span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div layout="column" layout-align="center center">
                    <md-progress-circular ng-hide="datasourceList" md-mode='indeterminate'></md-progress-circular>
                </div>

                <md-list ng-show="datasourceList">
                    <md-list-item ng-repeat="i in datasourceList">
                        <p>{{i.Name}}</p>
                        <md-checkbox class="md-secondary" ng-model="i.check">
                        </md-checkbox>
                    </md-list-item>
                </md-list>

                <!--<table class="table">
                    <tr ng-repeat="i in datasourceList">
                        <td><input type="checkbox"  /></td>
                        <td class="pointer" data-dismiss="modal" ng-click="addItemToDatasource(i.Id)">{{i.Name}}</td>
                    </tr>
                </table>-->

            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="select()">
                    انتخاب
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>


</script>

<script type="text/ng-template" id="join/datasource_explor.html">
    <md-dialog aria-label="انتخاب پوشه" ng-cloak>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{'داده‌های نمونه' | translate}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <span class="material-icons">close</span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>

                <div layout="column" layout-align="center center">
                    <md-progress-circular ng-hide="explor" md-mode='indeterminate'></md-progress-circular>
                </div>
                <div ng-bind-html="explor"></div>

            </md-dialog-content>
        </form>
    </md-dialog>


</script>


<script type="text/ng-template" id="join/datasource_add_relation.html">
    <md-dialog aria-label="{{'join_addRelation' | translate}}" ng-cloak>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{'تعریف ارتباط متغیر سراسری با نمودار' | translate}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <span class="material-icons">close</span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content class="md-dialog-content">

                <div layout="row" layout-align="start center" layout-margin>
                    <md-select flex ng-model="$scope.modalRelationObject.left" aria-label="left">
                        <md-option ng-repeat="i in $scope.selectedDatasource " value="{{i.Id}}">{{i.Name}}</md-option>
                    </md-select>
                    <span>{{'مرتبط شود با' | translate}}</span>
                    <md-select flex ng-model="$scope.modalRelationObject.right" aria-label="right">
                        <md-option ng-repeat="i in $scope.selectedDatasource | filter:{Id:'!'+$scope.modalRelationObject.left}" value="{{i.Id}}">{{i.Name}}</md-option>
                    </md-select>
                </div>


                <div layout="row" layout-align="start center" ng-repeat="item in $scope.modalRelationObject.conditions" layout-margin>
                    <md-select flex ng-model="item.left" aria-label="item left">
                        <md-option ng-repeat=" i in ($scope.selectedDatasource | filter:{ Id: $scope.modalRelationObject.left } )[0].Fields  track by $index" value="{{i}}">{{i}}</md-option>
                    </md-select>
                    <md-select ng-model="item.op" aria-label="item operand">
                        <md-option>=</md-option>
                        <md-option>!=</md-option>
                        <md-option>></md-option>
                        <md-option><</md-option>
                    </md-select>
                    <md-select flex ng-model="item.right" aria-label="item right">
                        <md-option ng-repeat="i in ($scope.selectedDatasource | filter:{ Id: $scope.modalRelationObject.right } )[0].Fields  track by $index" value="{{i}}">{{i}}</md-option>
                    </md-select>
                    <md-button class="md-icon-button" ng-click="$scope.addRelationLimit()">
                        <span class="material-icons">add</span>
                    </md-button>

                    <md-button class="md-icon-button " ng-disabled="$index==0" ng-click="$scope.removeRelationLimit($index)">
                        <span class="material-icons">remove</span>
                    </md-button>


                </div>

                <div layout="column" style="margin-top:24px;">
                    <md-checkbox ng-model="$scope.modalRelationObject.includeLeft" class="md-block">
                        نمایش تمام ردیف‌های {{($scope.selectedDatasource | filter:{ Id: $scope.modalRelationObject.left } )[0].Name}}
                    </md-checkbox>
                    <md-checkbox ng-model="$scope.modalRelationObject.includeRight" class="md-block">
                        نمایش تمام ردیف‌های {{($scope.selectedDatasource | filter:{ Id: $scope.modalRelationObject.right } )[0].Name}}
                    </md-checkbox>
                </div>

            </md-dialog-content>
            <md-dialog-actions layout="row">

                <md-button ng-click="cancel()">
                    {{'انصراف' | translate}}
                </md-button>

                <md-button ng-click="ok()">
                    {{'انتخاب' | translate}}
                </md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>


</script>



