<div flex layout="column">
    <md-toolbar xstyle="background-color:white; color:#666" class="md-primary md-hue-3" md-theme="t1">
        <div class="md-toolbar-tools">
            <!--<div layout="row">
                <span ng-repeat="i in path" layout="row" layout-align="center center">
                    <span class="material-icons" ng-hide="$index == 0">keyboard_arrow_left</span>
                    <md-button style="min-width:0" ng-click="goto({type:1, id: i.id})">{{i.name}}</md-button>
                </span>
            </div>-->
            <!--<a ng-if="app.license.olap" href="{{app.hashUrlPrefix}}#/process-all-tables"class="ui basic button ">مدل داده‌ای برای داده‌های حجیم</a>-->

            <span flex></span>
            <md-input-container md-no-float class="md-block" style="margin-top: 30px">
                <input ng-model="search" placeholder="{{'search' | translate}}" />
            </md-input-container>

            <md-button
                class="md-icon-button"
                ng-click="addTimeDatasoure($event)"
                title="{{'Time datasource' | translate}}"
            >
                <span class="material-icons">date_range</span>
            </md-button>

            <md-button
                class="md-icon-button cssFade"
                ng-show="canDirEdit"
                ng-click="dirEdit($event)"
                title="{{'rename_folder' | translate}}"
            >
                <span class="material-icons">edit</span>
            </md-button>
            <md-button
                class="md-icon-button cssFade"
                ng-show="canForward"
                ng-click="forward($event)"
                title="{{'move_to_folder' | translate}}"
            >
                <span class="material-icons">forward</span>
            </md-button>

            <md-button
                class="md-icon-button cssFade"
                ng-show="canDelete"
                ng-click="delete($event)"
                title="{{'remove' | translate}}"
            >
                <span class="material-icons">delete</span>
            </md-button>
            <md-button
                class="md-icon-button cssFade"
                ng-show="canCopy"
                ng-click="copy($event)"
                title="{{'copy' | translate}}"
            >
                <span class="material-icons">content_copy</span>
            </md-button>

            <md-button class="md-icon-button" ng-click="newPackage($event)" title="{{'new_folder' | translate}}">
                <span class="material-icons">create_new_folder</span>
            </md-button>
            <md-button class="md-icon-button" ng-click="newDatasource($event)" title="{{'new_datasource' | translate}}">
                <span class="material-icons">add_circle</span>
            </md-button>
        </div>
    </md-toolbar>

    <div flex layout="column">
        <md-content flex class="scroll-container">
            <table class="sadaf-table">
                <tr>
                    <th>
                        <md-checkbox
                            ng-model="selectAllCheckbox"
                            ng-change="selectAll()"
                            aria-label="{{'select_all' | translate}}"
                        ></md-checkbox>
                    </th>
                    <th>#</th>
                    <th></th>
                    <th class="pointer" ng-click="sort('name')">
                        <div layout="row" layout-align="start center">
                            {{'name' | translate}}
                            <span
                                ng-show="sortDetail['name']"
                                ng-class="{'rotate': sortDetail['name'].isDesc}"
                                class="material-icons icon-animate rotate"
                                >keyboard_arrow_up</span
                            >
                        </div>
                    </th>
                    <th class="pointer" ng-click="sort('dsType')">
                        <div layout="row" layout-align="start center">
                            {{'type' | translate}}
                            <span
                                ng-show="sortDetail['dsType']"
                                ng-class="{'rotate': sortDetail['dsType'].isDesc}"
                                class="material-icons icon-animate rotate"
                                >keyboard_arrow_up</span
                            >
                        </div>
                    </th>
                    <th class="pointer" ng-click="sort('timestamp')">
                        <div layout="row" layout-align="start center">
                            {{'last update' | translate}}
                            <span
                                ng-show="sortDetail['timestamp']"
                                ng-class="{'rotate': sortDetail['timestamp'].isDesc}"
                                class="material-icons icon-animate rotate"
                                >keyboard_arrow_up</span
                            >
                        </div>
                    </th>
                    <th></th>
                    <th></th>
                    <th>کاربر</th>
                    <!--<th>{{'integrity check' | translate}}</th>-->
                </tr>

                <tr
                    ng-repeat="row in data"
                    ng-class="{active : row.select}"
                    ng-click="row.select = !row.select; menuInvalidate()"
                    ng-dblclick="goto(row, $event)"
                >
                    <td width="20">
                        <md-checkbox
                            ng-model="row.select"
                            ng-click="$event.stopPropagation()"
                            ng-change="menuInvalidate()"
                            aria-label="{{'select' | translate}}"
                        ></md-checkbox>
                    </td>
                    <td width="20">{{utils.persian( (page - 1) * pageCount + $index+1)}}</td>
                    <td width="20">
                        <i ng-if="row.type==1" class="ui icon folder outline large gray"></i>
                        <i ng-if="row.type==2" class="ui icon hdd outline large gray"></i>
                        <span ng-if="row.type==12" class="material-icons" style="color: #757575">storage</span>
                    </td>
                    <td>
                        <span class="pointer" ng-click="goto(row, $event); $event.stopPropagation();"
                            >{{row.name}}</span
                        >
                    </td>
                    <td width="20"><span class="md-caption" lang="en">{{getTypeName(row.dsType)}}</span></td>
                    <td class="md-caption">{{utils.persian(row.lastRefresh)}}</td>
                    <td width="20"></td>
                    <td width="120">
                        <span
                            class=""
                            title="{{'add_chart' | translate}}"
                            ng-click="insertChart(row, $event); $event.stopPropagation();"
                            ng-if="row.type == 2"
                        >
                            <i class="ui link icon plus square outline large gray"></i>
                        </span>
                        <span ng-show="row.type == 2 && row.charts.length">
                            <md-menu md-offset="0 -7">
                                <span
                                    title="{{'charts_list' | translate}}"
                                    class=""
                                    ng-click="$mdMenu.open($event); $event.stopPropagation();"
                                >
                                    <!-- <span class="material-icons" style="color: #757575">toc</span> -->
                                    <i class="ui link icon list alternate outline huge gray"></i>
                                </span>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="c in row.charts">
                                        <md-button href="{{app.hashUrlPrefix}}#/charts/edit/0/{{c.id}}">
                                            <span>{{c.name}}</span>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </span>
                    </td>
                    <td>{{row.user}}</td>
                    <!--<td ng-show="securityCertPatch && row.type == 2"><i ng-show="row.sign" class="ui icon green check"></i><i ng-hide="row.sign" class="ui icon red times"></i></td>
                        <td ng-hide="securityCertPatch && row.type == 2"></td>-->
                </tr>
            </table>
            <div layout="row" layout-sm="column" layout-align="space-around" ng-show="progress" layout-margin>
                <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
            </div>
            <div
                ng-hide="(data && data.length) || progress"
                class="md-caption"
                style="padding: 16px; text-align: center"
            >
                داده‌ای برای نمایش وجود ندارد
            </div>
        </md-content>
        <div class="ui pagination menu bottom attached" ng-show="data && data.length && maxPage>1">
            <a class="item" ng-class="{active: n==page}" ng-repeat="n in _.range(1, maxPage+1)" ng-click="setPage(n)"
                >{{n}}</a
            >
        </div>
    </div>

    <div class="ui modal datatime-modal">
        <div class="header">منبع داده زمان</div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>نام</label>
                    <input type="text" ng-model="timeDatasourceName" />
                </div>
                <div class="field" flex-gt-sm ng-show="app.license.olap">
                    <label>مدل ذخیره داده</label>
                    <select
                        ng-model="timeDatasourceModelType"
                        ng-options="a.val as a.label for a in [{val:0, label:'SQL'},{val:1, label:'DAX'}]"
                    ></select>
                </div>
            </div>
        </div>
        <div class="ui actions">
            <div
                class="ui button green"
                ng-class="{loading : timeDatasourceProgress, disabled: timeDatasourceProgress}"
                ng-click="createDatatime()"
            >
                {{'ok' | translate}}
            </div>
            <div class="ui button deny" ng-click="">{{'cancel' | translate}}</div>
        </div>
    </div>
</div>
