
<div  layout="column" flex>
    <md-content  class="md-padding"  no-background>

        <md-card ng-repeat=" data in list">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{data.title}}</span>
                    <span class="md-subhead">{{data.desc}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class=" card-media">
                        <img ng-src="{{data.icon}}" />
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions xlayout="row" xlayout-align="start center" style="text-align:left">
                <md-button ng-click="goto(data)">{{'choose' | translate}}</md-button>
            </md-card-actions>
        </md-card>

    </md-content>
</div>
