<div ng-if="help.forceChangePass" class="ui secondary inverted yellow big segment">
    تا زمان تغییر کلمه عبور امکان استفاده از امکانات سامانه را نخواهید داشت
</div>

<h3 class="ui header">{{'profile_change_pass' | translate}}</h3>
<form class="ui form">
    <div class="field">
        <label class="control-label">{{'profile_password_old' | translate}} یا کد ارسال شده برای فراموشی کلمه عبور</label>
        <div class="ui icon input">
            <input class="form-control" type="{{oshowPassword ? 'text' : 'password'}}" ng-model="oldPass" placeholder="{{'profile_password_old' | translate}}" />
            <i class="icon ui eye link" title="نمایش کلمه عبور" ng-class="{green: oshowPassword}" ng-click="oshowPassword = !oshowPassword"></i>
        </div>

    </div>
    <div class="field ">
        <label class="control-label">{{'profile_password_new' | translate}}</label>
        <div class="ui icon input">
            <input class="form-control" type="{{showPassword ? 'text' : 'password'}}" ng-change="invalidateStrong()" ng-model="newPass" placeholder="{{'profile_password_new' | translate}}" />
            <i class="icon ui eye link" title="نمایش کلمه عبور" ng-class="{green: showPassword}" ng-click="showPassword = !showPassword"></i>
        </div>
    </div>
    <div class="field ">
        <label class="control-label">{{'profile_password_repeat' | translate}}</label>
        <div class="ui icon input">
            <input class="form-control" type="{{showPassword ? 'text' : 'password'}}" ng-model="repeatPass" placeholder="{{'profile_password_repeat' | translate}}" />
            <i class="icon ui eye link" title="نمایش کلمه عبور" ng-class="{green: showPassword}" ng-click="showPassword = !showPassword"></i>
        </div>
    </div>

    <div class="ui inverted secondary segment" ng-class="{'red': error, 'green': success}" ng-show="result">
        <p ng-bind-html="message"></p>
    </div>


    <div class="ui secondary gray segment" ng-show="help.policy && !help.passwordPolicyUseEntropy">
        <div class="ui header small">کلمه عبور باید شامل شرایط زیر باشد</div>
        <div class="ui large label" ng-show="strongkpi" style="position: absolute; left:8px; top:8px;" ng-style="{'background-color': strongkpi.color, color: strongkpi.textColor}">{{strongkpi.text}}</div>
        <div class="ui bulleted list">
            <div class="item" ng-show="help.passwordPolicyDigit">  <span class="!tw-inline-block"><i ng-show="!strong.passwordPolicyDigit" class="ui icon red close"></i>  <i ng-show="strong.passwordPolicyDigit" class="ui icon green check"></i></span> {{'at least one number' | translate}}</div>
            <div class="item" ng-show="help.passwordPolicyUpper">  <span class="!tw-inline-block"><i ng-show="!strong.passwordPolicyUpper" class="ui icon red close"></i>  <i ng-show="strong.passwordPolicyUpper" class="ui icon green check"></i></span>{{'at least one upper case char' | translate}}</div>
            <div class="item" ng-show="help.passwordPolicyLower">  <span class="!tw-inline-block"><i ng-show="!strong.passwordPolicyLower" class="ui icon red close"></i>  <i ng-show="strong.passwordPolicyLower" class="ui icon green check"></i></span>{{'at least one lower case char' | translate}}</div>
            <div class="item" ng-show="help.passwordPolicyChar">   <span class="!tw-inline-block"><i ng-show="!strong.passwordPolicyChar" class="ui icon red close"></i>   <i ng-show="strong.passwordPolicyChar" class="ui icon green check"></i></span>{{'at least one special char' | translate}}</div>
            <div class="item" ng-show="help.passwordPolicyLength"> <span class="!tw-inline-block"><i ng-show="!strong.passwordPolicyLength" class="ui icon red close"></i> <i ng-show="strong.passwordPolicyLength" class="ui icon green check"></i></span>{{'minimum length' | translate}} {{help.passwordPolicyLength}} کاراکتر</div>
        </div>
    </div>
    <div class="ui secondary gray segment" ng-show="help.policy && help.passwordPolicyUseEntropy">
        <div class="ui header small">کلمه عبور باید از آنتروپی یا بینظمی <b>
            {{help.passwordPolicyEntropyLevel == 0 ? 'معمولی' : help.passwordPolicyEntropyLevel == 1 ? 'زیاد':'خیلی زیاد'}}</b> برخوردار باشد</div>
        <div class="ui large label" ng-show="strongkpi" style="position: absolute; left:8px; top:8px;" ng-style="{'background-color': strongkpi.color, color: strongkpi.textColor}">{{strongkpi.text}}</div>
    </div>

    <a class="ui blue button" ng-click="changePass()" ng-class="{loading:progress, disabled: progress}">{{'ذخیره' | translate}}</a>
    <a class="ui button black" ng-show="success" href="{{app.urlPrefix}}sadaf/main">رفتن به صفحه داشبورد</a>

</form>

