<h3 class="ui header">{{'active sessions' | translate}}</h3>
<div style="height:calc(100vh - 150px);overflow-y: auto;">

    <table class="ui small table">
        <thead>
            <tr>
                <th>#</th>
                <th>{{'last activity' | translate}}</th>
                <th>{{'login' | translate}}</th>
                <th>{{'type' | translate}}</th>
                <th>{{'user agent' | translate}}</th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="item in list">
            <td>{{persian($index + 1)}}</td>
            <td>{{persian(moment.utc(item.LastActivity).format('jYYYY-jMM-jDD HH:mm:ss'))}} <br /><small>{{persian(moment(item.LastActivity, 'YYYY/MM/DD HH:mm:dd').fromNow())}}</small></td>
            <td>{{persian(moment.utc(item.LastLogin).format('jYYYY-jMM-jDD HH:mm:ss'))}} <br /><small>{{persian(moment(item.LastLogin, 'YYYY/MM/DD HH:mm:dd').fromNow())}}</small></td>
            <td>{{item.Type == 0 ? ('web' | translate) : ('mobile' | translate)}}</td>
            <td style="max-width:200px;"><small>{{item.Agent}}</small></td>
            <td width="20"> 
                <div class="ui basic icon button" ng-click="kick(item); $event.stopPropagation();" title="{{'signout' | translate}}">
                    <i class="ui icon sign out " style="color:#757575"></i>
                </div>
            </td>

        </tr>
    </table>
<div ng-hide="list">
    {{'در حال بارگذاری...' | translate}}
</div>
</div>
