<div
    class="ui {{settings.selector}} sadaf-form-generator"
    id="{{selector}}"
    ng-class="{ 'fullscreen'  : data.modalSize == 'fullscreen','small'  : data.modalSize == 'small', 'large'  : data.modalSize == 'large', 'form-editor': settings.modal, 'jqmodal modal': settings.modal}"
>
    <i ng-if="settings.modal" class="close icon" ng-click="cancel()"></i>
    <div ng-if="settings.modal && !data.clientModelParsed.hideTitlebar" class="header" ng-style="{'background-color': (data.clientModelParsed.titleColor || '##f9fafb')}"style=" overflow-x: auto">
        {{data.name}} &nbsp;

        <button class="ui button basic small" ng-if="app.license.formPrint && data.printLayout" ng-click="print()">{{'print' | translate}} <i class="ui icon print"></i></button>

        <!--TODO add to core-->
    </div>

    <div class="header-section" ng-if="header || pages.length>1" ng-style="{'padding-bottom': (!settings.modal?'14px':0), 'background-color': (data.clientModelParsed.headerColor || '##f9fafb')}">
        <div class="form-header" ng-if="header">
            <div ng-show="header" class="form-page ui form" ng-class="header.size">
                <div class="ui grid stackable content-form">
                    <form-control
                        ng-repeat="component in header.controls "
                        ng-model="component"
                        root="root"
                        id="{{id}}"
                        page="header"
                        sd-submit="submit()"
                        change="changeValue(model)"
                        ng-class="[{'highlight-control':component.highlight}, page.feildClass]"
                    ></form-control>
                </div>
                <div class="ui message red" ng-show="header.error">{{page.error}}</div>
            </div>
        </div>

        <div class="paging-section ui secondary pointing menu" ng-if="pages.length>1">
            <div class="item pointer" ng-repeat="page in pages " ng-show="page.canView" ng-class="{active: $index == activePage}" ng-click="setActivePage($index+0)">
                <div class="content">
                    <div class="title">{{page.name}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="content" ng-style="{'background-color': (data.clientModelParsed.color || '#f4f6f9')}" style="min-height: 300px; position: relative">
        <!-- <div class="cover" ng-style="{'visibility': (formLoading  ? 'visible' : 'hidden')}" style="background-color:white; position:absolute; width:100%; height:100%;margin:-21px;z-index:2; transition:all 2s ease-in-out"></div>-->
        <div class="" ng-show="formLoading">
            <div class="" style="text-align: center">
                <i class="notched circle loading icon"></i>
                {{'form_loading' | translate}}
            </div>
        </div>

        <div
            ng-show="!formLoading"
            style="-webkit-transition: height 1s ease; -moz-transition: height 1s ease; -o-transition: height 1s ease; transition: height 1s ease"
        >
            <!-- <div ng-if="!settings.modal">
                <div style="margin-top: 1rem"></div>
                <div class="ui small menu" ng-show="pages.length>1">
                    <div
                        class="item pointer"
                        ng-repeat="page in pages track by $index"
                        ng-show="page.canView"
                        ng-class="{active: $index == activePage}"
                        ng-click="setActivePage($index+0)"
                    >
                        <div class="content">
                            <div class="title">{{page.name}}</div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 1rem"></div>
            </div> -->

            <div ng-show="submittedStatus == 0 || submittedStatus==1">
                <div
                    ng-repeat="page in pages"
                    ng-if="renderPage[$index]"
                    ng-show="$index == activePage && page.canView"
                    class="form-page ui form"
                    ng-class="[page.size, page.feildClasses.join(' ')]"
                >
                    <div class="ui stackable grid content-form" style="align-items: flex-start">
                        <form-control
                            ng-repeat="component in page.controls "
                            ng-model="component"
                            root="root"
                            ng-if="component.systemType==0"
                            page="page"
                            id="{{id}}"
                            sd-submit="submit()"
                            change="changeValue(model)"
                            ng-class="[{'highlight-control' :component.highlight}]"
                        ></form-control>
                    </div>
                    <div class="ui message red" ng-show="page.error">{{page.error}}</div>
                </div>
            </div>

            <div ng-if="showVersion && app.license.formVersioning && data.clientModelParsed.history" style="margin-top: 10px">
                <div ng-if="versionRestore" ng-click="backToBaseVersion()" class="ui mini button black" style="position: absolute; left: 18px">نمایش آخرین وضعیت</div>
                <versions id="{{id}}" sub-id="{{rowId}}" type="8" on-restore="restore(model)" on-detail="setValue(model)"></versions>
            </div>

            <div class="ui success message" ng-show="submittedStatus==1">{{'Information was saved successfully' | translate}}</div>

            <div class="ui error message" ng-show="submittedStatus==2">
                <div ng-show="error">
                    <h3>{{error.title}}</h3>
                    <p>{{error.desc}}</p>
                </div>
                <span ng-hide="error"> {{'server error try again' | translate}} </span>
                <br />
                <div class="ui button black small compact" ng-click="submittedStatus=0">اصلاح داده‌های فرم</div>
            </div>

            <div class="ui error message" ng-show="needToDelete">
                <div>
                    <p>ردیف اطلاعاتی مربوط به گردش کار حذف شده است. امکان ادامه این گردش وجود ندارد. لطفا این گردش را پاک کنید.</p>
                </div>
                <br />
                <div class="ui button red small compact" ng-click="deleteWorkflow()">حذف گردش</div>
            </div>

            <div class="ui error message" ng-show="pages.length > 1 && pagesContainError.length">
                <!--{{'error in pages'|translate}}-->
                <b> لیست خطا‌ها</b>
                <ul>
                    <li ng-repeat="p in pagesContainError ">{{p}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="actions !tw-text-right" ng-if="footer" ng-style="{'background-color': (data.clientModelParsed.footerColor || '##f9fafb')}">
        <div ng-show="footer" class="form-page ui form" ng-class="page.size">
            <div class="ui grid stackable content-form">
                <form-control
                    ng-repeat="component in footer.controls"
                    ng-model="component"
                    root="root"
                    id="{{id}}"
                    page="page"
                    sd-submit="submit()"
                    change="changeValue(model)"
                    ng-class="[{'highlight-control':component.highlight}, page.feildClass]"
                ></form-control>
            </div>
            <div class="ui message red" ng-show="page.error">{{page.error}}</div>
        </div>
    </div>
    <div class="actions" xng-show="!formLoading" ng-style="{'margin-top':settings.modal ? '0':'40px', 'min-height':'64px'}">
        <div class="tw-m-3 tw-text-right tw-space-y-1 tw-text-sm" ng-if="process.enable">
            <div class="tw-max-h-52 tw-overflow-auto tw-mb-2" style="margin-top: -14px" ng-if="process.history.length">
                <table class="ui tiny compact table tw-table-auto">
                    <tr ng-repeat="i in process.history ">
                        <td width="30">{{persian($index+1)}}</td>
                        <td width="115">{{persian(moment(i.time).format('jYYYY/jMM/jDD HH:mm'))}}</td>
                        <td>{{i.user}}</td>
                        <td>
                            <span class="ui compact tiny label">{{i.prev_state}}</span> به
                            <span class="ui compact tiny label">{{i.state}}</span>
                        </td>
                        <td>{{i.hamesh}}</td>
                    </tr>
                </table>
            </div>
            <ng-sadaf-textarea placeholder="توضیحات ارجاع کار (هامش نویسی)" [model]="process.hamesh" (model-change)="changeHamesh($event)" min="1"></ng-sadaf-textarea>
        </div>
        <div class="ui stackable grid content-form rtl" ng-show="submittedStatus == 0 || submittedStatus==1">
            <div xclass="left floated eight wide column left aligned">
                <div ng-hide="submittedStatus!=0 || process.type==5">
                    <button
                        class="ui button relative"
                        ng-disabled="(!editPermission && rowId)|| (!addPermission && !rowId) || submittedStatus != 0 || isValid() || loading"
                        ng-click="submit()"
                        ng-class="{loading: loading, green: !isProcess, basic: isProcess}"
                        ng-if="!isProcess ||(isProcess && process.showNext)"
                        title="{{isProcess ? 'ذخیره و خروج بدون اجرای فرآیند':''}}"
                    >
                        {{ settings.modal ? 'ذخیره و خروج' : 'ذخیره'}}
                        <span class="below-btn-helper" ng-hide="settings.modal"> Ctrl + Enter </span>
                    </button>
                    <button
                        ng-show="settings.modal"
                        class="ui button basic relative"
                        ng-disabled="(!editPermission && rowId)|| (!addPermission && !rowId) || submittedStatus != 0 || isValid() || loading"
                        ng-click="submit(false, true, false)"
                        ng-class="{loading: loading}"
                        ng-if="!isProcess ||(isProcess && process.showNext)"
                        title="{{isProcess ? 'ذخیره بدون اجرای فرآیند':''}}"
                    >
                        {{rowId ? 'ذخیره' : ('save' | translate )}}
                        <span class="below-btn-helper" ng-hide="settings.modal"> Ctrl + s </span>
                    </button>
                    <button
                        class="ui button blue relative"
                        ng-disabled="(!editPermission && rowId)|| (!addPermission && !rowId) || submittedStatus != 0 || isValid() || loading"
                        ng-click="submit(false, false, true)"
                        ng-class="{loading: loading}"
                        ng-if="isProcess && process.showNext && process.type!=3 && process.taskType.type!=1"
                    >
                        {{ process.nextKeyLabel ||( rowId>0 ? 'ادامه فرآیند' :'شروع فرآیند')}}
                    </button>
                    <button
                        class="ui button green relative"
                        ng-disabled="(!editPermission && rowId)|| (!addPermission && !rowId) || submittedStatus != 0 || isValid() || loading"
                        ng-click="approveProcess()"
                        ng-class="{loading: loading}"
                        ng-if="isProcess && process.taskType.type== 1"
                        title="در صورت تایید فرآیند ادامه پیدا می‌کند"
                    >
                        <i class="ui icon check"></i>
                        {{ process.taskType.approveText || 'تایید'}}
                    </button>
                    <button
                        class="ui button red relative"
                        ng-disabled="(!editPermission && rowId)|| (!addPermission && !rowId) || submittedStatus != 0 || isValid() || loading"
                        ng-click="disapproveProcess()"
                        ng-class="{loading: loading}"
                        ng-if="isProcess && process.taskType.type == 1"
                        title="در صورت عدم تایید، طبق فرآیند، فرم به مراحل قبلی ارسال می‌شود"
                    >
                        <i class="ui icon close"></i>
                        {{ process.taskType.rejectText || 'عدم تایید'}}
                    </button>

                    <button
                        class="ui button blue relative"
                        ng-disabled="(!editPermission && rowId)|| (!addPermission && !rowId) || submittedStatus != 0 || isValid() || loading"
                        ng-click="submit(false, false, true)"
                        ng-class="{loading: loading}"
                        ng-if="process.type==3 && isProcess &&  process.showReset"
                    >
                        شروع مجدد
                    </button>

                    <!--TODO add to core-->
                    <button
                        ng-if="data.formInfo.saveAndCopy && !isProcess"
                        class="ui button relative"
                        ng-disabled="(activePage != pages.length-1 && !rowId ) || (!editPermission && rowId)|| (!addPermission && !rowId) || submittedStatus != 0 || isValid() || loading"
                        ng-click="submitAndCopy()"
                        ng-class="{loading: loading}"
                    >
                        ذخیره و کپی در فرم جدید
                    </button>
                    <button class="ui button basic" ng-show="(settings.modal || option.showCancel) && submittedStatus == 0" ng-click="cancel()">{{'cancel' | translate}}</button>
                </div>
                <button class="ui basic button close-btn" ng-show="submittedStatus!=0" ng-click="submitNewInfo()" ng-keyup="colseBtn($event)">
                    <i class="icon" ng-class="{refresh: !settings.modal , 'window close outline' : settings.modal }"></i>
                    {{settings.modal ? ('close' | translate) : ('new record' | translate)}}
                </button>
            </div>

            <div xclass="right floated four wide column right aligned">
                <button ng-if="!process.enable" class="ui button red" ng-show="rowId && deletePermission && submittedStatus == 0" ng-class="{loading: loading}" ng-click="remove()">
                    <i class="ui icon trash alternate outline"></i>
                    {{'delete' | translate}}
                </button>
                <button
                    ng-if="process.enable && ![5,1,3].includes( process.type) && (process.showReject || process.showWithdraw)"
                    class="ui button red"
                    ng-show="submittedStatus == 0"
                    ng-disabled="loading"
                    ng-class="{loading: loading}"
                    ng-click="rejectOrWithdraw()"
                >
                    {{process.isOwner ? 'انصراف': 'مردود کردن'}}
                </button>
                <div class="ui success message" style="display: inline-block; padding: 6px; margin: 0; font-size: 0.9em" ng-show="saveAndCopy">اطلاعات فرم با موفقیت ذخیره شد</div>
                <div class="ui red message" style="display: inline-block; padding: 6px; margin: 0; font-size: 0.9em" ng-show="errorToast">خطا در ذخیره‌سازی</div>
            </div>

            <div class="tw-mr-auto tw-order-2" ng-if="!process.enable && formFlows.flows.length">
                <button
                    class="ui mini icon button"
                    ng-disabled="startFlowProgress || formFlows.isInFlow"
                    ng-class="{loading: startFlowProgress}"
                    ng-click="startFlow(selectedFlow)"
                    title="اجرای گردش کار"
                >
                    <i class="ui icon play"></i>
                </button>
                <sm-dropdown
                    ng-class="{disabled: formFlows.isInFlow}"
                    class="selection mini search"
                    items="formFlows.flows"
                    model="selectedFlow"
                    label="item.title"
                    value="item._id"
                ></sm-dropdown>
                <span ng-show="formFlows.isInFlow" class="label black ui">فرم در حال گردش است</span>
            </div>
        </div>
        <button class="ui button black" ng-if="submittedStatus==2" ng-click="cancel()">{{'cancel' | translate}}</button>
    </div>
</div>
