
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div style="padding:100px; text-align:center; font-size:64px;">چیزی اینجا وجود ندارد!</div>
    <div>
    </div>
</body>
</html>
