<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>خطا!</title>
    <link href="/dist/css/dash-all.css" rel="stylesheet" />
</head>
<body style="background-color: #e3f2fd; direction:rtl;">
    <div style="margin:120px;">
        <div class="ui icon large message">
            <i class="notched circle loading icon"></i>
            <div class="content" style="padding:20px;">

                <div class="header">
                    سرور در دسترس نیست
                </div>
                <p>چند دقیقه دیگر لطفا دوباره تلاش کنید</p>
            </div>
        </div>
    </div>
</body>
</html>