@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='/dist/css/dash-all.css' rel='stylesheet' />
    <title>خطا!</title>
</head>
<body>
    <div style="padding:100px; text-align:center;">
        <div style="font-size:64px;font-weight:800; padding:24px;">چیزی برای نمایش وجود ندارد
        </div>
        <div>دوباره همه چیز را بررسی کنید و در صورت درست بودن با مدیر سامانه تماس بگیرید</div>
    </div>
</body>
</html>
