<!-- <div class="ui tiny header">{{'page settings' | translate}}</div>
<div class="ui divider"></div> -->
<form autocomplete="off">

<div class="f-field">
    <label>{{'name' | translate}}</label>
    <input autocomplete="off" ng-model="c.pages.activePage.name" placeholder="{{'name' | translate}}" />
</div>

<div class="field">
    <access-property ng-model="c.pages.activePage.access" operand="c.pages.activePage.accessOp" controls="c.activeSibling"></access-property>
</div>


<div class="f-field">
    <label>{{'size' | translate}}</label>
    <sm-dropdown
        items="[{label:('خیلی کوچک' | translate), value:'mini'}, {label:('کوچک' | translate), value:'tiny'}, {label:('normal' | translate), value:''}]"
        class="selection fluid value"
        model="c.pages.activePage.size"
        label="item.label"
        value="item.value"
    ></sm-dropdown>
</div>
<div class="f-field">
    <label>نحوه نمایش برچسب‌ها</label>
    <sm-dropdown
        items="[
        {label:('برچسب کنار' | translate), value:'inline-label'},
        {label:('چپ چین' | translate), value:'left-align'},
        {label:('بلند' | translate), value:'long'},
        {label:('خیلی بلند' | translate), value:'very-long'},
        ]"
        class="selection multiple fluid value"
        model="c.pages.activePage.feildClasses"
        label="item.label"
        value="item.value"
    ></sm-dropdown>
</div>
</form>
