<!-- تنظیمات مربوط به کنترل‌ها -->

<style></style>

<form autocomplete="off" ng-show="c.control.active.name" class="ui tiny form">
    <div class="f-field">
        <label>{{'identity'|translate}}</label>
        <span class="value" ng-show="c.control.active.name"> {{c.control.active.name}}</span>
    </div>
    <div class="f-field">
        <label>نوع</label>
        <span class="value" ng-show="c.control.active.name"> {{c.control.active.typeName}}</span>
    </div>

    <div class="f-field">
        <label>{{'column name in table'|translate}}</label>
        <input
            class="value"
            ng-model="c.control.active.columnName"
            placeholder="{{'label'|translate}}"
            ng-model-options="{ updateOn: 'blur' }"
            ng-change="c.checkColumnName(c.control.active, '{{c.control.active.columnName}}')"
        />
    </div>

    <div class="f-field">
        <label>{{'name'|translate}}</label>
        <input ng-model="c.control.active.label" placeholder="{{'label'|translate}}" />
    </div>

    <div class="f-field">
        <textarea ng-model="c.control.active.description" placeholder="{{'desc'|translate}}" rows="2"></textarea>
    </div>

    <div class="field" ng-show="c.control.active.value!=null || c.control.active.dropdown.listValue.length">
        <small class="gray">
            {{c.control.active.value}} {{c.control.active.dropdown.listValue.join(', ')}}
            <i class="icon remove" ng-click="c.clearValue()"></i>
        </small>
    </div>

    <div class="f-field" ng-if="!c.control.active.childOfMultiRow && !c.control.active.dontShowColumnSize">
        <label>{{'column count'|translate}}</label>
        <sm-dropdown
            class="scrolling value"
            items="[
                             {k:'twelve',v:'12' },
                             {k:'eleven',v:'11' },
                             {k:'ten',v:'10' },
                             {k:'nine',v:'9' },
                             {k:'eight',v:'8' },
                             {k:'seven',v:'7' },
                             {k:'six',v:'6' },
                             {k:'five',v:'5' },
                             {k:'four',v:'4' },
                             {k:'three',v:'3' },
                             {k:'two',v:'2' },
                             {k:'one',v:'1' }
                             ]"
            model="c.control.active.columnClass"
            label="item.v"
            value="item.k"
        ></sm-dropdown>
        <span style="margin: 0 10px"> {{'from 12 column'|translate}}</span>
    </div>

    <div class="ui basic fluid compact tiny buttons">
        <div
            ng-repeat="i in [
            {k:'twelve',v:'۱۲' },
            {k:'nine',v:'۹' },
            {k:'eight',v:'۸' },
            {k:'six',v:'۶' },
            {k:'four',v:'۴' },
            {k:'three',v:'۳' },
            {k:'two',v:'۲' },
            {k:'one',v:'۱' },
            ]"
            ng-class="{active: i.k == c.control.active.columnClass}"
            class="ui button"
            ng-click="c.control.active.columnClass=i.k; setToAll('columnClass');"
        >
            {{i.v}}
        </div>
    </div>
    <br />
    <br />

    <div ng-if="c.controlProperty(c.control.active).type == 27">
        <div class="f-field">
            <label>انتخاب عکس</label>
            <sadaf-icons type="image" ng-model="c.control.active.uiConfig.pic" ng-change="setToAll('uiConfig.pic')"></sadaf-icons>
        </div>
        <div class="f-field">
            <label>حداکثر ارتفاع </label>
            <input ng-model="c.control.active.uiConfig.maxHeight" type="number" />
        </div>
        <div class="f-field">
            <label>نوع فیت کردن</label>
            <sm-dropdown
                items="[  {key:'cover', value:'cover'}
                        , {key:'contain', value:'contain'}
                        , {key:'fill', value:'fill'}
                        , {key:'scale-down', value:'scale-down'}
                       ]"
                class="value selection"
                model="c.control.active.uiConfig.objectFit"
                label="item.value"
                value="item.key"
            ></sm-dropdown>
        </div>
    </div>

    <div class="field" ng-show="c.controlProperty(c.control.active).require">
        <sadaf-checkbox ng-model="c.control.active.validations.isRequire"> {{'require' | translate}} </sadaf-checkbox>
    </div>
    <div class="field" ng-show="c.controlProperty(c.control.active).disable">
        <sadaf-checkbox ng-model="c.control.active.validations.isDisable" ng-change="setToAll('validations.isDisable')"> {{'غیر فعال کردن' | translate}} </sadaf-checkbox>
    </div>
    <div class="field" ng-show="c.controlProperty(c.control.active).regex">
        <sadaf-checkbox ng-model="c.control.active.validations.regexValidation" ng-change="setToAll('validations.regexValidation')"> اعتبارسنجی با Regex </sadaf-checkbox>
    </div>
    <div class="field" ng-show="c.control.active.validations.regexValidation">
        <label>Regex</label>
        <input ng-model="c.control.active.validations.regex" ng-change="setToAll('validations.regex')" style="direction: ltr" placeholder="Regex" />
    </div>

    <div class="field" ng-hide="c.control.active.dontShowHide">
        <sadaf-checkbox ng-model="c.control.active.hidden" ng-change="setToAll('hidden')">{{'مخفی کردن'|translate}}</sadaf-checkbox>
    </div>
    <div class="field" ng-show="c.controlProperty(c.control.active).showUniqueProp">
        <sadaf-checkbox ng-model="c.control.active.validations.enforceUnique" ng-change="setToAll('validations.enforceUnique')"> {{'unique' | translate}} </sadaf-checkbox>
    </div>
    <div class="field">
        <sadaf-checkbox ng-model="c.control.active.uiConfig.hideClearBtn" ng-change="setToAll('uiConfig.hideClearBtn')"> {{'مخفی کردن کلید پاک کردن' | translate}} </sadaf-checkbox>
    </div>

    <div ng-show="c.control.active.type == 2">
        <div class="fields" style="margin-bottom: 0">
            <div class="field">
                <sadaf-checkbox ng-model="c.control.active.validations.autoIncrement"> {{'auto increment' | translate}} </sadaf-checkbox>
            </div>

            <div class="field" ng-show="c.control.active.validations.autoIncrement">
                <input ng-model="c.control.active.validations.autoIncrementSeed" placeholder="{{'begin value'|translate}}" />
            </div>
        </div>

        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.showSeparator"> {{'نمایش جداکننده سه رقمی' | translate}} </sadaf-checkbox>
        </div>
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.preventNegative"> {{'جلوگیری از ورود داده‌های منفی' | translate}} </sadaf-checkbox>
        </div>
    </div>

    <div ng-show="c.control.active.type == 1">
        <div class="f-field">
            <label>حداقل ارتفاع (خط)</label>
            <input ng-model="c.control.active.uiConfig.minLine" type="number"/>
        </div>
        <div class="f-field">
            <label>حداکثر ارتفاع (خط)</label>
            <input ng-model="c.control.active.uiConfig.maxLine" type="number"/>
        </div>
    </div>

    <div class="field" ng-show="[0,1,2].includes(c.control.active.type)">
        <sadaf-checkbox ng-model="c.control.active.uiConfig.hidePlaceholder">مخفی کردن متن راهنما (placeholder)</sadaf-checkbox>
    </div>

    <div ng-if="c.control.active.type == 26">
        <div class="f-field">
            <label>قالب شماره</label>
            <input class="ltr" ng-model="c.control.active.numbering.template" />
        </div>
        <div class="ltr">
            <small>
                <span
                    class="ui compact basic mini label tw-px-[6px] tw-py-[4px] !tw-bg-stone-100"
                    ng-repeat="i in ['@day','@month', '@year', '@counter' ,'@username', '@field-[#]']"
                    ng-click="c.control.active.numbering.template=c.control.active.numbering.template + ' ' + i"
                    >{{i}}
                </span>
            </small>
        </div>
        <br />
        <div class="f-field">
            <label>شروع شمارنده</label>
            <input ng-model="c.control.active.numbering.start" />
        </div>
        <div class="field">
            <label>محدوده شمارنده</label>
            <sm-dropdown
                model="c.control.active.numbering.groups"
                class="selection multiple"
                items="c.activeSibling.row"
                settings="{fullTextSearch: true, forceSelection: false}"
                label="item.label"
                value="item.name"
            ></sm-dropdown>
        </div>
    </div>

    <div class="field" ng-show="c.controlProperty(c.control.active).default">
        <sadaf-checkbox ng-model="c.control.active.hasDefault" ng-change="setToAll('hasDefault')">{{'has default'|translate}}</sadaf-checkbox>
    </div>

    <div class="field" ng-show="c.controlProperty(c.control.active).default && c.control.active.hasDefault">
        <input ng-model="c.control.active.defaultValue" ng-change="setToAll('defaultValue')" placeholder="{{'مقدار پیش‌فرض'|translate}}" />
    </div>

    <div ng-if="c.control.active.type == 9">
        <div class="field" ng-show="c.controlProperty(c.control.active).default">
            <sadaf-checkbox
                ng-model="c.control.active.defaultFunctionToday"
                ng-change="c.control.active.defaultFunction == 'today' ? c.control.active.defaultFunction = null : c.control.active.defaultFunction = 'today'"
                >تاریخ امروز به عنوان پیش‌ فرض</sadaf-checkbox
            >
        </div>
        <div class="field" ng-show="c.controlProperty(c.control.active).default">
            <sadaf-checkbox ng-model="c.control.active.justMonth">انتخاب ماه (بدون انتخاب روز)</sadaf-checkbox>
        </div>
    </div>
    <div ng-if="c.control.active.type == 20" class="prop-section">
        <div class="f-field">
            <label>فونت</label>
            <text-editor class="value" prop="c.control.active.uiConfig.font" config="{format: false,bold: false,size: true,font: true,color: false,align: false}"></text-editor>
        </div>
        <div class="f-field">
            <label>حداقل ارتفاع </label>
            <input ng-model="c.control.active.uiConfig.minHeight" type="number" />
        </div>
    </div>

    <div class="field" ng-show="c.control.active.type == 1 || c.control.active.type == 0 || c.control.active.type == 2">
        <sadaf-checkbox ng-model="c.control.active.validations.checkLen" ng-change="setToAll('validations.checkLen')">{{'length limit'|translate}}</sadaf-checkbox>
    </div>

    <div class="field" ng-show="c.control.active.validations.checkLen">
        <input ng-model="c.control.active.validations.minLen" ng-change="setToAll('validations.minLen')" placeholder="{{'min length'|translate}}" />
    </div>

    <div class="field" ng-show="c.control.active.validations.checkLen">
        <input ng-model="c.control.active.validations.maxLen" ng-change="setToAll('validations.maxLen')" placeholder="{{'max length'|translate}}" />
    </div>

    <div class="field" ng-show="c.control.active.type == 2">
        <sadaf-checkbox ng-model="c.control.active.validations.checkNumber" ng-change="setToAll('validations.checkNumber')">
            <span>{{'value limit'|translate}}</span>
        </sadaf-checkbox>
    </div>
    <div class="field" ng-show="c.control.active.validations.checkNumber">
        <input ng-model="c.control.active.validations.minNumber" ng-change="setToAll('validations.minNumber')" placeholder="{{'min value'|translate}}" />
    </div>

    <div class="field" ng-show="c.control.active.validations.checkNumber">
        <input ng-model="c.control.active.validations.maxNumber" ng-change="setToAll('validations.maxNumber')" placeholder="{{'max value'|translate}}" />
    </div>

    <!--<div ng-show="c.control.active.type == 4 && c.control.active.dropdown.isUserVariable" class="field">
        <sadaf-user-variables ng-model="c.control.active.userVariable"></sadaf-user-variables>
    </div>-->
    <!-- تنظیمات مربوط به دراپ دان -->
    <div ng-show="c.control.active.type == 4 && !c.control.active.dropdown.isUser && !c.control.active.dropdown.isRole" class="field">
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.dropdown.multiSelectDropdown"> {{'drop down multi select' | translate}} </sadaf-checkbox>
        </div>

        <div class="field" ng-if="!c.control.active.dropdown.isUser">
            <sadaf-checkbox ng-model="c.control.active.dropdown.useRemoteData" ng-change="c.control.resetListValue()"> {{'use remote data'|translate}} </sadaf-checkbox>
        </div>

        <div class="f-field" ng-show="!c.control.active.dropdown.useRemoteData">
            <label>{{'حالت نمایش' | translate}}</label>
            <sm-dropdown
                items="[  {key:'combo', value:'combo'}
                        , {key:'radio', value:'radio'}
                       ]"
                class="value selection"
                model="c.control.active.dropdown.theme"
                label="item.value"
                value="item.key"
            ></sm-dropdown>
        </div>
        <div class="f-field" ng-if="c.control.active.dropdown.theme == 'radio'">
            <label>{{'شکل' | translate}}</label>
            <sm-dropdown
                items="[  {key:'block', value:'هر آیتم در یک خط'}
                        , {key:'inline-block', value:'تمام آیتم‌ها در یک خط'}
                       ]"
                class="value selection"
                model="c.control.active.uiConfig.radioBlock"
                label="item.value"
                value="item.key"
                on-change="setToAll('uiConfig.radioBlock')"
            ></sm-dropdown>
        </div>

        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.dropdown.useFormula"> مقادیر قابل انتخاب به صورت فرمول </sadaf-checkbox>
        </div>

        <div class="field" ng-if="c.control.active.dropdown.useFormula">
            <label>{{'فرمول' | translate}}</label>
            <sm-dropdown
                items="c.activeSibling.rootControls"
                class="selection search"
                model="c.control.active.dropdown.formula"
                label="item.label + ' ' + item.name"
                value="item.name"
            ></sm-dropdown>
        </div>

        <div class="field" ng-show="!c.control.active.dropdown.useRemoteData && !c.control.active.dropdown.useFormula">
            <label>{{'selectable values' | translate}} </label>
            <textarea
                layout-fill
                ng-model="c.control.active.dropdown.itemsTemp"
                ng-change="c.control.createItems(c.control.active)"
                placeholder="{{'each line one value' | translate}}"
                rows="5"
            ></textarea>
        </div>

        <div ng-if="c.control.active.dropdown.useRemoteData && !c.control.active.dropdown.isUser">
            <sadaf-checkbox ng-model="c.control.active.dropdown.preventRelation">عدم ایجاد ارتباط بین منبع داده و فرم</sadaf-checkbox>
            <br />
            <br />
            <select-datasource-columns ng-model="c.control.active.dropdown" controls="c.activeSibling" control="c.control.active"></select-datasource-columns>
        </div>

        <div class="field" ng-if="c.control.active.dropdown.useRemoteData && !c.control.active.dropdown.isUser">
            <sadaf-checkbox ng-model="c.control.active.useFilter" ng-change="c.control.resetListValue()"> {{'filter' | translate}} </sadaf-checkbox>
            <filter-property
                ng-show="c.control.active.useFilter"
                name="c.control.active.name"
                ng-model="c.control.active.filters"
                just-value="true"
                source-fields="c.control.active.dropdown.datasourceColumns"
                controls="c.activeSibling"
            ></filter-property>
        </div>
    </div>

    <!-- تنظیمات مربوط به کنترل عددی -->
    <div
        ng-show="!c.control.active.hideFormat &&( c.control.active.type == 2 ||c.control.active.type == 3 || c.control.active.type == 5 || c.control.active.type == 16|| c.control.active.type == 17|| c.control.active.type == 12|| c.control.active.type == 4)"
        class="field"
    >
        <div class="f-field">
            <label>{{'فرمت نمایش' | translate}}</label>
            <sm-dropdown
                items="[{key:'custom', value:('سفارشی' | translate)}
                                 , {key:'.0%', value:'%'}
                                 , {key:',.1%', value:'#,#.0%'}
                                 , {key:',.2%', value:'#,#.00%'}
                                 , {key:'.0f', value:'#'}
                                 , {key:'.1f', value:'#.0'}
                                 , {key:'.2f', value:'#.00'}
                                 , {key:'.1~f', value:'#.n'}
                                 , {key:'.2~f', value:'#.nn'}
                                 , {key:',.0f', value:'#,#'}
                                 , {key:',.1f', value:'#,#:0'}
                                 , {key:',.2f', value:'#,#:00'}
                                 , {key:',.1~f', value:'#,#:n'}
                                 , {key:',.2~f', value:'#,#:nn'}
                                 , {key:'', value:('normal' | translate)},]"
                class="value selection"
                model="c.control.active.format"
                label="item.value"
                value="item.key"
            ></sm-dropdown>
        </div>
        <div class="f-field" ng-if="c.control.active.format == 'custom'">
            <label>فرمت سفارشی</label>
            <input ng-model="c.control.active.customFormat" placeholder="فرمت سفارشی" />
        </div>
    </div>
    <!-- تنظیمات مربوط به کنترل عددی -->
    <div ng-if=" c.control.active.type == 2" class="f-field">
        <label>نوع داده</label>
        <sm-dropdown
            items="[{key:'decimal', value:('عدد اعشاری (Decimal)' | translate)}
                                 , {key:'int', value:'عدد بدون اعشار (Int)'}
                                 , {key:'bigint', value:' عدد بدون اعشار - اعداد بزرگ (BigInt)'}
                                 , {key:'float', value:'عدد اعشاری (Float)'}
                                 ]"
            class="selection fluid search value"
            model="c.control.active.dataType"
            label="item.value"
            value="item.key"
            xon-change="setToAll('dataType')"
        ></sm-dropdown>
    </div>

    <div ng-if=" c.control.active.type == 5 || c.control.active.type == 16" class="field">
        <div class="f-field">
            <label>نوع داده</label>
            <sm-dropdown
                xon-change="setToAll('dataType')"
                items="[{key:'decimal', value:'عدد اعشاری (Decimal)'}, {key:'string', value:'رشته‌ای'}]"
                class="selection fluid search value"
                model="c.control.active.dataType"
                label="item.value"
                value="item.key"
            ></sm-dropdown>
        </div>
    </div>

    <div ng-if="c.control.active.type == 9 || c.control.active.type == 14" class="field">
        <div class="inline fields">
            <label>نوع تاریخ</label>
            <sm-dropdown
                items="[{key:'shamsi', value:'شمسی'}, {key:'miladi', value:'میلادی'}]"
                class="selection fluid search"
                model="c.control.active.dataType"
                label="item.value"
                value="item.key"
            ></sm-dropdown>
        </div>
    </div>

    <div ng-show="c.control.active.type == 5 || c.control.active.type == 16|| c.control.active.type == 17">
        <div class="f-field">
            <label class="">{{'prefix' | translate}}</label>
            <input type="text" ng-model="c.control.active.prefix" name="prefix" autocomplete="nope" placeholder="{{'prefix' | translate}}" />
        </div>

        <div class="f-field">
            <label class="">{{'postfix' | translate}}</label>
            <input type="text" ng-model="c.control.active.postfix" name="postfix" autocomplete="nope" placeholder="{{'postfix' | translate}}" />
        </div>

        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.hideDashLine">عدم نمایش خطچین زیر مقدار</sadaf-checkbox>
        </div>
    </div>

    <!-- تنظیمات مربوط به ارجاع به فرم -->
    <div ng-if="c.control.active.type == 12" class="field">
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.formLookup.showAddButton" ng-change="c.control.resetListValue()"> {{'show new record botton' | translate}} </sadaf-checkbox>
        </div>

        <div class="field" sm-popup-inline="">
            <sadaf-checkbox ng-model="c.control.active.formLookup.duplicateDatasource"> ایجاد کپی از منبع داده مبدا </sadaf-checkbox>
        </div>

        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.formLookup.noRelation">عدم ایجاد ارتباط بین فرم‌ها</sadaf-checkbox>
        </div>

        <div class="f-field">
            <label>جهت ارتباط جداول</label>
            <sm-dropdown
                items="[{key:'left', value:'نمایش تمام رکوردهای فرم جاری'}, {key:'right', value:'نمایش تمام رکوردهای فرم ارجاع شده'}]"
                class="selection value"
                model="c.control.active.formLookup.relationType"
                label="item.value"
                value="item.key"
            ></sm-dropdown>
        </div>

        <sm-popup-detached class="ui mini basic fluid">
            <div class="header">راهنما</div>
            <div class="gray">برای جلوگیری از ایجاد دور در ارتباط بین منابع داده در صورت استفاده از چند ارجاع به یک فرم از این گزینه استفاده کنید.</div>
        </sm-popup-detached>

        <div class="field">
            <form-lookup-property root-form="{{c.id}}" ng-model="c.control.active.formLookup" control="c.control.active"></form-lookup-property>
        </div>

        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.useFilter" ng-change="c.control.resetListValue()"> {{'filter' | translate}} </sadaf-checkbox>
            <filter-property
                ng-show="c.control.active.useFilter"
                name="c.control.active.name"
                ng-model="c.control.active.filters"
                source-fields="c.control.active.formLookup.formLookupSourceFields"
                active="c.control.active"
                controls="c.activeSibling"
            ></filter-property>
        </div>
    </div>

    <div>
        <div class="field">
            <!--<sadaf-checkbox ng-model="c.control.active.useFilter" ng-change="c.control.resetListValue()">
                نمایش
            </sadaf-checkbox>-->
            <access-property
                name="c.control.active.name"
                ng-model="c.control.active.access"
                operand="c.control.active.accessOp"
                source-fields="c.control.active.formLookup.formLookupSourceFields"
                controls="c.activeSibling"
                on-change="setToAll('access')"
            ></access-property>
        </div>
    </div>

    <div ng-if="c.control.active.mode == 'fromMulti'">
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.showInFooter"> {{'نمایش در فوتر جدول' | translate}} </sadaf-checkbox>
        </div>
        <div class="ui secondary segment" ng-if="c.control.active.uiConfig.showInFooter">
            <div class="field">
                <label>{{'فرمول' | translate}}</label>
                <div flex>
                    <feditor
                        control-s="saveFormShotcut()"
                        ignore-beauty-pattern="\[field-\d+\]"
                        flex
                        type="16"
                        ng-model="c.control.active.uiConfig.footerFormula"
                        lang="js"
                        list="c.controlListAutoCompelete"
                    ></feditor>
                </div>
            </div>
            <div class="f-field">
                <label class="">{{'حداقل ارتفاع' | translate}}</label>
                <input type="number" ng-model="c.control.active.uiConfig.footerFontMinHeight" autocomplete="nope" />
            </div>

            <div class="field">
                <sadaf-checkbox ng-change="setToAll('uiConfig.footerFontValue.enable')" ng-model="c.control.active.uiConfig.footerFontValue.enable"
                    >تغییر فونت مقدار
                </sadaf-checkbox>
                &nbsp;&nbsp;&nbsp;
                <text-editor
                    on-change="setToAll('uiConfig.footerFontValue')"
                    style="display: inline-block"
                    ng-if="c.control.active.uiConfig.footerFontValue.enable"
                    prop="c.control.active.uiConfig.footerFontValue"
                    config="{
                format: true,
                bold: true,
                size: true,
                font: true,
                color: true,
                align: true,
                rotate: false,
                anchor: false,
                position: false
            }"
                ></text-editor>
            </div>
        </div>
    </div>

    <!-- تنظیمات مربوط به فرم چند ردیفه -->
    <div ng-show="c.control.active.type == 13" class="field">
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.multiRowForm.separator"> {{'row separator' | translate}} </sadaf-checkbox>
        </div>
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.cellSeparator"> {{'خط جدا کننده ستون‌ها' | translate}} </sadaf-checkbox>
        </div>
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.hideAddButton"> مخفی کردن کلید ردیف جدید </sadaf-checkbox>
        </div>
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.hideName">عدم نمایش نام</sadaf-checkbox>
        </div>
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.hideRowNumber"> عدم نمایش شماره ردیف </sadaf-checkbox>
        </div>
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.rowCopyButton"> نمایش کلید کپی و حذف ردیف </sadaf-checkbox>
        </div>
        <div class="f-field">
            <label class="">{{'بیشترین ارتفاع' | translate}}</label>
            <input type="text" ng-model="c.control.active.uiConfig.maxHeight" autocomplete="nope" placeholder="{{'بیشترین ارتفاع' | translate}}" />
        </div>
        <div class="f-field">
            <label class="">{{'حاشیه عمودی هر دریف' | translate}}</label>
            <input type="number" ng-model="c.control.active.uiConfig.paddingY" autocomplete="nope" />
        </div>
        <div class="f-field">
            <label class="">{{'حاشیه افقی هر دریف' | translate}}</label>
            <input type="number" ng-model="c.control.active.uiConfig.paddingX" autocomplete="nope" />
        </div>

        <!-- <div class="f-field">
            <label>{{'column count' | translate}}</label>
            <sm-dropdown
                class="value selection"
                items="[1,2,3,4,5,6,8]"
                model="c.control.active.multiRowForm.columns"
                label="item  +('column' | translate)"
                value="item"
                ng-init="c.control.active.multiRowForm.columns = 2"
            ></sm-dropdown>
        </div> -->

        <!-- <div class="f-field">
            <label>{{'controls size' | translate}}</label>
            <control-size class="value" ng-model="c.control.active.multiRowForm.controlSize"></control-size>
        </div> -->

        <div class="f-field">
            <label>{{'new record botton text' | translate}}</label>
            <input class="" ng-model="c.control.active.multiRowForm.addKeyText" autocomplete="off" placeholder="{{'new record' | translate}}" />
        </div>
    </div>

    <div style="margin-bottom: -20px">
        <label>اضافه کردن کد در صورت تغییر مقدار</label>
    </div>
    <sadaf-tasks ng-model="c.control.active.tasks" trigger="5" ng-init="c.control.active.tasks = c.control.active.tasks || []"></sadaf-tasks>

    <div class="field">
        <sadaf-checkbox ng-model="c.control.active.uiConfig.activeAnyway">فعال بودن در هر حالتی</sadaf-checkbox>
    </div>

    <!-- تنظیمات مربوط به کلید -->
    <div ng-if="c.control.active.type == 15" class="field">
        <div class="inline fields">
            <label>{{'color'|translate}}</label>
            <sm-dropdown
                items="[{label:('red' |translate), value:'red'},
                                 {label:('orange'   |translate), value:'orange'},
                                 {label:('yellow'      |translate), value:'yellow'},
                                 {label:('olive'    |translate), value:'olive'},
                                 {label:('green'      |translate), value:'green'},
                                 {label:('teal' |translate), value:'teal'},
                                 {label:('blue'      |translate), value:'blue'},
                                 {label:('violet'|translate), value:'violet'},
                                 {label:('purple'     |translate), value:'purple'},
                                 {label:('pink'    |translate), value:'pink'},
                                 {label:('brown'   |translate)   , value:'brown'},
                                 {label:('grey'  |translate)    , value:'grey'},
                                 {label:('black'     |translate), value:'black'}]"
                class=""
                model="c.control.active.button.colorClass"
                label="item.label"
                value="item.value"
            ></sm-dropdown>
        </div>

        <div class="inline fields">
            <label>نحوه نمایش</label>
            <sm-dropdown
                items="[         {label:('ساده' |translate), value:'basic'},
                                 {label:('توپر'   |translate), value:''},
                       ]"
                class=""
                model="c.control.active.uiConfig.buttonType"
                label="item.label"
                value="item.value"
            ></sm-dropdown>
        </div>

        <div class="inline fields">
            <label>{{'size' | translate}}</label>
            <control-size ng-model="c.control.active.button.size"></control-size>
        </div>
        <div class="f-field">
            <label>{{'متن راهنما' | translate}}</label>
            <input class="" ng-model="c.control.active.uiConfig.tooltip" autocomplete="off" type="text" />
        </div>
        <div class="f-field">
            <label>{{'آیکن' | translate}}</label>
            <input class="" ng-model="c.control.active.uiConfig.icon" autocomplete="off" type="text" />
        </div>

        <sadaf-tasks ng-model="c.control.active.button.tasks" ng-init="c.control.active.button.tasks = c.control.active.button.tasks || []"></sadaf-tasks>
    </div>

    <div ng-if="c.control.active.type==24">
        <div class="field">
            <label>متن هشدار</label>
            <input type="text" ng-model="c.control.active.alert.message" />
        </div>
        <div class="inline fields">
            <label>رنگ هشدار</label>
            <sm-dropdown
                items="[{label:('red'     |translate), value:'red'},
                                 {label:('orange'   |translate), value:'orange'},
                                 {label:('yellow'      |translate), value:'yellow'},
                                 {label:('olive'    |translate), value:'olive'},
                                 {label:('green'      |translate), value:'green'},
                                 {label:('teal' |translate), value:'teal'},
                                 {label:('blue'      |translate), value:'blue'},
                                 {label:('violet'|translate), value:'violet'},
                                 {label:('purple'     |translate), value:'purple'},
                                 {label:('pink'    |translate), value:'pink'},
                                 {label:('brown'   |translate)   , value:'brown'},
                                 {label:('grey'  |translate)    , value:'grey'},
                                 {label:('black'     |translate), value:'black'}]"
                class=""
                model="c.control.active.alert.color"
                label="item.label"
                value="item.value"
            ></sm-dropdown>
        </div>

        <!--<div class="field">
            <label>{{'selectable controls' | translate}}</label>
            <div class="ui mini labels">
                <div class="ui label pointer" ng-repeat="f in c.activeSibling.row track by $index"
                     ng-show="(f.type != 5 && f.type != 16)  ||  ((f.type === 5 || f.type == 16) && f.name !== c.control.active.name)"
                     ng-click="c.control.active.alert.expression = c.control.active.alert.expression + '['+ f.name + ']'">
                    {{f.name}} {{f.label}}
                </div>
            </div>
        </div>-->
        <div>در صورتی که فرمول زیر مقدار true داشته باشد هشدار نمایش داده می‌شود. در صورتی که فرمول یک رشته را برگرداند رشته به عنوان متن پیام در نظر گرفته می‌شود</div>
        <div class="field">
            <label>{{'فرمول' | translate}}</label>
            <!--<textarea class="code ltr" ng-model="c.control.active.alert.expression"></textarea>-->
            <div flex>
                <feditor control-s="saveFormShotcut()" flex nosort ng-model="c.control.active.alert.expression" lang="js" list="c.activeSibling.autoCompelete"></feditor>
            </div>

            <div class="desc ui small">
                در صورتی که خروجی یک شی به صورت زیر باشد پیام و رنگ به صورت خودکار تغییر میکنید
                <span class="ltr inline">{message:'your text', color:'your color'}</span>
            </div>
        </div>
    </div>

    <!-- فیلد محاسباتی -->
    <div ng-if="c.control.active.type == 5 " class="field">
        <!--<div class="field">
            <label>{{'selectable controls' | translate}}</label>
            <div class="ui mini labels">
                <div class="ui label pointer" ng-repeat="f in c.activeSibling.row track by $index"
                     ng-show="(f.type != 5 && f.type != 16)  ||  ((f.type === 5 || f.type == 16) && f.name !== c.control.active.name && $index < c.activeSibling.index )"
                     ng-click="c.control.active.calculate.expression = c.control.active.calculate.expression + '['+ f.name + ']'">
                    {{f.name}} {{f.label}}
                </div>
            </div>
        </div>-->
        <div class="field">
            <label>{{'فرمول' | translate}}</label>
            <!--<textarea class="code ltr" ng-model=""></textarea>-->
            <div flex>
                <feditor
                    control-s="saveFormShotcut()"
                    flex
                    ignore-beauty-pattern="\[field-\d+\]"
                    type="5"
                    ng-model="c.control.active.calculate.expression"
                    lang="js"
                    list="c.activeSibling.autoCompelete"
                ></feditor>
            </div>

            <div class="desc ui small">
                برای نمایش فیلدهای داخل تکرار شونده از الگوی زیر استفاده کنید
                <span class="ltr inline">[multirow-field-number][index][field-num]</span>
                همچنین index می‌تواند عدد صحیح یا عبارت index باشد که در حالت دوم به صورت پویا مقداردهی می‌شود و index ردیف فیلد محاسباتی فعلی را نشان خواهد داد
                <br />
                مثال اضافه کردن تاریخ: moment([field-14], 'jYYYY/jMM/jDD').add(20, 'days').format('jYYYY/jMM/jDD')
                <br />
                مثال اختلاف تاریخ: moment([field-14], 'jYYYY/jMM/jDD').diff(moment([field-15], 'jYYYY/jMM/jDD'), 'days')
            </div>
        </div>
    </div>

    <!-- فیلد محاسباتی - مجموع -->
    <div ng-if="c.control.active.type == 16" class="field">
        <div class="inline fields">
            <label>{{'تابع تجمیع' | translate}}</label>
            <sm-dropdown items="['sum','avg','var']" model="c.control.active.calculate.func" ng-init="c.control.active.calculate.func = 'sum'"></sm-dropdown>
        </div>
        <!--<div class="field">
        <label>{{'selectable controls' | translate}}</label>
        <div class="ui mini labels">
            <div class="ui label pointer" ng-repeat="f in c.controlList track by $index"
                 ng-show="f.childOfMultiRow && (f.type === 2 || f.type === 5)"
                 ng-click="c.control.active.calculate.expression = c.control.active.calculate.expression + c.control.active.calculate.func+'(['+ f.name + '])'">
                {{f.name}} {{f.label}}
            </div>
        </div>
    </div>-->
        <div class="field">
            <label>{{'فرمول' | translate}}</label>
            <!--<textarea class="code ltr" ng-model="c.control.active.calculate.expression"></textarea>-->
            <div flex>
                <feditor
                    control-s="saveFormShotcut()"
                    ignore-beauty-pattern="\[field-\d+\]"
                    flex
                    type="16"
                    ng-model="c.control.active.calculate.expression"
                    lang="js"
                    list="c.controlListAutoCompelete"
                ></feditor>
            </div>
        </div>
    </div>

    <!-- تنظیمات مربوط به کنترل دسترسی -->
    <div ng-hide="c.control.active.dontShowAccessControl" class="field">
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.accessControlView" label="{{'view access control' | translate}}">{{'view access control' | translate}}</sadaf-checkbox>
        </div>

        <div class="field" ng-show="c.control.active.accessControlView">
            <select-roles ng-model="c.control.active.accessControlViewRoles"></select-roles>
            <div><small>{{'view access control desc' | translate}}</small></div>
        </div>

        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.accessControlEdit" label="{{'edit access control' | translate}}">{{'edit access control' | translate}}</sadaf-checkbox>
        </div>

        <div class="field" ng-show="c.control.active.accessControlEdit">
            <select-roles ng-model="c.control.active.accessControlEditRoles"></select-roles>
            <div><small>{{'edit access control desc' | translate}}</small></div>
        </div>
    </div>

    <div class="field" ng-if="[13, 19, 22, 27].includes(c.control.active.type)">
        <sadaf-checkbox ng-model="c.control.active.uiConfig.border">نمایش خط حاشیه‌ای</sadaf-checkbox>
    </div>

    <div ng-if="[22, 19,13, 25].includes(c.control.active.type)">
        <div class="f-field">
            <label>حاشیه </label>
            <input ng-model="c.control.active.uiConfig.margin" type="text" ng-init="c.control.active.uiConfig.margin = c.control.active.uiConfig.margin || '0px 0px'" />
        </div>
        <small class="gray">حاشیه باید به صورت <span class="ltr code">10px 0px</span> باشد </small>
    </div>
    <div ng-if="[25].includes(c.control.active.type)">
        <div class="f-field">
            <label>حداقل ارتفاع </label>
            <input ng-model="c.control.active.uiConfig.minHeight" type="number" ng-init="c.control.active.uiConfig.minHeight = c.control.active.uiConfig.minHeight || 150" />
        </div>
    </div>
    <div ng-if="[22, 19,13].includes(c.control.active.type)">
        <div class="f-field">
            <label>{{'controls size' | translate}}</label>
            <control-size class="value" ng-model="c.control.active.uiConfig.size"></control-size>
        </div>
    </div>

    <div class="f-field" ng-if="c.control.active.type == 22">
        <label>نحوه نمایش برچسب‌ها</label>
        <sm-dropdown
            items="[
            {label:('برچسب بالا' | translate), value:'above-label'},
            {label:('برچسب کنار' | translate), value:'inline-label'},
            {label:('راست چین' | translate), value:'right-align'},
            {label:('چپ چین' | translate), value:'left-align'},
            {label:('بلند' | translate), value:'long'},
            {label:('خیلی بلند' | translate), value:'very-long'},
            ]"
            class="selection multiple fluid value"
            model="c.control.active.uiConfig.feildClasses"
            label="item.label"
            value="item.value"
            ng-init="c.control.active.uiConfig.feildClasses = c.control.active.uiConfig.feildClasses || ''"
        ></sm-dropdown>
    </div>

    <div class="f-field" xng-if="![22].includes(c.control.active.type)">
        <label>رنگ پشت زمینه</label>
        <div class="" md-color-picker ng-model="c.control.active.uiConfig.color" md-color-default-tab="'genericPalette'"></div>
        <i title="پاک کردن رنگ" class="ui link icon close" ng-click="c.control.active.uiConfig.color = null"></i>
    </div>

    <div class="field">
        <sadaf-checkbox ng-change="setToAll('uiConfig.fontLabel.enable')" ng-model="c.control.active.uiConfig.fontLabel.enable">تغییر فونت برچسب </sadaf-checkbox>
        &nbsp;&nbsp;&nbsp;
        <text-editor
            on-change="setToAll('uiConfig.fontLabel')"
            style="display: inline-block"
            ng-if="c.control.active.uiConfig.fontLabel.enable"
            prop="c.control.active.uiConfig.fontLabel"
            config="{
            format: false,
            bold: true,
            size: true,
            font: true,
            color: true,
            align: true,
            rotate: false,
            anchor: false,
            position: false
        }"
        ></text-editor>
    </div>

    <div class="field" ng-if="[0,1,2,3, 5, 16, 4, 26, 22].includes(c.control.active.type)">
        <sadaf-checkbox ng-change="setToAll('uiConfig.fontValue.enable')" ng-model="c.control.active.uiConfig.fontValue.enable">تغییر فونت مقدار </sadaf-checkbox>
        &nbsp;&nbsp;&nbsp;
        <text-editor
            on-change="setToAll('uiConfig.fontValue')"
            style="display: inline-block"
            ng-if="c.control.active.uiConfig.fontValue.enable"
            prop="c.control.active.uiConfig.fontValue"
            config="{
            format: false,
            bold: true,
            size: true,
            font: true,
            color: true,
            align: true,
            rotate: false,
            anchor: false,
            position: false
        }"
        ></text-editor>
    </div>

    <div ng-if="c.control.active.type == 19">
        <div class="f-field">
            <label>تم نمایش</label>
            <sm-dropdown
                items="[{k:'menu', label:'حالت چند گزینه‌ای'}, {k:'dragdrop', label:'درگ دراپ'}
            , {k:'input', label:'کلید'}]"
                model="c.control.active.uiConfig.theme"
                value="item.k"
                label="item.label"
                class="selection value"
            ></sm-dropdown>
        </div>
        <div class="f-field">
            <label>نوع فایل ورودی</label>
            <sm-dropdown
                items="[{k:'image/*', label:'تصویر'}
            , {k:'audio/*', label:'صدا'}
            , {k:'video/*', label:'ویدئو'}
            , {k:'.zip', label:'فایل زیپ'}
            , {k:'.txt', label:'فایل متنی'}
            , {k:'.doc', label:'فایل مستند'}
            , {k:'.pdf', label:'pdf'}
            , {k:'.xlsx', label:'xlsx'}
            , {k:'*', label:'همه فایل‌ها'}]
            "
                model="c.control.active.uiConfig.accept"
                value="item.k"
                label="item.label"
                class="selection multiple value"
            ></sm-dropdown>
        </div>

        <div class="field">
            <sadaf-checkbox ng-if="c.control.active.uiConfig.theme == 'dragdrop'" ng-model="c.control.active.uiConfig.showIcon">نمایش آیکن</sadaf-checkbox>
        </div>
        <div class="field">
            <sadaf-checkbox ng-if="c.control.active.uiConfig.theme == 'dragdrop'" ng-model="c.control.active.uiConfig.compact">فضای نمایشی کمتر</sadaf-checkbox>
        </div>

        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.single">انتخاب تنها یک فایل</sadaf-checkbox>
        </div>

        <div class="field" ng-if="c.control.active.uiConfig.theme != 'menu'">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.showEmptyMessage">نمایش پیغام لیست خالی فایل</sadaf-checkbox>
        </div>

        <div class="f-field" ng-if="c.control.active.uiConfig.showEmptyMessage && c.control.active.uiConfig.theme != 'menu'">
            <label>متن عدم انتخاب فایل</label>
            <input class="value" ng-model="c.control.active.uiConfig.emptyMessage" />
        </div>

        <div class="f-field" ng-if="c.control.active.uiConfig.theme == 'dragdrop'">
            <label>متن داخل باکس</label>
            <input class="value" ng-model="c.control.active.uiConfig.message" />
        </div>
    </div>

    <div ng-if="c.control.active.type == 13">
        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.accessControlJustNewRecord" label="مجاز تنها برای اضافه کردن ردیف جدید">
                مجاز تنها برای اضافه کردن ردیف جدید
            </sadaf-checkbox>
        </div>

        <div class="field" ng-show="c.control.active.accessControlJustNewRecord">
            <select-roles ng-model="c.control.active.accessControlJustNewRecordRoles"></select-roles>
            <div><small>نقش‌های انتخاب شده تنها مجاز به اضافه کردن ردیف جدید هستند</small></div>
        </div>

        <div class="f-field">
            <label>نحوه نمایش ردیف‌ها</label>
            <sm-dropdown
                items="[{k:'simple', label:'جدولی ساده'}, {k:'group', label:'گروهی'}, {k:'simple-v2', label:'جدولی ساده-v2'}]"
                model="c.control.active.uiConfig.theme"
                value="item.k"
                label="item.label"
                class="selection value"
            ></sm-dropdown>
        </div>
        <div ng-if="c.control.active.uiConfig.theme == 'simple' || c.control.active.uiConfig.theme == 'simple-v2'">
            <div class="f-field">
                <label>مکان عمودی آیتم‌ها در جدول</label>
                <sm-dropdown
                    items="[{k:'top', label:'بالا'}, {k:'center', label:'وسط'}]"
                    model="c.control.active.uiConfig.verticalAlign"
                    value="item.k"
                    label="item.label"
                    class="selection value"
                ></sm-dropdown>
            </div>
            <div class="f-field">
                <label>رنگ جدول</label>
                <div class="" on-change="changeSettings()" md-color-picker ng-model="c.control.active.uiConfig.themeColor" md-color-default-tab="'genericPalette'"></div>
                <i title="پاک کردن رنگ" class="ui link icon close" ng-click="c.control.active.uiConfig.themeColor = null"></i>
            </div>
        </div>
        <div class="field">
            <sadaf-checkbox ng-change="setToAll('uiConfig.fontLabel.enable')" ng-model="c.control.active.uiConfig.titleFont.enable"> تغییر فونت نام جدول </sadaf-checkbox>
            &nbsp;&nbsp;&nbsp;
            <text-editor
                on-change="setToAll('uiConfig.titleFont')"
                style="display: inline-block"
                ng-if="c.control.active.uiConfig.titleFont.enable"
                prop="c.control.active.uiConfig.titleFont"
                config="{
            format: false,
            bold: true,
            size: true,
            font: true,
            color: true,
            align: true,
            rotate: false,
            anchor: false,
            position: false
        }"
            ></text-editor>
        </div>
        <div class="field">
            <sadaf-checkbox ng-change="setToAll('uiConfig.fontLabel.enable')" ng-model="c.control.active.uiConfig.addKeyFont.enable"> تغییر فونت کلید اضافه کردن </sadaf-checkbox>
            &nbsp;&nbsp;&nbsp;
            <text-editor
                on-change="setToAll('uiConfig.addKeyFont')"
                style="display: inline-block"
                ng-if="c.control.active.uiConfig.addKeyFont.enable"
                prop="c.control.active.uiConfig.addKeyFont"
                config="{
            format: false,
            bold: true,
            size: true,
            font: true,
            color: true,
            align: true,
            rotate: false,
            anchor: false,
            position: false
        }"
            ></text-editor>
        </div>

        <div class="field">
            <sadaf-checkbox ng-model="c.control.active.uiConfig.matrixMode">نمایش ماتریسی</sadaf-checkbox>
        </div>

        <small class="gray"> برای نمایش ماتریسی لازم است سه کنترل در تکرار شونده قرار بگیرند که به ترتیب اولی و دومی چند گزینه‌ای و کنترل سوم مقدار شاخص باشد. </small>

        <div class="field !tw-mt-2">
            <sadaf-checkbox ng-model="c.control.active.preventRelation"> عدم ایجاد ارتباط خودکار بین منبع داده تکرار شونده و فرم اصلی </sadaf-checkbox>
        </div>

        <div class="f-field" ng-show="!c.control.active.preventRelation">
            <label>جهت ارتباط جداول</label>
            <sm-dropdown
                items="[{key:'right', value:'نمایش تمام رکوردهای تکرار شونده'}, {key:'left', value:'نمایش تمام رکوردهای فرم اصلی'}]"
                class="selection value"
                model="c.control.active.relationType"
                label="item.value"
                value="item.key"
            ></sm-dropdown>
        </div>
    </div>

    <div class="tw-mb-3" ng-if="c.control.active.type == 25">
        <div class="field">
            <select-datasource type="charts" ng-model="c.control.active.uiConfig.chart"></select-datasource>
        </div>
        <div class="f-field">
            <label>اضافه کردن پارامتر جدید</label>
            <div class="ui icon basic mini button" ng-click="c.control.active.uiConfig.chartParams.push({type:0})">
                <i class="ui icon add"></i>
            </div>
        </div>

        <div class="ui tiny secondary segment" ng-repeat="p in c.control.active.uiConfig.chartParams">
            <div class="tw-flex">
                <label>نوع پارامتر</label>
                <sm-dropdown
                    items="[{name:'لیست', value:0}, 
                    {name:'بین دو مقدار', value:1 },
                    {name:'بزرگتر', value:2 },
                    {name:'بزرگتر مساوی', value:3 },
                    {name:'کوچکتر', value:4 },
                     {name:'کوچکتر مساوی', value:5 }
                     ]"
                    style="min-width: 100px"
                    model="p.type"
                    label="item.name"
                    value="item.value"
                ></sm-dropdown>
                <div class="tw-grow"></div>
                <div class="ui icon basic mini button" ng-click="c.control.active.uiConfig.chartParams.splice($index, 0, {type:0})">
                    <i class="ui icon add"></i>
                </div>
                <div class="ui icon basic mini button" ng-click="c.control.active.uiConfig.chartParams.splice($index, 1)">
                    <i class="ui icon close"></i>
                </div>
            </div>
            <div class="f-field"></div>

            <div class="f-field">
                <label>فرمول نمودار</label>
                <feditor class="value" control-s="saveFormShotcut()" ng-model="p.chartFormula" lang="js" list="c.controlListAutoCompelete"></feditor>
            </div>
            <div class="f-field">
                <label>فرمول دریافت مقادیر</label>
                <feditor class="value" control-s="saveFormShotcut()" ng-model="p.valueFormula" lang="js" list="c.controlListAutoCompelete"></feditor>
            </div>
        </div>
    </div>

    <!-- تنظیمات مربوط به فیلد مربوط به ارجاع به فرم -->
    <div ng-show="c.control.active.type == 17" class="field">
        <div class="field">
            <table-lookup ng-model="c.control.active" controls="c.activeSibling"></table-lookup>
        </div>
    </div>

    <div ng-if="c.pages.data.length > 1">
        انتقال به صفحه
        <div class="ui mini button" ng-if="!p.active" ng-repeat="p in c.pages.data" ng-click="moveToPage(p)">{{p.name}}</div>
    </div>

    <div class="field !tw-mt-3">
        <label>قوانین css دلخواه</label>
        <feditor class="value" control-s="saveFormShotcut()" ng-change="setToAll('uiConfig.styles')" ng-model="c.control.active.uiConfig.styles" lang="css"></feditor>
    </div>
</form>

<!-- تنظیمات صفحه -->
<div ng-show="!c.control.active.name" class="ui tiny form">
    <ng-include ng-if="c.generalActive" src="c.app.templatePrefix + '/partial/forms/editor/form-generator-editor-properties-general.html'"></ng-include>
    <ng-include ng-if="!c.generalActive" src="c.app.templatePrefix + '/partial/forms/editor/form-generator-editor-properties-page.html'"></ng-include>
</div>
