<style>
    .form-components .wide.column {
        min-height: initial;
    }
</style>
<div class="tw-flex tw-flex-col tw-h-full">
    <div class="ui mini form tw-p-2">
        <div class="field">
            <input type="text" autocomplete="off" ng-model="comQuery" placeholder="جستجو" />
        </div>
    </div>
    <div class="form-components tw-flex-1 tw-p-2" ng-sortable="c.compConf" layout="row" 
    layout-wrap layout-align="start start" >
        <div class="draggable-element" ng-repeat="o in c.items| filter:{key:comQuery} track by $index" style="width: 100%; display: inline-block">
            <div class="fg-component cursor" ng-click="addComponent(o)">
                <div class="ui secondary small segment fluid item-box" style="">
                    <i class="{{o.icon}} icon large"></i>
                    {{o.key}}
                </div>
            </div>
        </div>
    </div>
</div>
