<menu-container open-menu-name="openMenuName">
    <menu-item>
        <menu-header>{{ 'تنظیمات کلی' | translate }}</menu-header>
        <menu-body>
            <div>
                <input type="hidden" ng-model="ngModel.map.info.canExportXlsx" value="true" />

                <general-settings ng-model="ngModel.map.info" props="ngModel" ng-change="refreshChart('refresh')"></general-settings>

                <map-selector prop="ngModel.map.info.map"></map-selector>

                <div class="form-row" layout="row" layout-align="start center" ng-show="license.realMap">
                    <label>{{ 'نوع نقشه' | translate }}</label>
                    <span class="form-divider" flex></span>
                    <select ng-model="ngModel.map.info.mapType" ng-change="refreshChart('refresh')"
                            ng-options="i.value as  i.name for i in [
                                {name:'نقشه مجازی', value: 'path'  },
                                {name:'نقشه واقعی', value:'real' },
                                ]"></select>
                </div>

                <div class="ui mini secondary segment" ng-show="ngModel.map.info.mapType == 'real' && license.realMap">
                    <div class="form-row" layout="row" layout-align="start center">
                        <label>زوم پیش فرض نقشه</label>
                        <span class="form-divider" flex></span>
                        <input type="number" placeholder="زوم پیش فرض نقشه"
                               ng-change="refreshChart('refresh')"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="ngModel.map.info.realMap.initialZoom" />
                    </div>

                    <div class="ui secendary segment">

                        برای تعیین پیش فرض منطقه نمایش، روی نمودار منطقه مورد نظر را انتخاب کنید

                    </div>

                    <!--<div class="form-row" layout="row" layout-align="start center">
                        <label>زوم پیش فرض نقشه</label>
                        <span class="form-divider" flex></span>
                        <input type="number" placeholder="مقدار LAT پیشفرض"
                               ng-change="refreshChart('refresh')"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="ngModel.map.info.realMap.initialCenter.lat" />
                    </div>
                    <div class="form-row" layout="row" layout-align="start center">
                        <label>زوم پیش فرض نقشه</label>
                        <span class="form-divider" flex></span>
                        <input type="number" placeholder="مقدار LNG پیشفرض"
                               ng-change="refreshChart('refresh')"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="ngModel.map.info.realMap.initialCenter.lng" />
                    </div>-->


                    <div class="form-row" layout="row" layout-align="start center">
                        <label>درصد شفافیت رنگ مناطق</label>
                        <span class="form-divider" flex></span>
                        <input type="number" placeholder="درصد شفافیت رنگ مناطق"
                               ng-change="refreshChart('refresh')"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="ngModel.map.info.realMap.fillOpacity" />
                    </div>


                    <div class="form-row" layout="row" layout-align="start center" ng-show="license.realMap">
                        <label>{{ 'نقشه' | translate }}</label>
                        <span class="form-divider" flex></span>
                        <select ng-model="ngModel.map.info.realMap.type" ng-change="refreshChart('refresh')"
                                ng-options="i.value as  i.name for i in [
                                {name:'نقشه آنلاین openStreet', value: 'open-street-online'  },
                                {name:'نقشه آفلاین google', value: 'google-offline'  },
                                ]"></select>
                        <!--
        {name:'نقشه آفلاین openStreet', value: 'open-street-offline'  },
            {name:'نقشه آنلاین google', value: 'google-online'  },-->
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" ng-model="ngModel.map.info.realMap.scrollWheelZoom" ng-change="refreshChart('refresh')" /> اسکرول با موس
                            </label>
                        </div>
                    </div>


                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'رنگ مرزها' | translate }}</label>
                    <span class="form-divider" flex></span>
                    <div class="col-sm-8">
                        <div md-color-picker ng-model="ngModel.map.info.borderColor" md-color-default-tab="'genericPalette'" on-change="refreshChart('refresh')"></div>
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">اندازه مرزها</label>
                    <span class="form-divider" flex></span>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="اندازه مرزها"
                               ng-change="refreshChart('refresh')"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="ngModel.map.info.borderWidth" />
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">رنگ پیش فرض</label>
                    <span class="form-divider" flex></span>
                    <div class="col-sm-8">
                        <div md-color-picker ng-model="ngModel.map.info.defaultColor" md-color-default-tab="'genericPalette'" on-change="refreshChart('refresh')"></div>
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <div class="checkbox">
                        <label class="">
                            <input type="checkbox" ng-model="ngModel.map.info.showName" ng-change="refreshChart('refresh')" /> {{ 'نمایش اسامی شهرها' | translate }}
                        </label>
                    </div>
                    <span class="form-divider" ng-show="ngModel.map.info.showName" flex></span>
                    <text-editor on-change="refreshChart('refresh')" prop="ngModel.map.info.nameEditor" ng-show="ngModel.map.info.showName"></text-editor>
                </div>
                <div class="form-row" layout="row" layout-align="start center">
                    <div class="checkbox">
                        <label class="">
                            <input type="checkbox" ng-model="ngModel.map.info.showValue" ng-change="refreshChart('refresh')" /> {{ 'نمایش مقدار' | translate }}
                        </label>
                    </div>
                    <span class="form-divider" ng-show="ngModel.map.info.showValue" flex></span>
                    <text-editor on-change="refreshChart('refresh')" prop="ngModel.map.info.valueEditor" ng-show="ngModel.map.info.showValue"></text-editor>
                </div>


                <div class="form-row" layout="row" layout-align="start center">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" ng-model="ngModel.map.info.showLegend" ng-change="refreshChart('refresh')" /> {{ 'نمایش طیف رنگ' | translate }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" ng-model="ngModel.map.info.selectableArea" ng-change="refreshChart('refresh')" />
                                {{ 'امکان انتخاب مناطق' | translate }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" ng-model="ngModel.map.info.showChart" ng-change="refreshChart('refresh')" /> {{ 'show chart' | translate }}
                            </label>
                        </div>
                    </div>
                </div>

                <!--پاپ آپ در سگمنت نمایش داده نمی‌شود-->
                <div zclass="ui secondary mini segment" ng-show="ngModel.map.info.showChart">

                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">{{ 'نوع نمودار' | translate }}</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <select ng-model="ngModel.map.info.chartType" ng-change="refreshChart('refresh')"
                                    ng-options="i.name as  i.value for i in [
                                        {name:'pie', value: 'pie'  },
                                        {name:'bar', value:'bar' },
                                        ]"></select>
                        </div>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" ng-model="ngModel.map.info.showChartLegend" ng-change="refreshChart('refresh')" /> {{ 'show chart legend' | translate }}
                            </label>
                        </div>
                        <span class="form-divider" ng-show="ngModel.map.info.showChartLegend" flex></span>
                        <text-editor on-change="refreshChart('refresh')" prop="ngModel.map.info.legendFont" ng-show="ngModel.map.info.showChartLegend"></text-editor>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">اندازه نمودار به درصد</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <input type="number" min="10" max="100" class="form-control" placeholder="اندازه نمودار به درصد"
                                   ng-change="refreshChart('refresh')"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   ng-model="ngModel.map.info.chartSize" />
                        </div>
                    </div>



                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'شاخص اصلی' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <select ng-model="ngModel.map.info.mainSeries" ng-change="refreshChart('refresh')"
                                ng-options="i as  i for i in ngModel.series"></select>
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="">
                        <input type="checkbox" ng-model="ngModel.map.info.extraCode.enable" ng-change="refreshChart('refresh')" /> نمایش کدهایی که روی نقشه نیستند
                    </label>
                    <span class="form-divider" ng-show="ngModel.map.info.extraCode.enable" flex></span>
                    <text-editor on-change="refreshChart('refresh')" prop="ngModel.map.info.extraCode.font" ng-show="ngModel.map.info.extraCode.enable"></text-editor>
                </div>
                <div class="ui secondary segment" ng-show="ngModel.map.info.extraCode.enable" ng-init="ngModel.map.info.extraCode.items = ngModel.map.info.extraCode.items ||[]">


                    <!--<ng-quill-editor on-content-changed="refreshChart('refresh')" style="direction:ltr;" ng-model="ngModel.map.info.extraCode.template"
                         ng-init="ngModel.map.info.extraCode.template= ngModel.map.info.extraCode.template || '<p><strong style=&quot;font-size: 16px;&quot;>@label = @value</strong></p>'"></ng-quill-editor>

        <div class="ltr gray" style="font-size: 0.85em;display: flex;flex-direction: row;justify-content: space-between;">
            <div><strong> @label</strong>:  برچسب</div>
            <div><strong> @value</strong>:  مقدار</div>
        </div>-->


                    <div class="ui mini compact icon basic button" ng-click="ngModel.map.info.extraCode.items.push({})">
                        اضافه کردن
                        <i class="ui icon add"></i>
                    </div>
                    <div ng-repeat="r in ngModel.map.info.extraCode.items">
                        <div class="form-row" layout="row" layout-align="start center">
                            <input flex ng-model="r.code" ng-change="refreshChart('refresh')" placeholder="کد" />
                            <input flex ng-model="r.caption" ng-change="refreshChart('refresh')" placeholder="نام" />
                            <div class="ui mini compact icon basic button" ng-click="ngModel.map.info.extraCode.items.splice($index, 1)">
                                <i class="ui icon close"></i>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'مکان نمایش راهنما' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <legend-position ng-model="ngModel.map.info.legendPosition" ng-change="refreshChart('refresh')"></legend-position>
                    </div>
                </div>


                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'رنگ شروع' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <div md-color-picker ng-model="ngModel.map.info.colorEnd" md-color-default-tab="'genericPalette'" on-change="refreshChart('refresh')"></div>
                    </div>
                </div>
                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'رنگ پایان' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <div md-color-picker ng-model="ngModel.map.info.colorStart" md-color-default-tab="'genericPalette'" on-change="refreshChart('refresh')"></div>
                    </div>
                </div>


                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'حالت نمایش راهنما' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <select class="selectpicker-x form-control" ng-model="ngModel.map.info.tooltip" ng-change="refreshChart('refresh')"
                                ng-options="i.name as  i.value for i in [
                                    {name:'1', value: 'مجزا'  },
                                    {name:'2', value:'تمام شاخص‌های پیدا' },
                                    {name:'3', value:'تمام شاخص‌ها' },
                                    ]"></select>
                    </div>
                </div>


                <div class="form-row" layout="column" layout-align="start top">
                    <label class="control-label">{{ 'قالب تیتر راهنما' | translate }}</label>
                    <textarea flex class="form-control"
                              ng-change="refreshChart('refresh')"
                              ng-model-options="{ updateOn: 'blur' }"
                              ng-model="ngModel.map.info.tooltipHeader"
                              style="direction:ltr; text-align:left; font-family:monospace; resize:vertical"></textarea>
                    <p class="help-block">
                        متغیرهای قابل استفاده:
                        <code class="inline">
                            set.key
                        </code> ,<code class="inline">
                            set.sum
                        </code> ,<code class="inline">
                            set.avg
                        </code>,<code class="inline">
                            set.points
                        </code>
                    </p>
                </div>
                <div class="form-row" layout="column">
                    <label class="control-label">{{ 'قالب نمایش راهنما' | translate }}</label>
                    <textarea class="form-control"
                              flex
                              ng-change="refreshChart('refresh')" ng-model-options="{ updateOn: 'blur' }"
                              ng-model="ngModel.map.info.tooltipFormat" style="direction:ltr; text-align:left; font-family:monospace;resize:vertical"></textarea>
                    <p class="help-block">
                        متغیرهای قابل استفاده:
                        <code class="inline">
                            point.data
                        </code> ,<code class="inline">
                            point.label
                        </code> ,<code class="inline">
                            point.color
                        </code>
                        <div>
                            تگ‌های مجاز:
                        </div>
                        <div class="ltr text-left">

                            <code>&lt;b&gt;</code>, <code>&lt;strong&gt;</code>, <code>&lt;i&gt;</code>, <code>&lt;em&gt;</code>, <code>&lt;br/&gt;</code>, <code>&lt;span&gt;</code>
                        </div>
                    </p>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" ng-model="ngModel.map.info.showLatLng.enable" ng-change="refreshChart('refresh')" /> نمایش علامت براساس Lat و Lng
                            </label>
                        </div>
                    </div>
                </div>

                <div ng-if="ngModel.map.info.showLatLng.enable">

                    <div class="form-row" layout="row" layout-align="start center">
                        <label>latitude</label>
                        <span class="form-divider" flex></span>
                        <select class="" ng-model="ngModel.map.info.showLatLng.lat" data-size="4"
                                ng-change="refreshChart()"
                                ng-options="d.UniqueName as d.Name for d in datasource.CubeInfo.Dimensions[0].Hierarchies">
                        </select>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label>longitude</label>
                        <span class="form-divider" flex></span>
                        <select ng-model="ngModel.map.info.showLatLng.lng" data-size="4"
                                ng-change="refreshChart()"
                                ng-options="d.UniqueName as d.Name for d in datasource.CubeInfo.Dimensions[0].Hierarchies">
                        </select>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center" ng-init="ngModel.map.info.showLatLng.maxSymbol = ngModel.map.info.showLatLng.maxSymbol || 25">
                        <label>حداکثر تعداد علامت روی نقشه</label>
                        <span class="form-divider" flex></span>
                        <input type="number"
                               ng-change="refreshChart('refresh')"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="ngModel.map.info.showLatLng.maxSymbol" />
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">{{ 'رنگ' | translate }}</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <div md-color-picker ng-model="ngModel.map.info.showLatLng.color" md-color-default-tab="'genericPalette'" on-change="refreshChart('refresh')"></div>
                        </div>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label>زوم شروع نمایش </label>
                        <span class="form-divider" flex></span>
                        <input type="number"
                               ng-change="refreshChart('refresh')"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="ngModel.map.info.showLatLng.startZoom" />
                    </div>
                    <div class="form-row" layout="row" layout-align="start center">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label class="">
                                    <input type="checkbox" ng-model="ngModel.map.info.showLatLng.disableMap" ng-change="refreshChart('refresh')" />
                                    عدم نمایش نقشه
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">شاخص نمایش روی دایره</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <select id="series-selector" ng-change="refreshChart('refresh')"
                                    ng-model="ngModel.map.info.showLatLng.inCircleKpi"
                                    ng-options="i as i for i in ngModel.series">
                            </select>
                        </div>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label>{{ 'فونت شاخص نمایش روی دایره' | translate }}</label>
                        <span class="form-divider" flex></span>
                        <text-editor prop="ngModel.map.info.showLatLng.inCircleFont" default="{fontSize:'14px', formatString:',.0f', align:'center'}" on-change="refreshChart('refresh')"></text-editor>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">شاخص نمایش پاپ آپ</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <select id="series-selector" ng-change="refreshChart('refresh')"
                                    ng-model="ngModel.map.info.showLatLng.popupKpi"
                                    ng-options="i as i for i in ngModel.series">
                            </select>
                        </div>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label>{{ 'فونت پاپ آپ' | translate }}</label>
                        <span class="form-divider" flex></span>
                        <text-editor prop="ngModel.map.info.showLatLng.popupFont" default="{fontSize:'14px', align:'center'}" on-change="refreshChart('refresh')"></text-editor>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">متن دلخواه روی پاپ آپ</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <input type="text" ng-model="ngModel.map.info.showLatLng.popupPrefix" ng-change="refreshChart('refresh')" />
                        </div>
                    </div>


                </div>

                <!--{{ngModel.map.info.showLatLng | json}}-->

            </div>
        </menu-body>
    </menu-item>

    <menu-item ng-show="ngModel.series && ngModel.series.length>0" name="series">
        <menu-header>{{ 'مشخصات شاخص‌ها' | translate }}</menu-header>
        <menu-body>
            <div>




                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'شاخص' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <select id="series-selector"
                                ng-model="ngModel.selectedSeries"
                                ng-options="i as i for i in ngModel.series">
                        </select>
                        <select-kpi ng-model="ngModel"></select-kpi>
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'نام شاخص' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="{{ 'نام شاخص' | translate }}"
                               ng-change="refreshChart('refresh')"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="ngModel.map.series[ngModel.selectedSeries].name" />
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" ng-change="refreshChart('refresh')" ng-model="ngModel.map.series[ngModel.selectedSeries].hidden" /> {{ 'مخفی کردن' | translate }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center" ng-show="ngModel.map.info.showChart">
                    <label class="col-sm-4">{{ 'رنگ' | translate }}</label>
                    <span class="form-divider" flex></span>
                    <div class="col-sm-8">
                        <div md-color-picker ng-model="ngModel.map.series[ngModel.selectedSeries].color" md-color-default-tab="'genericPalette'" on-change="refreshChart('refresh')"></div>
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'قالب نمایش' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <sd-format ng-change="refreshChart('refresh')" ng-model="ngModel.map.series[ngModel.selectedSeries].formatString"></sd-format>
                    </div>
                </div>

                <top-measure ng-model="ngModel.map.series[ngModel.selectedSeries].top" ng-change="refreshChart('refreshWithData');"></top-measure>

            </div>

        </menu-body>
    </menu-item>
    <alert prop="ngModel"  config="{name:'map'}"></alert>

    <table-indicator dimensions="dimensions" measures="measures" prop="ngModel" config="{name:'map', show:[1,7] , legend: true, stripeEnable:true}"></table-indicator>

    <global-variable dimensions="dimensions" measures="measures" prop="ngModel"></global-variable>

    <dim-meas-where model="openMenuName" ng-if="!isOlap" dimensions="dimensions" measures="measures" where="where" datasource="datasource"></dim-meas-where>
    <filter-except related-datasource-list="relatedDatasourceList" filter-exception="filterException" datasource="datasource"></filter-except>
    <calculate-fields calculated-fields="calculatedFields" model="ngModel"></calculate-fields>
    <management-only-dir management-only="managementOnly"></management-only-dir>

</menu-container>
