<menu-container open-menu-name="openMenuName">
    <menu-item>
        <menu-header>{{ 'تنظیمات کلی' | translate }}</menu-header>
        <menu-body>
            <div>

                <input type="hidden" data-prop="canExportXlsx" value="true" />

                <general-settings datasource="datasource" api-key="apiKey" ng-model="ngModel.radar.info" props="ngModel" ng-change="refreshChart('refresh')"></general-settings>



                <div class="form-row" layout="row" layout-align="start center">
                    <label>{{ 'قالب اعداد' | translate }}</label>
                    <span class="form-divider" flex></span>
                    <text-editor prop="ngModel.radar.info.font" on-change="refreshChart('refresh')"></text-editor>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">اندازه برچسب‌های نمودار</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <input type="number" class="form-control" placeholder="اندازه برچسب‌های نمودار" ng-change="refreshChart('refresh')"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="ngModel.radar.info.labelWidth" />
                    </div>
                </div>


                <!--<div class="form-row" layout="row" layout-align="start center">
        <label class="col-sm-4">{{ 'قالب اعداد' | translate }}</label>
        <span class="form-divider" flex></span><div class="col-sm-8">
            <select class="selectpicker-x form-control" ng-change="refreshChart('refresh')" ng-model="ngModel.radar.info.formatString">
                <option value="A">{{ 'عادی' | translate }}</option>
                <option value="%">{{ 'درصد' | translate }}</option>
                <option value=",.0f">#,#</option>
                <option value=",.1f">#,#.0</option>
                <option value=",.2f" selected="selected">#,#.00</option>
            </select>
        </div>
    </div>-->

            </div>

        </menu-body>
    </menu-item> 

    <menu-item ng-show="ngModel.series && ngModel.series.length>0" name="series">
        <menu-header>{{ 'مشخصات شاخص‌ها' | translate }}</menu-header>
        <menu-body>
            <div style="">
                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'شاخص' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                    <!--<select class="selectpicker-x form-control" ng-model="ngModel.selectedSeries">
                        <option ng-repeat="i in ngModel.series" value="{{i}}">{{i}} </option>
                    </select>-->
                    <select id="series-selector" ng-model="ngModel.selectedSeries" ng-init="ngModel.selectedSeries=ngModel.selectedSeries||'{All}'"
                            ng-options="i as i for i in ['{All}'].concat(ngModel.series)"></select>

</div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'نام شاخص' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="{{ 'نام شاخص' | translate }}" ng-change="refreshChart('refresh')"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="ngModel.radar.series[ngModel.selectedSeries].name" />
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox"
                                       ng-model-options="{ updateOn: 'blur' }"
                                       ng-change="refreshChart('refresh');changeAllSeries('hidden')"
                                       ng-model="ngModel.radar.series[ngModel.selectedSeries].hidden" /> {{ 'مخفی کردن' | translate }}
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-row" layout="row" layout-align="start center">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox" ng-change="refreshChart('refresh');changeAllSeries('cumulative')"
                                       ng-model="ngModel.radar.series[ngModel.selectedSeries].cumulative" /> {{ 'نمایش تجمعی مقادیر' | translate }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'رنگ' | translate }}</label>
                    <span class="form-divider" flex></span>
                    <!-- <div md-color-picker ng-model="ngModel.radar.series[ngModel.selectedSeries].seriesColor" md-color-default-tab="'genericPalette'" 
                         on-change="refreshChart('refresh');changeAllSeries('seriesColor')"></div> -->
                         <color-picker-ngx model="ngModel.radar.series[ngModel.selectedSeries].seriesColor" on-change="refreshChart('refresh');changeAllSeries('seriesColor')"></color-picker-ngx>


                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'شفافی' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <input type="number" class="form-control" placeholder="{{ 'شفافی' | translate }}"
                               ng-change="refreshChart('refresh'); changeAllSeries('areaOpacity')"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="ngModel.radar.series[ngModel.selectedSeries].areaOpacity" />
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'شکل نمودار' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <div class="sadaf-group">
                            <label class="sadaf-group-item"
                                   ng-class="ngModel.radar.series[ngModel.selectedSeries].lineType==i.t?'active':''"
                                   ng-repeat="i in [{t:'line', n:'line'}, {t:'line-area', n:'area'}, {t:'line-dot', n:'line-dot'}, {t:'dot', n:'dot'}, {t:'line-dot-area', n:'line-dot-area'}]"
                                   ng-click="ngModel.radar.series[ngModel.selectedSeries].lineType=i.t;refreshChart('refresh'); changeAllSeries('lineType')">
                                <span class="chart {{i.n}}"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'قطر خط' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <div class="sadaf-group">
                            <label class="sadaf-group-item"
                                   ng-class="ngModel.radar.series[ngModel.selectedSeries].lineWeight==i.t?'active':''"
                                   ng-repeat="i in [{t:'2', n:'lineWeight-2'},
                                                        {t:'3', n:'lineWeight-3'},
                                                        {t:'4', n:'lineWeight-4'},
                                                        {t:'5', n:'lineWeight-5'},
                                                        {t:'6', n:'lineWeight-6'}]"
                                   ng-click="ngModel.radar.series[ngModel.selectedSeries].lineWeight=i.t;refreshChart('refresh'); changeAllSeries('lineWeight')">
                                <span class="chart {{i.n}}"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'شکل خط' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <div class="sadaf-group">
                            <label class="sadaf-group-item"
                                   ng-class="ngModel.radar.series[ngModel.selectedSeries].lineFace==i.t?'active':''"
                                   ng-repeat="i in [{t:'5,0', n:'lineDashes-solid'},
                                                        {t:'6,6', n:'lineDashes-Dash'},
                                                        {t:'2,2', n:'lineDashes-dot'}]"
                                   ng-click="ngModel.radar.series[ngModel.selectedSeries].lineFace=i.t;refreshChart('refresh'); changeAllSeries('lineFace')">
                                <span class="chart {{i.n}}"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <top-measure ng-model="ngModel.radar.series[ngModel.selectedSeries].top" ng-change="refreshChart('refreshWithData');"></top-measure>

            </div>
        </menu-body>
    </menu-item>
    <alert prop="ngModel"  config="{name:'radar'}"></alert>

    <global-variable dimensions="dimensions" measures="measures" prop="ngModel"></global-variable>

    <dim-meas-where model="openMenuName" ng-if="!isOlap" dimensions="dimensions" measures="measures" where="where" datasource="datasource"></dim-meas-where>

    <filter-except related-datasource-list="relatedDatasourceList" filter-exception="filterException" datasource="datasource"></filter-except>
    <calculate-fields calculated-fields="calculatedFields" model="ngModel"></calculate-fields>
    <management-only-dir management-only="managementOnly"></management-only-dir>
</menu-container>
