<menu-container open-menu-name="openMenuName">

    <menu-item>
        <menu-header>{{ 'تنظیمات کلی' | translate }}</menu-header>
        <menu-body>
            <div>
                <input type="hidden" data-prop="canExportXlsx" value="false" />

                <general-settings props="ngModel" ng-model="ngModel.userControl.info" ng-change="refreshChart('refreshWithData')"></general-settings>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="">{{ 'نوع کنترل' | translate }}</label>
                    <span class="form-divider" flex></span>
                    <select ng-change="ngModel.userControl.info.variableDefault=null; refreshChart('refresh');"
                            ng-model="ngModel.userControl.info.type"
                            ng-options="color.name as  color.value for color in [
                                {name:'combo', value: 'کشویی تک مقداری'  },
                                {name:'multi', value:'کشویی چند مقداری' },
                                {name:'datepicker', value:'تاریخ' },
                                {name:'datepicker-range', value:'محدوده تاریخ' },
                                {name:'slider', value:'لغزنده' },
                                {name:'text', value:'جستجو' },
                                {name:'kpi-change', value:'تغییر شاخص' },
                                {name:'apply-button', value:'کلید فیلتر' },
                                ]">
                    </select>
                </div>

                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'برچسب' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="{{ 'برچسب' | translate }}" ng-change="refreshChart('refresh')" ng-model="ngModel.userControl.info.label" ng-model-options="{ updateOn: 'blur' }" />
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center" ng-if="ngModel.userControl.info.type=='apply-button'">
                    <label class="">{{ 'نوع کنترل' | translate }}</label>
                    <span class="form-divider" flex></span>
                    <select ng-change="refreshChart('refresh');"
                            ng-model="ngModel.userControl.info.buttonClass"
                            ng-options="color.value as  color.label for color in [{label:('red'     |translate), value:'red'},
                                 {label:('orange'   |translate), value:'orange'},
                                 {label:('yellow'      |translate), value:'yellow'},
                                 {label:('olive'    |translate), value:'olive'},
                                 {label:('green'      |translate), value:'green'},
                                 {label:('teal' |translate), value:'teal'},
                                 {label:('blue'      |translate), value:'blue'},
                                 {label:('violet'|translate), value:'violet'},
                                 {label:('purple'     |translate), value:'purple'},
                                 {label:('pink'    |translate), value:'pink'},
                                 {label:('brown'   |translate)   , value:'brown'},
                                 {label:('grey'  |translate)    , value:'grey'},
                                 {label:('خاکستری روشن'  |translate)    , value:''},
                                 {label:('black'     |translate), value:'black'}]">
                    </select>
                </div>



                <input type="hidden" data-prop="aggregation" value="1" />
                <input type="hidden" data-prop="showFilterIcon" value="0" />

                <div class="" ng-show="ngModel.userControl.info.type=='datepicker' || ngModel.userControl.info.type=='datepicker-range'">
                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">{{ 'فرمت نمایش تاریخ' | translate }}</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <input class="form-control" type="text" value="yy/mm/dd" ng-change="refreshChart('refresh')" ng-model="ngModel.userControl.info.dateFormatShow" ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">{{ 'فرمت مقدار تاریخ' | translate }}</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <input class="form-control" type="text" value="yy/mm/dd" ng-change="refreshChart('refresh')" ng-model="ngModel.userControl.info.dateFormatValue" ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>



                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="">
                            <input type="checkbox" ng-model="ngModel.userControl.info.disableDaySelect" ng-change="refreshChart('refresh')" />
                            غیرفعال کردن انتخاب روز (فقط سال و ماه)
                        </label>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="">نوع تقویم</label>
                        <span class="form-divider" flex></span>
                        <select ng-change="refreshChart('refresh');"
                                ng-model="ngModel.userControl.info.calendarType"
                                ng-options="color.name as  color.value for color in [
                                {name:'shamsi', value: 'شمسی'  },
                                {name:'miladi', value:'میلادی' },
                                ]">
                        </select>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="">
                            <input type="checkbox" ng-model="ngModel.userControl.info.dateLimit.enable" ng-change="refreshChart('refresh')" />
                            محدودیت انتخاب تاریخ
                        </label>
                    </div>
                    <div ng-show="ngModel.userControl.info.dateLimit.enable" class="ui mini secondary segment">

                        <div class="form-row" layout="row" layout-align="start center">
                            <label class="">
                                <input type="checkbox" ng-model="ngModel.userControl.info.dateLimit.useDataMinMax" />
                                محدودیت خودکار براساس داده‌ها
                            </label>
                        </div>

                        <div ng-hide="ngModel.userControl.info.dateLimit.useDataMinMax">
                            <div class="form-row" layout="row" layout-align="start center">
                                <label class="col-sm-4">{{ 'کمترین' | translate }}</label>
                                <span class="form-divider" flex></span><div class="col-sm-8">
                                    <sadaf-calendar ng-model="ngModel.userControl.info.dateLimit.minDate" ng-change="refreshChart('refresh')"></sadaf-calendar>
                                </div>
                            </div>
                            <div class="form-row" layout="row" layout-align="start center">
                                <label class="col-sm-4">{{ 'بیشترین' | translate }}</label>
                                <span class="form-divider" flex></span><div class="col-sm-8">
                                    <sadaf-calendar ng-model="ngModel.userControl.info.dateLimit.maxDate" ng-change="refreshChart('refresh')"></sadaf-calendar>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div ng-show="ngModel.userControl.info.type=='datepicker' || ngModel.userControl.info.type=='combo'">
                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">{{ 'شرط' | translate }}</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <select ng-change="refreshChart('refresh')" ng-model="ngModel.userControl.info.dateOp"
                                    ng-options="color.name as  color.value for color in [
                                                                {name:'eq', value: 'برابر'  },
                                                                {name:'nteq', value: 'نابرابر'  },
                                                                {name:'gr', value: 'بزرگتر'  },
                                                                {name:'eqgr', value: 'بزرگتر مساوی'  },
                                                                {name:'ls', value: 'کوچکتر'  },
                                                                {name:'eqls', value: 'کوچکتر مساوی'  },
                                                            ]"></select>
                        </div>
                    </div>
                </div>

                <div ng-show="ngModel.userControl.info.type=='multi' || ngModel.userControl.info.type=='combo'">
                    <div class="form-row" layout="row" layout-align="start center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="ngModel.userControl.info.showExclude" ng-change="refreshChart('refresh')" /> نمایش گزینه نقیض <small class="gray">(انتخاب همه به جز موارد انتخاب شده)</small>
                            </label>
                        </div>
                    </div>
                    <div class="form-row" layout="row" layout-align="start center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="ngModel.userControl.info.showAllDimentionData" ng-change="refreshChart('refresh')" /> دریافت داده از تمام ابعاد <small class="gray">در صورتی که این گزینه انتخاب نشده باشد فقط اطلاعات مربوط 
                                به بُعد اول نمایش داده می‌شود</small>
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="form-row" layout="row" layout-align="start center">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="ngModel.userControl.info.disableNormalize" ng-change="refreshChart('refresh')" /> غیرفعال کردن نرمال‌سازی داده‌های جستجو 
                            <small class="gray">فعال بودن این گزینه باعث کندتر شدن پاسخگویی کنترل می‌شود</small>
                        </label>
                    </div>
                </div>

                <div class="form-row" layout="row" layout-align="start center" ng-if="datasource.CubeInfo.Dimensions[0].ModelType == 1">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="ngModel.userControl.info.useSql" ng-change="refreshChart('refresh')" /> استفاده از داده‌های SQL 
                            <small class="gray">در برخی شرایط در صورت استفاده از داده‌های DAX سرعت اجرای کنترل پایین می‌آید</small>
                        </label>
                    </div>
                </div>

                <div class="" ng-show="ngModel.userControl.info.type=='text'">
                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">{{ 'عملوند' | translate }}</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <select xng-change="ngModel.userControl.info.variableDefault.values[1].op = ngModel.userControl.info.textOperand"
                                    ng-model="ngModel.userControl.info.textOperand"
                                    ng-options="color.name as  color.value for color in [
                                                                {name:'and', value: 'AND'  },
                                                                {name:'or', value: 'OR'  },
                                                            ]"></select>
                        </div>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <div class="checkbox">
                            <label class="">

                                <input type="checkbox"
                                       ng-model="ngModel.userControl.info.useLike"
                                       xng-change="ngModel.userControl.info.variableDefault.values[1].useLike = ngModel.userControl.info.useLike" />
                                جستجوی براساس شباهت
                            </label>
                        </div>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <div class="checkbox">
                            <label class="">
                                <input type="checkbox"
                                       ng-model="ngModel.userControl.info.useNormal"
                                       xng-change="ngModel.userControl.info.variableDefault.values[1].useNormal = ngModel.userControl.info.useNormal" />
                                نرمال کردن متن
                            </label>
                        </div>
                    </div>

                </div>

                <div class="" ng-show="ngModel.userControl.info.type=='slider'">
                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">{{ 'حالت اسلایدر' | translate }}</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <select ng-change="refreshChart('refresh')"
                                    ng-model="ngModel.userControl.info.sliderRange"
                                    ng-options="color.name as  color.value for color in [
                                                                {name:'min', value: 'کاهشی'  },
                                                                {name:'max', value: 'افزایشی'  },
                                                                {name:'min-max', value: 'افزایشی کاهشی'  },
                                                            ]"></select>
                        </div>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">{{ 'حداقل' | translate }}</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="{{ 'برچسب' | translate }}" ng-change="refreshChart('refresh')" ng-model="ngModel.userControl.info.sliderMin" ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label class="col-sm-4">{{ 'حداکثر' | translate }}</label>
                        <span class="form-divider" flex></span><div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="{{ 'برچسب' | translate }}" ng-change="refreshChart('refresh')" ng-model="ngModel.userControl.info.sliderMax" ng-model-options="{ updateOn: 'blur' }" />
                        </div>
                    </div>

                    <div class="form-row" layout="row" layout-align="start center">
                        <label>{{ 'فرمت نمایش اعداد' | translate }}</label>
                        <span class="form-divider" flex></span>
                        <text-editor prop="ngModel.userControl.info.sliderFont" on-change="refreshChart('refresh')"></text-editor>
                    </div>

                </div>

            </div>
        </menu-body>
    </menu-item>

    <menu-item ng-show="ngModel.series && ngModel.series.length>0" name="series">
        <menu-header>{{ 'مشخصات شاخص‌ها' | translate }}</menu-header>
        <menu-body>
            <div>
                <div class="form-row" layout="row" layout-align="start center">
                    <label class="col-sm-4">{{ 'شاخص' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <select class="selectpicker-x form-control" ng-model="ngModel.selectedSeries"
                                ng-options="i as i for i in ngModel.series"></select>
                    </div>
                </div>

                <div class="form-group single-segment">
                    <label class="col-sm-4">{{ 'استفاده بعنوان' | translate }}</label>
                    <span class="form-divider" flex></span><div class="col-sm-8">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">

                            <label class="btn btn-default" style="padding: 6px 0; font-size: 0.8em"
                                   ng-class="ngModel.userControl.series[ngModel.selectedSeries].type==i.t?'active':''"
                                   ng-repeat="i in [{t:'value', n:'مقدار'}, {t:'name', n:'برچسب'}]"
                                   ng-click="ngModel.userControl.series[ngModel.selectedSeries].type=i.t;refreshChart('refresh')">

                                {{i.n}}
                            </label>

                        </div>
                    </div>
                </div>

            </div>
        </menu-body>
    </menu-item>

    <user-control-variable-relation prop="ngModel" data-selector="#divChart"  measures="measures" dimensions="dimensions"type="'userControl'">   </user-control-variable-relation>

    <dim-meas-where model="openMenuName" ng-if="!isOlap" dimensions="dimensions" measures="measures" where="where" datasource="datasource"></dim-meas-where>

    <filter-except related-datasource-list="relatedDatasourceList" filter-exception="filterException" datasource="datasource"></filter-except>
    <calculate-fields calculated-fields="calculatedFields" model="ngModel"></calculate-fields>
    <management-only-dir management-only="managementOnly"></management-only-dir>

</menu-container>
