USE [master]
GO
/****** Object:  Database [Sadaf]    Script Date: 7/6/2016 12:18:26 PM ******/
CREATE DATABASE [Sadaf]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'Sadaf', FILENAME = N'%data_root%\Sadaf.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
-- LOG ON 
--( NAME = N'Sadaf_log', FILENAME = N'%data_root%\Sadaf_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sadaf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sadaf]
GO
/****** Object:  User [dsh]    Script Date: 7/6/2016 12:18:26 PM ******/
CREATE USER [dsh] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [log]    Script Date: 7/6/2016 12:18:26 PM ******/
CREATE SCHEMA [log]
GO
/****** Object:  UserDefinedFunction [dbo].[Convert_Miladi_Shamsi]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************
* System.MIS
* Info.Second:  تبديل تاريخ ميلادي به شمسي
* nm: 1389/11/25
*******************************/
CREATE FUNCTION [dbo].[Convert_Miladi_Shamsi]
	(
	
		@EDate DATETIME = -2
	
	)
RETURNS NVARCHAR(10)
AS
	BEGIN
--- DECLARATION -------------------------	
	DECLARE @stringdate AS NVARCHAR(50)
	DECLARE @fdate CHAR(10)  
	DECLARE @EYear int,
			@EMon SMALLINT,
			@EDay SMALLINT,
			@ELeap BIT,
			@EMonArray CHAR(12),
			@EDayOfYear INT 
	DECLARE @FYear INT, @FMon SMALLINT, @FDay SMALLINT, @FLeap BIT, @FMonArray CHAR(12) 
------------------------------------	
			
	 Select @FMonArray= Char(31)+Char(31)+Char(31)+Char(31)+Char(31)+Char(31)+Char(30)+Char(30)+Char(30)+Char(30)+Char(30)+Char(29) 
	 Select @EMonArray= Char(31)+Char(28)+Char(31)+Char(30)+Char(31)+Char(30)+Char(31)+Char(31)+Char(30)+Char(31)+Char(30)+Char(31) 


	 SELECT @EYear = YEAR (@EDate) 
	 SELECT @EMon  = MONTH(@EDate) 
	 SELECT @EDay  = DAY  (@EDate) 
	 
 IF (@EYear %4) = 0 SELECT @ELeap = 1 ELSE SELECT @ELeap = 0 
 
 --------------------- Calc Day Of Year ---------
 DECLARE @Temp INT, @Cnt INT 
 SELECT @Cnt = @EMon-1 
 SELECT @Temp = 0 
 
 WHILE @Cnt <> 0 
	 BEGIN 
	   IF (@Cnt = 2)AND (@ELeap = 1) SELECT @Temp = @Temp + 29 
	   
	   ELSE SELECT @Temp = @Temp + ASCII(SUBSTRING(@EMonArray, @Cnt, 1)) 
			SELECT @Cnt = @Cnt - 1 
	 END 
	 
 SELECT @EDayOfYear = @Temp + @EDay 
 ---------------------- Convert to Farsi 
 SELECT @Temp = @EDayOfYear - 79 
 
 IF @Temp > 0 SELECT @FYear = @EYear - 621 
 ELSE 
	 BEGIN 
	 
		  SELECT @FYear = @EYear - 622 
		  IF ((@FYear %4)=3) 
			SELECT @Temp = @Temp + 366 
		  ELSE
			SELECT @Temp = @Temp + 365 
	 END 
  IF (@FYear % 4) = 3
	SELECT @FLeap = 1 
  ELSE 
	SELECT @Fleap = 0
	 
 SELECT @Cnt = 1 
 
 WHILE (@Temp <> 0) AND (@Temp > ASCII(SUBSTRING(@FMonArray, @Cnt, 1)))
 BEGIN 
   IF @Cnt=12 
	 IF (@FLeap = 1) 
	 SELECT @Temp = @Temp - 30 
	 ELSE 
	 SELECT @Temp = @Temp - 29 
	 
   ELSE 
		SELECT @Temp = @Temp - ASCII(SUBSTRING(@FMonArray, @Cnt, 1)) 
		SELECT @Cnt = @Cnt + 1 
 END 
 
 IF @Temp <> 0 
	 BEGIN 
		  SELECT @FMon = @Cnt 
		  SELECT @FDay = @Temp 
	 END 
 ELSE 
	 BEGIN
		  SELECT @FMon = 12 
		  SELECT @FDay = 30 
	 END 
 ------------------ Create Output ------------
 DECLARE @YStr CHAR(4), @MStr CHAR(2), @DStr CHAR(2) 
 
 SELECT @YStr = CONVERT(CHAR, @FYear) 
 IF @FMon<10 
	SELECT @MStr = '0' + CONVERT(CHAR, @FMon) 
ELSE 
	SELECT @MStr = CONVERT(CHAR, @FMon) 
	
 IF @FDay < 10 
	SELECT @DStr = '0' + Convert(Char, @FDay) 
ELSE 
	SELECT @DStr = Convert(Char, @FDay) 

Select @FDate = @YStr + '/' + @MStr + '/' + @dStr
RETURN @FDate
	END
GO
/****** Object:  UserDefinedFunction [dbo].[Convert_Shamsi_Miladi]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************
* System.MIS
* Info.Second: تبديل تاريخ شمسي به ميلادي
* nm: 1388/11/25
*******************************/
CREATE FUNCTION [dbo].[Convert_Shamsi_Miladi]
	(
		@Date  NVARCHAR(10)
	)
RETURNS DATETIME
AS
	BEGIN
	 DECLARE @Year  AS INT
	 DECLARE @Month AS INT
	 DECLARE @Day   AS INT
	 DECLARE @Help  AS NVARCHAR(10)
	 DECLARE @DIF	 INT
	 DECLARE @yy	 INT
	 DECLARE @a		 DATETIME
	 
	 SET @Year  = LEFT (@Date, 4)
	 SET @Help  = LEFT (@Date, 7)
	 SET @Month = RIGHT(@Help, 2)
	 SET @Day   = RIGHT(@Date, 2)

	
	IF (@Month > 6) 
		SET @DIF = 186 + (@Month - 7) * 30 + @Day

	Else
		SET @DIF = 31 * (@Month - 1) + @Day

	SET @Year =@Year - 1301
	SET @yy = 0
	WHILE (@yy <= @Year)
		BEGIN   

		IF (@YY % 4 = 3) 
			SET @DIF = @DIF + 366
		ELSE
			SET @DIF = @DIF + 365
			SET @yy = @yy+1 
		END
	
	SET @a = CONVERT(DATETIME,'3/20/1921')

	RETURN DATEADD(dd, @DIF, @a)
	END
	
GO
/****** Object:  UserDefinedFunction [dbo].[SD_Devide_float]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[SD_Devide_float](@P1 float,@P2 float)Returns float As Begin Return @P1/@P2 End;
GO
/****** Object:  UserDefinedFunction [dbo].[SD_Devide_int]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[SD_Devide_int](@P1 int,@P2 int)Returns int As Begin Return @P1/@P2 End
GO
/****** Object:  UserDefinedFunction [dbo].[SD_MAX_float]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[SD_MAX_float](@P1 float,@P2 float)Returns float As Begin Return Case When @P1 >= @P2 Then @P1 Else @P2 End End;
GO
/****** Object:  UserDefinedFunction [dbo].[SD_MAX_int]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[SD_MAX_int](@P1 int,@P2 int)Returns int As Begin Return Case When @P1 >= @P2 Then @P1 Else @P2 End End;
GO
/****** Object:  UserDefinedFunction [dbo].[SD_MAX_string]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[SD_MAX_string](@P1 nvarchar(max),@P2 nvarchar(max))Returns nvarchar(max) As Begin Return Case When @P1 >= @P2 Then @P1 Else @P2 End End;
GO
/****** Object:  UserDefinedFunction [dbo].[SD_MIN_float]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[SD_MIN_float](@P1 float,@P2 float)Returns float As Begin Return Case When @P1 <= @P2 Then @P1 Else @P2 End End;
GO
/****** Object:  UserDefinedFunction [dbo].[SD_MIN_int]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[SD_MIN_int](@P1 int,@P2 int)Returns int As Begin Return Case When @P1 <= @P2 Then @P1 Else @P2 End End;
GO
/****** Object:  UserDefinedFunction [dbo].[SD_MIN_string]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[SD_MIN_string](@P1 nvarchar(max),@P2 nvarchar(max))Returns nvarchar(max) As Begin Return Case When @P1 <= @P2 Then @P1 Else @P2 End End;
GO
/****** Object:  Table [dbo].[security_PermissionsInRoles]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[security_PermissionsInRoles](
	[ObjectType] [int] NOT NULL,
	[ObjectId] [int] NOT NULL,
	[Action] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_security_PermissionsInRoles] PRIMARY KEY CLUSTERED 
(
	[ObjectType] ASC,
	[ObjectId] ASC,
	[Action] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[security_Roles]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[security_Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[ParentRole] [int] NOT NULL CONSTRAINT [DF_security_Role_ParentRole]  DEFAULT ((-1)),
	[Detail] [nvarchar](4000) NULL,
 CONSTRAINT [PK_security_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[security_Users]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[security_Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PAsswordSalt] [nvarchar](10) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Detail] [nvarchar](max) NULL,
	[IsApproved] [bit] NOT NULL CONSTRAINT [DF_security_Users_IsApproved]  DEFAULT ((0)),
	[Properties] [nvarchar](max) NULL,
	[ExpireTime] [datetime2](7) NULL,
 CONSTRAINT [PK_security_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[security_UsersInRoles]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[security_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_security_UsersInRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Alerts]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Alerts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChartId] [int] NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[JobId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tbl_Alerts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Charts]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Charts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Measurs] [nvarchar](4000) NOT NULL,
	[SeriesLevel] [nvarchar](max) NULL,
	[Kpis] [nvarchar](4000) NULL,
	[Hierarchies] [nvarchar](max) NOT NULL,
	[Provisions] [nvarchar](max) NULL,
	[CubeName] [nvarchar](100) NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[LastModifiedTime] [datetime] NULL,
	[Uniquename] [nvarchar](400) NULL,
	[OwnerUser] [int] NULL,
	[PackageId] [int] NULL,
	[Trash] [bit] NOT NULL,
 CONSTRAINT [PK_tChart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DataSource_Chart]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DataSource_Chart](
	[DatasourceNewId] [bigint] NOT NULL,
	[ChartId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_DataSourceNew_Chart] PRIMARY KEY CLUSTERED 
(
	[DatasourceNewId] ASC,
	[ChartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DatasourceInterRelation]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DatasourceInterRelation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DatasourceInterRelationMetaId] [int] NOT NULL,
	[LeftDatasourceId] [int] NOT NULL,
	[LeftColumnName] [nvarchar](300) NOT NULL,
	[RightDatasourceId] [int] NOT NULL,
	[RightColumnName] [nvarchar](300) NOT NULL,
	[Operand] [nvarchar](200) NOT NULL,
	[JoinType] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_DatasourceInterRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DatasourceInterRelationMeta]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DatasourceInterRelationMeta](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_DatasourceInterRelationMeta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DataSources]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DataSources](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Type] [int] NOT NULL,
	[AutoReresh] [int] NOT NULL,
	[LastRefresh] [datetime] NULL,
	[Detail] [nvarchar](max) NULL,
	[TableName] [nvarchar](50) NULL,
	[Schema] [nvarchar](max) NOT NULL,
	[UniqueId] [nvarchar](200) NULL,
	[PackageId] [int] NULL,
	[Trash] [bit] NOT NULL,
	[Owner] [int] NULL,
	[Schedule] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_DataSourcesNew] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_GlobalVariables]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GlobalVariables](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[DefaultValue] [nvarchar](max) NULL,
	[Scope] [int] NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ValuesType] [int] NULL DEFAULT ((0)),
 CONSTRAINT [PK_tbl_GlobalVariable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_License]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_License](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[License] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_License] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_MainMenus]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MainMenus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Type] [int] NOT NULL CONSTRAINT [DF_tMainMenu_xType]  DEFAULT ((2)),
 CONSTRAINT [PK_tMainMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_MapData]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MapData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tbl_MapData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Menu_Chart]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Menu_Chart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[ChartId] [int] NOT NULL,
 CONSTRAINT [PK_tPage_Chart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_MenuCategories]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MenuCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MainMenuId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Type] [int] NOT NULL CONSTRAINT [DF_tMenuCategory_xType]  DEFAULT ((0)),
	[Order] [int] NOT NULL DEFAULT ((0)),
	[Owner] [int] NULL,
 CONSTRAINT [PK_tMenuItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Menus]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuCategoryId] [int] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Link] [nvarchar](1000) NULL,
	[Type] [int] NULL,
	[Detail] [nvarchar](4000) NULL,
	[Order] [int] NOT NULL DEFAULT ((0)),
	[Owner] [int] NULL,
 CONSTRAINT [PK_tPage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Packages]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Scope] [int] NOT NULL,
	[Parent] [int] NULL,
	[Trash] [bit] NOT NULL,
 CONSTRAINT [PK_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Partitions]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Partitions](
	[DataSourceId] [bigint] NOT NULL,
	[PartitionIndex] [int] NOT NULL,
	[LastRefresh] [datetime] NULL,
 CONSTRAINT [PK_Partitions] PRIMARY KEY CLUSTERED 
(
	[DataSourceId] ASC,
	[PartitionIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Settings]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mail] [nvarchar](max) NULL,
	[Sms] [nvarchar](max) NULL,
	[Brand] [nvarchar](400) NULL DEFAULT (N'داشبورد مدیریتی صدف'),
	[Language] [int] NULL DEFAULT ((0)),
 CONSTRAINT [PK_tbl_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Version]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Version](
	[version] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Version] PRIMARY KEY CLUSTERED 
(
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [log].[Log]    Script Date: 7/6/2016 12:18:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [log].[Log](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Username] [nvarchar](100) NULL,
	[UserAgent] [nvarchar](max) NULL,
	[Url] [nvarchar](256) NULL,
	[RequestMethod] [nvarchar](10) NULL,
	[RequestType] [nvarchar](50) NULL,
	[QueryString] [nvarchar](max) NULL,
	[PostParameters] [nvarchar](max) NULL,
	[ClientIp] [nvarchar](50) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[security_PermissionsInRoles] ([ObjectType], [ObjectId], [Action], [RoleId]) VALUES (2, 2168, 1, 38)
GO
INSERT [dbo].[security_PermissionsInRoles] ([ObjectType], [ObjectId], [Action], [RoleId]) VALUES (3, 1083, 1, 38)
GO
INSERT [dbo].[security_PermissionsInRoles] ([ObjectType], [ObjectId], [Action], [RoleId]) VALUES (5, 0, 1, 38)
GO
SET IDENTITY_INSERT [dbo].[security_Roles] ON 

GO
INSERT [dbo].[security_Roles] ([Id], [RoleName], [ParentRole], [Detail]) VALUES (38, N'مدیریت', 0, N'{"FirstMenuId":"2168"}')
GO
INSERT [dbo].[security_Roles] ([Id], [RoleName], [ParentRole], [Detail]) VALUES (1043, N'واحد اداری', 0, N'{"FirstMenuId":"2168"}')
GO
SET IDENTITY_INSERT [dbo].[security_Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[security_Users] ON 

GO
INSERT [dbo].[security_Users] ([Id], [Username], [Password], [PAsswordSalt], [FirstName], [LastName], [Mobile], [Email], [Detail], [IsApproved], [Properties], [ExpireTime]) VALUES (49, N'admin', N'QU0DWRsEAHnk2dluDC8Ii2eXu/sH9TGHaJLkLk478Bs=', N'OODXKDFEAX', N'راهبر', N'سیستم', NULL, NULL, N'{"GlobalVariables":[],"IsFullScreen":false,"PageSwiching":0,"Language":null}', 0, N'[]', NULL)
GO
SET IDENTITY_INSERT [dbo].[security_Users] OFF
GO
INSERT [dbo].[security_UsersInRoles] ([UserId], [RoleId]) VALUES (49, 38)
GO
SET IDENTITY_INSERT [dbo].[tbl_GlobalVariables] ON 

GO
INSERT [dbo].[tbl_GlobalVariables] ([Id], [Name], [DefaultValue], [Scope], [Value], [ValuesType]) VALUES (7, N'شهر', N'["[index-3]شیراز"]', 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_GlobalVariables] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_License] ON 

GO
SET IDENTITY_INSERT [dbo].[tbl_License] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_MainMenus] ON 

GO
INSERT [dbo].[tbl_MainMenus] ([Id], [Name], [Type]) VALUES (1, N'داشبورد مدیریت', 2)
GO
INSERT [dbo].[tbl_MainMenus] ([Id], [Name], [Type]) VALUES (3, N'مدیریت', 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_MainMenus] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_MapData] ON 

GO
SET IDENTITY_INSERT [dbo].[tbl_MapData] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_MenuCategories] ON 

GO
INSERT [dbo].[tbl_MenuCategories] ([Id], [MainMenuId], [Name], [Type], [Order], [Owner]) VALUES (59, 3, N'منابع داده', 1, 0, NULL)
GO
INSERT [dbo].[tbl_MenuCategories] ([Id], [MainMenuId], [Name], [Type], [Order], [Owner]) VALUES (60, 3, N'کنترل دسترسی', 2, 0, NULL)
GO
INSERT [dbo].[tbl_MenuCategories] ([Id], [MainMenuId], [Name], [Type], [Order], [Owner]) VALUES (1074, 3, N'متغيرها', 4, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_MenuCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Menus] ON 

GO
INSERT [dbo].[tbl_Menus] ([Id], [MenuCategoryId], [Name], [Link], [Type], [Detail], [Order], [Owner]) VALUES (179, 60, N'مدیریت کاربران', N'Account/UsersList', 2, NULL, 0, NULL)
GO
INSERT [dbo].[tbl_Menus] ([Id], [MenuCategoryId], [Name], [Link], [Type], [Detail], [Order], [Owner]) VALUES (180, 60, N'مدیریت نقش‌ها', N'Account/RolesList', 3, NULL, 0, NULL)
GO
INSERT [dbo].[tbl_Menus] ([Id], [MenuCategoryId], [Name], [Link], [Type], [Detail], [Order], [Owner]) VALUES (181, 59, N'مدیریت منابع داده', N'Moderation/DataSource/index/', 5, NULL, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Settings] ON 

GO
INSERT [dbo].[tbl_Settings] ([Id], [Mail], [Sms], [Brand], [Language]) VALUES (1, NULL, NULL, N'داشبورد مدیریتی صدف', 0)
GO
SET IDENTITY_INSERT [dbo].[tbl_Settings] OFF
GO
INSERT [dbo].[tbl_Version] ([version]) VALUES (49)
GO
ALTER TABLE [dbo].[tbl_Charts] ADD  DEFAULT ((0)) FOR [Trash]
GO
ALTER TABLE [dbo].[tbl_DataSources] ADD  CONSTRAINT [DF_DataSourcesNew_AutoReresh]  DEFAULT ((0)) FOR [AutoReresh]
GO
ALTER TABLE [dbo].[tbl_DataSources] ADD  DEFAULT ((0)) FOR [Trash]
GO
ALTER TABLE [dbo].[tbl_Packages] ADD  DEFAULT ((0)) FOR [Trash]
GO
ALTER TABLE [dbo].[security_PermissionsInRoles]  WITH CHECK ADD  CONSTRAINT [FK_PermissionInRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[security_Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[security_PermissionsInRoles] CHECK CONSTRAINT [FK_PermissionInRole_Role]
GO
ALTER TABLE [dbo].[security_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserInRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[security_Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[security_UsersInRoles] CHECK CONSTRAINT [FK_UserInRole_Role]
GO
ALTER TABLE [dbo].[security_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserInRole_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[security_Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[security_UsersInRoles] CHECK CONSTRAINT [FK_UserInRole_User]
GO
ALTER TABLE [dbo].[tbl_Alerts]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Alerts_tbl_Charts] FOREIGN KEY([ChartId])
REFERENCES [dbo].[tbl_Charts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Alerts] CHECK CONSTRAINT [FK_tbl_Alerts_tbl_Charts]
GO
ALTER TABLE [dbo].[tbl_Charts]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Charts_security_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[security_Users] ([Id])
GO
ALTER TABLE [dbo].[tbl_Charts] CHECK CONSTRAINT [FK_tbl_Charts_security_Users]
GO
ALTER TABLE [dbo].[tbl_DataSource_Chart]  WITH CHECK ADD  CONSTRAINT [FK_tbl_DataSourceNew_Chart_tbl_Charts] FOREIGN KEY([ChartId])
REFERENCES [dbo].[tbl_Charts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_DataSource_Chart] CHECK CONSTRAINT [FK_tbl_DataSourceNew_Chart_tbl_Charts]
GO
ALTER TABLE [dbo].[tbl_DataSource_Chart]  WITH CHECK ADD  CONSTRAINT [FK_tbl_DataSourceNew_Chart_tbl_DataSourcesNew] FOREIGN KEY([DatasourceNewId])
REFERENCES [dbo].[tbl_DataSources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_DataSource_Chart] CHECK CONSTRAINT [FK_tbl_DataSourceNew_Chart_tbl_DataSourcesNew]
GO
ALTER TABLE [dbo].[tbl_Menu_Chart]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Menu_Chart_tChart] FOREIGN KEY([ChartId])
REFERENCES [dbo].[tbl_Charts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Menu_Chart] CHECK CONSTRAINT [FK_tbl_Menu_Chart_tChart]
GO
ALTER TABLE [dbo].[tbl_Menu_Chart]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Menu_Chart_tMenu] FOREIGN KEY([MenuId])
REFERENCES [dbo].[tbl_Menus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Menu_Chart] CHECK CONSTRAINT [FK_tbl_Menu_Chart_tMenu]
GO
ALTER TABLE [dbo].[tbl_MenuCategories]  WITH CHECK ADD  CONSTRAINT [FK_tMenuCategory_tMainMenu] FOREIGN KEY([MainMenuId])
REFERENCES [dbo].[tbl_MainMenus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_MenuCategories] CHECK CONSTRAINT [FK_tMenuCategory_tMainMenu]
GO
ALTER TABLE [dbo].[tbl_Menus]  WITH CHECK ADD  CONSTRAINT [FK_tMenu_tMenuCategory] FOREIGN KEY([MenuCategoryId])
REFERENCES [dbo].[tbl_MenuCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Menus] CHECK CONSTRAINT [FK_tMenu_tMenuCategory]
GO
ALTER TABLE [dbo].[tbl_Partitions]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Partitions_tbl_DataSources] FOREIGN KEY([DataSourceId])
REFERENCES [dbo].[tbl_DataSources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Partitions] CHECK CONSTRAINT [FK_tbl_Partitions_tbl_DataSources]
GO
USE [master]
GO
