
<style>
    /*.dashboard-block {
           #margin-top: 43px;
       }*/

    .freeze-menu {
        padding-top: 5px;
        position: absolute;
        left: 15px;
        top: 0px; 
    }

        .freeze-menu.affix {
            background-color: white;
            border-bottom: 1px solid silver;
            left: 15px;
            width: 81.1%;
            z-index: 1002;
            position: fixed;
            top: 50px;
        }
     
        .freeze-menu.hide-aff {
            margin-top: 0;
            padding-top: 0;
            border-bottom: none;
        }

            .freeze-menu.hide-aff ~ #dashboard-chart-panel {
                /*padding-top: 0px;*/
                /*transition: all 0.4s ease;*/
            }

        .freeze-menu.affix:not(.hide-aff) ~ #dashboard-chart-panel {
            /*padding-top: 40px;*/
        }

        .freeze-menu.hide-aff + .dashboard-block {
            transition: padding 0.4s ease;
            margin-top: 0px;
        }

        .freeze-menu:not(.hide-aff) + .dashboard-block {
            transition: padding 0.4s ease;
            padding-top: 43px;
        }
</style>

<div class="freeze-menu hide-aff ">

    <div class=" chart-container dashboard-page-header collapse fade" style="direction:ltr;">
        <div style="display:table-row">

            <div class="dashboard-navbar-item">
                <svg enable-background="new 0 0 128 32" height="24px" id="device-selector" version="1.1" viewBox="0 0 128 32" width="100px" style="margin-bottom: -9px;">
                    <g transform="scale(1)">
                        <g id="laptop" transform="translate(0,0)" class="close">
                            <rect width="32" height="32" fill="#fff" style="opacity:0" />
                            <path d="M29.881,1.819H1.597c-0.611,0-1.078,0.526-1.078,1.14v22.484c0,0.613,0.467,1.138,1.078,1.138h8.987v0.926  c0,1.052,0.849,1.924,1.901,1.924h6.691c1.051,0,1.918-0.872,1.918-1.924v-0.926h8.787c0.611,0,1.1-0.524,1.1-1.138V2.959  C30.98,2.346,30.492,1.819,29.881,1.819z M14.551,23.572c0-0.745,0.606-1.354,1.354-1.354c0.75,0,1.355,0.608,1.355,1.354  c0,0.75-0.605,1.354-1.355,1.354C15.157,24.927,14.551,24.322,14.551,23.572z M28.275,19.607H3.224V4.25h25.051V19.607z" fill="#515151" />
                        </g>
                        <g id="tablet" transform="translate(32,0)" class="close">
                            <rect width="32" height="32" fill="#fff" style="opacity:0" />
                            <path d="M27.113,0.991h-6.199h-9.081H5.634c-0.64,0-1.296,0.765-1.296,1.404v27.177   c0,0.641,0.656,1.436,1.296,1.436h6.199h9.081h6.199c0.64,0,1.367-0.795,1.367-1.436V2.396C28.48,1.756,27.753,0.991,27.113,0.991z    M16.547,29.539c-0.73,0-1.323-0.594-1.323-1.324c0-0.729,0.593-1.322,1.323-1.322c0.729,0,1.322,0.594,1.322,1.322   C17.869,28.945,17.276,29.539,16.547,29.539z M25.15,24.252H7.464L7.535,4.483H25.15V24.252z" fill="#515151" />
                        </g>
                        <g id="smartphone-land" transform="rotate(90,16,16)translate(0,-64)" class="close">
                            <rect width="32" height="32" fill="#fff" style="opacity:0" />
                            <path d="M25.023,2.772c0-0.624-0.506-1.128-1.129-1.128H9.019c-0.623,0-1.128,0.504-1.128,1.128v26.458   c0,0.622,0.505,1.127,1.128,1.127h14.875c0.623,0,1.129-0.505,1.129-1.127V2.772z M16.449,29.168c-0.733,0-1.328-0.594-1.328-1.327   c0-0.731,0.595-1.325,1.328-1.325c0.732,0,1.326,0.594,1.326,1.325C17.775,28.574,17.182,29.168,16.449,29.168z M22.284,23.519   H10.629V5.345h11.655V23.519z" fill="#515151" />
                        </g>
                        <g id="smartphone" transform="translate(96,0)" class="close">
                            <rect width="32" height="32" fill="#fff" style="opacity:0" />
                            <path d="M25.023,2.772c0-0.624-0.506-1.128-1.129-1.128H9.019c-0.623,0-1.128,0.504-1.128,1.128v26.458   c0,0.622,0.505,1.127,1.128,1.127h14.875c0.623,0,1.129-0.505,1.129-1.127V2.772z M16.449,29.168c-0.733,0-1.328-0.594-1.328-1.327   c0-0.731,0.595-1.325,1.328-1.325c0.732,0,1.326,0.594,1.326,1.325C17.775,28.574,17.182,29.168,16.449,29.168z M22.284,23.519   H10.629V5.345h11.655V23.519z" fill="#515151" />
                        </g>
                    </g>
                </svg>
            </div>

            <div class="dashboard-navbar-item-devider dashboard-navbar-item"></div>

            <div class="dashboard-navbar-item">
                <input id="dashboard-col" type="number" style=" font-size:12px; width:50px; text-align:center; border:1px solid #eee" value="12" />
                <svg enable-background="new 0 0 96 96" height="24px" id="columns" version="1.1" viewBox="0 0 96 96" width="28px" style="margin-right: 7px; margin-bottom: -9px; opacity:0.2" class="">
                    <g>
                        <path d="M84,12H12C5.37,12,0,17.37,0,24v48c0,6.63,5.37,12,12,12h72c6.63,0,12-5.37,12-12V24C96,17.37,90.63,12,84,12z M60,20v56H36  V20H60z M8,72V24c0-2.21,1.79-4,4-4h16v56H12C9.79,76,8,74.21,8,72z M88,72c0,2.21-1.79,4-4,4H68V20h16c2.21,0,4,1.79,4,4V72z" />
                    </g>
                </svg>
            </div>

            <div class="dashboard-navbar-item dashboard-navbar-item-devider"></div>

            <div class="dashboard-navbar-item">
                <a class="close small-icon">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>

        </div>

    </div>

</div>

 

<div class="dashboard-block">

    <div class="chart-container " style="margin:0px 15px 0px 5px;">
        <div class="">
            <div class="">

                <p id='chart-empty-message' style='display: none; margin-top:10px' class='alert alert-info alert-dismissable'>
                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                    نموداری در این صفحه وجود ندارد.
                    با استفاده از کلید  <b><span data-trans-key='اضافه کردن نمودار'> </span></b> می‌توانید نمودار مورد نظر خود را به این صفحه اضافه کنید.
                    در صورتی که هنوز نموداری نساخته‌اید با استفاده از امکانات موجود در قسمت <b><span data-trans-key='مدیریت'> </span></b>،‌ نمودارهای خود را بسازید.
                </p>
            </div>
        </div>
    </div>

    <div class="container-flowed" id="filter-box" ng-app="filterBox" style="margin-top:10px;margin-bottom:-10px; transition:width 0.4s ease">
        <div ng-controller="filterBoxController" id="filter-box-controller">

            <div ng-if="otherFilters.length + userControlFilter.length >1"
                 class="filter-box-item"
                 title="{{'clear'| translate}}">
                <a ng-click="clearAll()" class="pointer"><b>{{'clear'| translate}}</b></a>
                <div class="filter-box-item-content" xng-bind-html="i.Caption"> &nbsp;{{'clear all filters'| translate}}  </div>
            </div>


            <div ng-repeat="j in otherFilters | filter:{value:''}"
                 class="filter-box-item"
                 title="{{j.value}}">
                <div><b>{{j.key}}</b></div>
                <div class="filter-box-item-content" xng-bind-html="i.Caption"> &nbsp;{{j.value}}  </div>
                <span class="small-icon pointer bold filter-box-item-close" ng-click="removeDrillDown($index)"> &times;</span>
            </div>



            <div ng-repeat="i in userControlFilter "
                 ng-if="i.values && i.values.length"
                 class="filter-box-item"
                 title="{{i.values.join(', ')}}">
                <div><b>{{i.key}}</b></div>
                <div class="filter-box-item-content" ng-bind-html="i.Caption"> &nbsp; {{i.Caption}} </div>
                <span class="small-icon pointer bold filter-box-item-close" ng-click="removeUserControl($index)"> &times;</span>
            </div>
        </div>

    </div>


</div>
<div class="chart-container container-flowed" id="dashboard-chart-panel">
    <div class="gridster">
        <div>
        </div>
    </div>
</div>

<div id="delete-modal"></div>