<style>
    .banner {
        display: flex;
        flex-direction: column;
        background: white;
        margin-bottom: 40px;
        /*-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;*/
    }

    .banner img {
        height: 130px;
        width: 130px;
        -o-object-fit: contain;
        object-fit: contain;
        padding: 5px;
        background-color: white;
        border: 1px solid silver;
        position: absolute;
        bottom: -45px;
        right: 20px;
        /*-moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;*/
    }

    .banner .top {
        background-image: radial-gradient(circle, rgb(255, 152, 0), rgb(239, 108, 0));
        background-image: url({{gApp.urlPrefix}}images/banner.jpg);
        background-size: cover;
        background-position: bottom;
        height: 120px;
        position: relative;
        /*-webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;*/
    }

    .banner > .search {
        padding: 10px 10px 10px 10px;
    }

    .banner .column {
        min-height: initial;
    }

    .banner .title {
        padding: 10px 170px 10px 10px;
        font-weight: 900;
        color: #142330;
        font-size: 1.5em;
        color: #333333;
    }

    .card-item {
        /*height: 180px;*/
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .card-item img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
    .card-item.fit img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .card-item.fit {
        padding: 0;
    }
    .banner .search-bar {
        padding-right: 165px;
    }
    .apps-container-root {
        padding: 0 20px;
    }
    @media (max-width: 767px) {
        .banner .stackable.grid {
            margin-top: 60px;
            margin-bottom: 10px;
        }
        .banner .search-bar {
            padding-right: 0px;
        }
        .apps-container-root {
            padding: 0;
            margin: 0 !important;
        }
    }
</style>

<div class="banner">
    <div class="top">
        <!--<img src="{{gApp.urlPrefix}}api/settings/getLogo/0" />-->
        <img src="{{gApp.urlPrefix}}images/logo_half.png" />
    </div>
    <div class="ui fluid container search-bar">
        <div class="search ui stackable grid" style="padding: 10px 0">
            <div class="ten wide column">
                <div class="ui icon fluid input" ng-class="{loading:searchProgress}" style="margin-bottom: 10px">
                    <input
                        type="text"
                        placeholder="جستجو..."
                        ng-model="query"
                        ng-change="search(query)"
                        ng-model-options="{ debounce: 600 }"
                        class="ng-pristine ng-valid ng-empty ng-touched"
                    />
                    <i class="search icon"></i>
                </div>
            </div>

            <!--<div class="two wide column ">
                <a class=" teal fluid ui button" ng-if="isAdmin" ng-click="add()"><i class="icon add"></i> <span class="mobile hidden">پروژه جدید</span> </a>
            </div>-->

            <div class="two wide column" style="text-align: left; padding-left: 40px">
                <div class="userinfo ui dropdown">
                    <div style="white-space: nowrap">
                        <span class="user-account-hide-segment"> {{userInfo}} </span>
                        <i class="icon user outline large"></i>
                    </div>
                    <div class="menu transition hidden" tabindex="-1">
                        <a ng-if="hasAminPermission" class="item user-account-hide-segment" href="{{gApp.urlPrefix}}sadaf/management/"
                            ><i class="icon setting"></i> {{'mainmenu_management' | translate}}
                        </a>
                        <a class="item user-account-hide-segment" href="{{gApp.urlPrefix}}profile/"><i class="icon user"></i> {{'profile' | translate}} </a>
                        <a class="item" href="{{gApp.urlPrefix}}account/logoff" ><i class="icon sign out"></i>{{'signout' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui fluid container apps-container-root" style="">
    <div ng-show="path.length">
        <span>
            <a class="section" ng-href="{{gApp.hashUrlPrefix + '#/'+0}}">اصلی</a>
            <span class="divider"> / </span>
        </span>
        <span ng-repeat="i in path">
            <a class="section" ng-href="{{gApp.hashUrlPrefix + '#/'+i.id}}">{{i.name}}</a>
            <span class="divider"> / </span>
        </span>
        <br />
        <br />
    </div>

    <div class="ui stackable grid">
        <div class="nine wide column">
            <div ng-show="searchResult.length || query.length">
                <div class="ui segments">
                    <div class="ui segment" ng-repeat="r in searchResult">
                        <a href="/#/app/{{r.order}}/dashboard/{{+r.id}}">{{r.name}}</a>
                    </div>
                </div>
                <div ng-show="!searchResult.length && query.length">نتیجه‌ای یافت نشد</div>
            </div>

            <div class="ui five stackable cards" ng-hide="searchResult.length || query.length">
                <div class="ui loader active" ng-show="appLoading"></div>
                <apps-layout antiforgerykeeper="antiForgeryKeeper" data="data" ng-if="data" parent="parent" permissions="appsPermissions" style="display: block; width: 100%; margin-bottom: 40px"></apps-layout>
            </div>
        </div>
        <div class="three wide column">
            <div>
                <h5 class="ui top attached header">صفحه‌های محبوب</h5>
                <div class="ui small compact segment attached" style="padding: 5px 15px" ng-repeat="i in favoriteMenus">
                    <a class="" ng-href="{{gApp.urlPrefix + '#/app/' + i.mainmenuId + '/dashboard/'+ i.id}}">{{i.name}}</a>
                    &nbsp;<small style="display: inline-block; color: #bdbdbd"> {{persian(moment.utc(i.time).format('jYYYY/jMM/jDD'))}}</small>
                </div>
            </div>
            <br />
            <div>
                <h5 class="ui top attached header">صفحه‌های پربازدید</h5>
                <div class="ui small compact segment attached" style="padding: 5px 15px" ng-repeat="i in mostRecentMenus">
                    <a class="" ng-href="{{gApp.urlPrefix + '#/app/' + i.mainmenuId + '/dashboard/'+ i.id}}">{{i.name}}</a>
                    &nbsp;<small style="display: inline-block; color: #bdbdbd">{{persian(moment.utc(i.time).format('jYYYY/jMM/jDD'))}}</small>
                </div>
            </div>

            <r-comp model="cModel"></r-comp>
        </div>
    </div>
</div>

<div class="ui modal notify tw-relative modal-fixpos">
    <i class="close icon"></i>
    <div class="header">
        <h3 xstyle="margin-bottom:40px">پیام‌ها</h3>
    </div>
    <div class="contentx"> 
        <notification-body hide-actions></notification-body>
    </div>
    <div class="actions">
        <div class="ui button" ng-click="readClose()">خواندن و بستن</div>
        <div class="ui basic button" ng-click="close()" >بستن</div>
    </div>
</div>


<div class="ui modal confirm-modal modal-fixpos tw-relative">
    <div class="header">
        <h3 class="title">احراز هویت مجدد</h3>
    </div>
    <div class="content"> 
        <p class="message">
            با توجه به حساسیت فعالیتی که میخواهید انجام دهید، 
            لازم است مجددا کلمه عبور خود را وارد نمایید.
        </p>

        <div class="ui form input-body">
            <div class="field input-body1">
                <label class="input-label">کلمه عبور</label>
                <input type="text" autocomplete="false" name="confirm-modal-i1"/>
            </div>
            <div class="field input-body2">
                <label class="input-label2">کلمه عبور</label>
                <input type="text" autocomplete="false" name="confirm-modal-i2"/>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button green action-ok" >تایید</div>
        <div class="ui button close action-cancel" >بستن</div>
    </div>
</div>
